
ALTER     PROCEDURE [dbo].[spAsientos_Guardar]
    @Fecha DATE,
    @Comentario NVARCHAR(500),
    @DetalleJson NVARCHAR(MAX),
    @CodTipoAsiento VARCHAR(10) = 'ASM',
    @BaseID INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF @DetalleJson IS NULL OR LEN(LTRIM(RTRIM(@DetalleJson))) = 0
        BEGIN
            RAISERROR('No se recibieron detalles del asiento.', 16, 1);
        END;

        DECLARE @Detalle TABLE (
            Cuenta VARCHAR(50) NOT NULL,
            Debito DECIMAL(18, 2) NOT NULL DEFAULT 0,
            Credito DECIMAL(18, 2) NOT NULL DEFAULT 0
        );

        INSERT INTO @Detalle (Cuenta, Debito, Credito)
        SELECT
            Cuenta,
            ISNULL(Debito, 0) AS Debito,
            ISNULL(Credito, 0) AS Credito
        FROM OPENJSON(@DetalleJson)
        WITH (
            Cuenta VARCHAR(50) '$.Cuenta',
            Debito DECIMAL(18,2) '$.Debito',
            Credito DECIMAL(18,2) '$.Credito'
        );

        IF NOT EXISTS(SELECT 1 FROM @Detalle)
        BEGIN
            RAISERROR('No se encontraron líneas válidas en el detalle del asiento.', 16, 1);
        END;

        DECLARE @TotalDebito DECIMAL(18, 2) = (SELECT SUM(ISNULL(Debito, 0)) FROM @Detalle);
        DECLARE @TotalCredito DECIMAL(18, 2) = (SELECT SUM(ISNULL(Credito, 0)) FROM @Detalle);

        IF ROUND(ISNULL(@TotalDebito, 0), 2) <> ROUND(ISNULL(@TotalCredito, 0), 2)
        BEGIN
            RAISERROR('El asiento no está balanceado. El total de débitos debe ser igual al total de créditos.', 16, 1);
        END;

        BEGIN TRANSACTION;

        ---- Si BaseID es 0, calcular el siguiente BaseID disponible
        --IF @BaseID = 0
        --BEGIN
        --    SELECT @BaseID = ISNULL(MAX(BaseID), 0) + 1 
        --    FROM tbAsientos 
        --    WHERE snEliminado = 0;
        --END;

        INSERT INTO tbAsientos (
            Fecha,
            CodTipoAsiento,
            BaseID,
            BaseType,
            Cuenta,
            Debito,
            Credito,
            Memo,
            snEliminado
        )
        SELECT
            @Fecha,
            @CodTipoAsiento,
            @BaseID,
            Null as BaseType,
            d.Cuenta,
            d.Debito,
            d.Credito,
            @Comentario,
            0
        FROM @Detalle d;

        COMMIT TRANSACTION;

        SELECT 
            'SUCCESS' AS Resultado, 
            'Asiento guardado correctamente' AS Mensaje,
            @BaseID AS AsientoID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 
            'ERROR' AS Resultado, 
            'Error: ' + ERROR_MESSAGE() AS Mensaje,
            0 AS AsientoID;
    END CATCH
END

