
ALTER   PROCEDURE [dbo].[spAuxiliares_GuardarAuxiliar]
    @ID INT = 0,
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(5),
    @TipoAuxiliar INT,
    @Cuota NUMERIC(18,2) = 0,
    @Saldo NUMERIC(18,2) = 0,
    @MontoOriginal NUMERIC(18,2) = 0,
    @MontoPignorado NUMERIC(18,2) = 0,
    @FechaOtorgado DATETIME = NULL,
    @TasaInteres NUMERIC(18,2) = 0,
    @PagoMes NUMERIC(18,2) = 0,
    @UsuarioID INT,
    @PorcManejo numeric(18,2) = 0,
    @PorcCap numeric(18,2) = 0,
    @MontoManejo numeric(18,2) = 0,
    @MontoCap numeric(18,2) = 0,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    ---------------------------------------------------------
    -- VALIDACIONES (SIN TRANSACCIÓN)
    ---------------------------------------------------------
    IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF @CodigoRubro IS NULL OR @CodigoRubro = ''
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El código de rubro es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF @TipoAuxiliar IS NULL OR @TipoAuxiliar = 0
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroAsociado=@NumeroAsociado AND snEliminado=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El asociado no existe o está eliminado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (SELECT 1 FROM tbRubros WHERE CodigoRubro=@CodigoRubro AND snEliminado=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El rubro no existe o está eliminado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (
        SELECT 1 FROM tbTiposAuxiliares 
        WHERE CodigoRubro=@CodigoRubro AND ID=@TipoAuxiliar AND snEliminado=0
    )
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar no existe para el rubro seleccionado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    --VALIDAR CANTIDAD DE AUXILIARES POR ASOCIADO
    declare @MaxAuxiliares int;
    declare @CantAuxiliares int;

    SELECT  @MaxAuxiliares = TRY_CAST(ParamValue AS INT)
    FROM    tbParamsKeys
    WHERE   ParamKey = ('MAX_CANT_AUXILIARES_SOCIO_' + @CodigoRubro);

    SET @MaxAuxiliares = ISNULL(@MaxAuxiliares, 5);

    Select @CantAuxiliares = count(distinct ID) from tbAuxiliares
    Where NumeroAsociado=@NumeroAsociado AND snEliminado=0 and snActivo=1
            and CodigoRubro=@CodigoRubro;

    SET @CantAuxiliares = ISNULL(@CantAuxiliares, 0);

    IF (@CantAuxiliares>=@MaxAuxiliares)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El socio ya alcanzó el límite de auxiliares para este rubro <b>(' + cast(@MaxAuxiliares as nvarchar(max)) + ')</b>. No se generó el nuevo auxiliar.' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    ---------------------------------------------------------
    -- CONTROL DE TRANSACCIÓN
    ---------------------------------------------------------
    DECLARE @TransaccionPropia BIT = 0;

    IF @@TRANCOUNT = 0
    BEGIN
        SET @TransaccionPropia = 1;
        BEGIN TRANSACTION;
    END

    ---------------------------------------------------------
    -- VARIABLES DE RESPUESTA
    ---------------------------------------------------------
    DECLARE @Resultado VARCHAR(20) = 'SUCCESS';
    DECLARE @Mensaje NVARCHAR(300) = '';
    DECLARE @NuevoID INT = NULL;

    ---------------------------------------------------------
    -- LÓGICA PRINCIPAL
    ---------------------------------------------------------
    BEGIN TRY

        ---------------------------------------------------------
        -- CREAR NUEVO AUXILIAR
        ---------------------------------------------------------
        IF @ID = 0
        BEGIN
            -- Consecutivo
            UPDATE tbControlConsecutivos WITH (UPDLOCK, HOLDLOCK)
            SET @NuevoID = UltimoConsecutivo + 1,
                UltimoConsecutivo = UltimoConsecutivo + 1
            WHERE Tabla='tbAuxiliares';

            IF @@ROWCOUNT = 0 OR @NuevoID IS NULL
            BEGIN
                SET @Resultado='ERROR';
                SET @Mensaje='No se pudo generar el nuevo ID';
                IF @TransaccionPropia=1 ROLLBACK;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                RETURN;
            END

            --nos aseguramos que el saldo inicial sea igual a cero
            Set @Saldo = 0;

            /*para guardar el consecutivo en lugar del ID*/
            DECLARE @TipoAux int;
            Select @TipoAux = TipoAuxiliar from tbTiposAuxiliares Where ID=@TipoAuxiliar;
            /*para guardar el consecutivo en lugar del ID*/


            -- Insert
            INSERT INTO tbAuxiliares (
                ID,NumeroAsociado,CodigoRubro,TipoAuxiliar,
                Cuota,Saldo,MontoOriginal,MontoPignorado,
                FechaOtorgado,TasaInteres,PagoMes,
                FechaCreacion,UsuarioCrea,snEliminado,
                SysLastSessionID,InteresCalculado,InteresPagado,
                FechaUltCalculoInteres,PorcManejo,PorcCapitalizacion,
                MontoManejo,MontoCapitalizacion, snActivo
            )
            VALUES (
                @NuevoID,@NumeroAsociado,@CodigoRubro,@TipoAux,
                @Cuota,@Saldo,@MontoOriginal,@MontoPignorado,
                @FechaOtorgado,@TasaInteres,@PagoMes,
                GETDATE(),@UsuarioID,0,
                @IdSession,0,0,
                @FechaOtorgado,@PorcManejo,@PorcCap,
                @MontoManejo,@MontoCap,1
            );


            IF(@CodigoRubro='PR')
            BEGIN
                 -------------------------------------------------
                 -- MOVIMIENTO PARA EL SALDO INICIAL
                 -------------------------------------------------
                 Declare @CodTransSaldoIni VARCHAR(10) = ISNULL(
                                (SELECT ParamValue 
                                 FROM tbParamsKeys 
                                 WHERE ParamKey='CODIGO_TRANSACCION_SALDO_INICIAL_PR'),
                                'PRNEW');
                 Declare @MensajeMovSaldo nvarchar(max)='';
                 Declare @MovimientoID_Capital int, @MovimientoID_Interes int;

                 Exec [spMovimientos_GuardarMovimiento]
                        @NumeroAsociado = @NumeroAsociado,
                        @CodigoRubro    = @CodigoRubro,
                        @IDAuxiliar     = @NuevoID,
                        @CodigoTransaccion = @CodTransSaldoIni,
                        @Monto             = @MontoOriginal,
                        @UsuarioID         = @UsuarioID,
                        @Observaciones     = 'Saldo inicial',
                        @BaseID         = NULL,
                        @BaseType       = NULL,
                        @MensajeVal     = @MensajeMovSaldo OUTPUT,
                        @MovimientoID_Capital = @MovimientoID_Capital OUTPUT,
                        @MovimientoID_Interes = @MovimientoID_Interes OUTPUT

                  -- Si hubo error en capitalización
                IF IsNull(@MensajeMovSaldo, '') != ''
                BEGIN
                    SET @Resultado = 'ERROR';
                    SET @Mensaje  = 'Error en movimiento de saldo inicial: ' + @MensajeMovSaldo;

                    IF @TransaccionPropia = 1 ROLLBACK;

                    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                    RETURN;
                END
            END
            -------------------------------------------------
            -- CAPITALIZACIÓN (PR + MontoCap > 0)
            -------------------------------------------------
            IF (@CodigoRubro = 'PR' AND @MontoCap > 0)
            BEGIN
                DECLARE @MsgCap nvarchar(max);

                EXEC [spAuxiliares_CrearCapitalizacion]
                        @AuxiliarOrigen = @NuevoID,
                        @NumeroAsociado = @NumeroAsociado,
                        @CodigoRubro    = @CodigoRubro,
                        @Monto          = @MontoCap,
                        @UsuarioID      = @UsuarioID,
                        @IdSession      = @IdSession,
                        @Mensaje        = @MsgCap OUTPUT;

                -- Si hubo error en capitalización
                IF IsNull(@MsgCap, '') != ''
                BEGIN
                    SET @Resultado = 'ERROR';
                    SET @Mensaje  = 'Error en capitalización: ' + @MsgCap;

                    IF @TransaccionPropia = 1 ROLLBACK;

                    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                    RETURN;
                END
            END


            -------------------------------------------------
            -- GASTOS DE MANEJO (PR + MontoManejo > 0)
            -------------------------------------------------
            IF (@CodigoRubro = 'PR' AND @MontoManejo > 0)
            BEGIN
                --id axiliar @NuevoID
                Declare @CodTranManejo nvarchar(10);
                Declare @MensajeAsientoManejo nvarchar(max)='';

                SET @CodTranManejo = ISNULL(
                                (SELECT ParamValue 
                                 FROM tbParamsKeys 
                                 WHERE ParamKey='COD_TRANSACCION_MANEJO'),
                                'PRPMA');

                Exec [spMovimientos_GuardarAsiento]
                        @CodigoTransaccion = @CodTranManejo,
                        @Monto = @MontoManejo,
                        @Observaciones = 'MANEJO PRÉSTAMO',
                        @CodTipoAsiento = 'TRAAU',
                        @BaseID  = @NuevoID,
                        @BaseType = 'PRESTAMO',
                        @MovimientoID = NULL,
                        @Mensaje = @MensajeAsientoManejo OUTPUT;

                IF IsNull(@MensajeAsientoManejo, '') != ''
                BEGIN
                    SET @Resultado = 'ERROR';
                    SET @Mensaje  = 'Error en gastos de manejo: ' + @MensajeAsientoManejo;

                    IF @TransaccionPropia = 1 ROLLBACK;

                    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                    RETURN;
                END
            END;


            SET @Mensaje='Auxiliar creado exitosamente';
        END

        ---------------------------------------------------------
        -- ACTUALIZAR AUXILIAR EXISTENTE
        ---------------------------------------------------------
        ELSE
        BEGIN
            UPDATE tbAuxiliares
            SET CodigoRubro=@CodigoRubro,
                TipoAuxiliar=@TipoAuxiliar,
                Cuota=@Cuota,
                Saldo=@Saldo,
                MontoOriginal=@MontoOriginal,
                MontoPignorado=@MontoPignorado,
                FechaOtorgado=@FechaOtorgado,
                TasaInteres=@TasaInteres,
                PagoMes=@PagoMes,
                FechaModificacion=GETDATE(),
                UsuarioModifica=@UsuarioID,
                MontoManejo=@MontoManejo,
                MontoCapitalizacion=@MontoCap,
                SysLastSessionID=@IdSession
            WHERE ID=@ID AND NumeroAsociado=@NumeroAsociado AND snEliminado=0;

            IF @@ROWCOUNT = 0
            BEGIN
                SET @Resultado='ERROR';
                SET @Mensaje='No se encontró el auxiliar a actualizar';
                IF @TransaccionPropia=1 ROLLBACK;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                RETURN;
            END

            SET @Mensaje='Auxiliar actualizado exitosamente';
        END

        ---------------------------------------------------------
        -- COMMIT SOLO SI LA TRANSACCIÓN ES PROPIA
        ---------------------------------------------------------
        IF @TransaccionPropia = 1 COMMIT;

    END TRY
    BEGIN CATCH
        IF @TransaccionPropia = 1 AND @@TRANCOUNT > 0 ROLLBACK;

        SELECT 
            'ERROR' AS Resultado,
            'Error al guardar auxiliar: ' + ERROR_MESSAGE() AS Mensaje,
            NULL AS NuevoID;
        RETURN;
    END CATCH

    ---------------------------------------------------------
    -- RESPUESTA FINAL
    ---------------------------------------------------------
    SELECT @Resultado AS Resultado,
           @Mensaje AS Mensaje,
           @NuevoID AS NuevoID;
END