USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_ObtenerDatosComprobante]    Script Date: 04/feb/2026 02:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[spAuxiliares_ObtenerDatosComprobante]
    @AuxiliarID INT,
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        right('000000000000' + cast(a.ID as varchar(12)),12) AS ID,
        a.NumeroAsociado,
        s.TipoIdentificacion,
        s.NumeroIdentificacion,
        s.TipoIdentificacion as CodTipoDoc,
        s.Nombre + ' ' + s.Apellido AS NombreAsociado,
        a.CodigoRubro,
        r.Descripcion AS DescripcionRubro,
        a.TipoAuxiliar,
         IsNull(a.Cuota,0) as Cuota,
        ta.Descripcion AS DescripcionTipoAuxiliar,
        right('000000000000' + cast(a.ID as varchar(12)),12) AS Cuenta,
        a.MontoOriginal,
        a.TasaInteres,
        a.PagoMes,
        a.FechaOtorgado,
        a.FechaCreacion,
        u.Nombre AS UsuarioNombre,
        a.PorcManejo,
        a.PorcCapitalizacion,
        a.MontoManejo,
        a.MontoCapitalizacion,
        case a.CodigoRubro 
            When 'PR' Then IsNull(a.MontoOriginal,0) - IsNull(a.MontoManejo,0) - IsNull(a.MontoCapitalizacion,0)
            Else 0 End as MontoDesembolso,
        case a.CodigoRubro 
            When 'PR' Then IsNull(a.MontoOriginal,0)
            Else 0 End as MontoTotal

    FROM tbAuxiliares a
    INNER JOIN tbAsociados s ON a.NumeroAsociado = s.NumeroAsociado 
    LEFT JOIN tbRubros r ON a.CodigoRubro = r.CodigoRubro AND (r.snEliminado = 0 OR r.snEliminado IS NULL)
    LEFT JOIN tbTiposAuxiliares ta ON a.TipoAuxiliar = ta.TipoAuxiliar 
        AND a.CodigoRubro = ta.CodigoRubro 
        AND (ta.snEliminado = 0 OR ta.snEliminado IS NULL)
    LEFT JOIN tbUsuarios u ON a.UsuarioCrea = u.Id AND (u.snEliminado = 0 OR u.snEliminado IS NULL)
    WHERE a.ID = @AuxiliarID
      AND a.NumeroAsociado = @NumeroAsociado
      AND a.snEliminado = 0
      AND s.snEliminado = 0;
END;
go

Exec spAuxiliares_ObtenerDatosComprobante  @AuxiliarID= 248, @NumeroAsociado= 3