
create or  alter   PROCEDURE [dbo].[spAsientos_Listar]
    @FechaDesde VARCHAR(8) = NULL,
    @FechaHasta VARCHAR(8) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Convertir fechas de formato yyyyMMdd a DATE
        DECLARE @FechaDesdeDate DATE = NULL;
        DECLARE @FechaHastaDate DATE = NULL;

        IF @FechaDesde IS NOT NULL AND LEN(@FechaDesde) = 8
        BEGIN
            SET @FechaDesdeDate = CONVERT(DATE, @FechaDesde, 112);
        END

        IF @FechaHasta IS NOT NULL AND LEN(@FechaHasta) = 8
        BEGIN
            SET @FechaHastaDate = CONVERT(DATE, @FechaHasta, 112);
        END

         SELECT 
            A.[ID] AS [ID Asiento],
            CONVERT(VARCHAR(10), A.[Fecha], 103) AS [Fecha del Asiento],
            FORMAT(A.[Fecha], 'hh:mm:ss tt') AS [Hora del Asiento],
            A.[CodTipoAsiento] AS [Código Tipo Asiento],
            TA.[TipoAsiento] AS [Tipo de Asiento],
            A.[BaseID] AS [ID Base],
            A.[Cuenta] AS [Código de Cuenta],
            IsNull(C.[Nombre],'-') AS [Nombre de la Cuenta],
            FORMAT(IsNull(A.[Debito], 0), 'N2')  AS [Débito],
            FORMAT(IsNull(A.[Credito], 0), 'N2') AS [Crédito],
            A.[Memo] AS [Comentario],
            CASE WHEN A.[snEliminado] = 1 THEN 'SI' ELSE 'NO' END AS [¿Eliminado?]
        FROM [dbo].[tbAsientos] A
        LEFT JOIN [dbo].[tbTipoAsiento] TA ON A.[CodTipoAsiento] = TA.[CodTipoAsiento]
        LEFT JOIN [dbo].[tbCuentas] C ON A.[Cuenta] = C.[Cuenta] 
        WHERE A.[snEliminado] = 0
            AND (@FechaDesdeDate IS  NULL OR CONVERT(VARCHAR(8), A.[Fecha], 112) >= @FechaDesdeDate)
            AND (@FechaHastaDate IS  NULL OR CONVERT(VARCHAR(8), A.[Fecha], 112) <= @FechaHastaDate)
            
        ORDER BY A.[Fecha]
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
