
ALTER   PROCEDURE [dbo].[spReportes_Asientos]
    @IdUsuario INT=null
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            A.[ID] AS [ID Asiento],
            CONVERT(VARCHAR(10), A.[Fecha], 103) AS [Fecha del Asiento],
            FORMAT(A.[Fecha], 'hh:mm:ss tt') AS [Hora del Asiento],
            A.[CodTipoAsiento] AS [Código Tipo Asiento],
            TA.[TipoAsiento] AS [Tipo de Asiento],
            A.[BaseID] AS [ID Base],
            A.[Cuenta] AS [Código de Cuenta],
            IsNull(C.[Nombre],'-') AS [Nombre de la Cuenta],
            FORMAT(IsNull(A.[Debito], 0), 'N2')  AS [Débito],
            FORMAT(IsNull(A.[Credito], 0), 'N2') AS [Crédito],
            A.[Memo] AS [Comentario],
            CASE WHEN A.[snEliminado] = 1 THEN 'SI' ELSE 'NO' END AS [¿Eliminado?]
        FROM [dbo].[tbAsientos] A
        LEFT JOIN [dbo].[tbTipoAsiento] TA ON A.[CodTipoAsiento] = TA.[CodTipoAsiento]
        LEFT JOIN [dbo].[tbCuentas] C ON A.[Cuenta] = C.[Cuenta] 
        WHERE A.[snEliminado] = 0
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
