CREATE OR ALTER PROCEDURE [dbo].[spAuxiliares_GuardarAuxiliar]
    @ID INT = 0,
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(5),
    @TipoAuxiliar INT,
    @Cuota NUMERIC(18,2) = 0,
    @Saldo NUMERIC(18,2) = 0,
    @MontoOriginal NUMERIC(18,2) = 0,
    @MontoPignorado NUMERIC(18,2) = 0,
    @FechaOtorgado DATETIME = NULL,
    @TasaInteres NUMERIC(18,2) = 0,
    @PagoMes NUMERIC(18,2) = 0,
    @UsuarioID INT,
    @PorcManejo numeric(18,2) = 0,
    @PorcCap numeric(18,2) = 0,
    @MontoManejo numeric(18,2) = 0,
    @MontoCap numeric(18,2) = 0,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    ---------------------------------------------------------
    -- VALIDACIONES (SIN TRANSACCIÓN)
    ---------------------------------------------------------
    IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF @CodigoRubro IS NULL OR @CodigoRubro = ''
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El código de rubro es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF @TipoAuxiliar IS NULL OR @TipoAuxiliar = 0
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroAsociado=@NumeroAsociado AND snEliminado=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El asociado no existe o está eliminado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (SELECT 1 FROM tbRubros WHERE CodigoRubro=@CodigoRubro AND snEliminado=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El rubro no existe o está eliminado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (
        SELECT 1 FROM tbTiposAuxiliares 
        WHERE CodigoRubro=@CodigoRubro AND ID=@TipoAuxiliar AND snEliminado=0
    )
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar no existe para el rubro seleccionado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    ---------------------------------------------------------
    -- CONTROL DE TRANSACCIÓN
    ---------------------------------------------------------
    DECLARE @TransaccionPropia BIT = 0;

    IF @@TRANCOUNT = 0
    BEGIN
        SET @TransaccionPropia = 1;
        BEGIN TRANSACTION;
    END

    ---------------------------------------------------------
    -- VARIABLES DE RESPUESTA
    ---------------------------------------------------------
    DECLARE @Resultado VARCHAR(20) = 'SUCCESS';
    DECLARE @Mensaje NVARCHAR(300) = '';
    DECLARE @NuevoID INT = NULL;

    ---------------------------------------------------------
    -- LÓGICA PRINCIPAL
    ---------------------------------------------------------
    BEGIN TRY

        ---------------------------------------------------------
        -- CREAR NUEVO AUXILIAR
        ---------------------------------------------------------
        IF @ID = 0
        BEGIN
            -- Consecutivo
            UPDATE tbControlConsecutivos WITH (UPDLOCK, HOLDLOCK)
            SET @NuevoID = UltimoConsecutivo + 1,
                UltimoConsecutivo = UltimoConsecutivo + 1
            WHERE Tabla='tbAuxiliares';

            IF @@ROWCOUNT = 0 OR @NuevoID IS NULL
            BEGIN
                SET @Resultado='ERROR';
                SET @Mensaje='No se pudo generar el nuevo ID';
                IF @TransaccionPropia=1 ROLLBACK;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                RETURN;
            END


            IF @CodigoRubro='PR' AND @Saldo=0
            BEGIN
                Set @Saldo = @MontoOriginal;
            END

            -- Insert
            INSERT INTO tbAuxiliares (
                ID,NumeroAsociado,CodigoRubro,TipoAuxiliar,
                Cuota,Saldo,MontoOriginal,MontoPignorado,
                FechaOtorgado,TasaInteres,PagoMes,
                FechaCreacion,UsuarioCrea,snEliminado,
                SysLastSessionID,InteresCalculado,InteresPagado,
                FechaUltCalculoInteres,PorcManejo,PorcCapitalizacion,
                MontoManejo,MontoCapitalizacion, snActivo
            )
            VALUES (
                @NuevoID,@NumeroAsociado,@CodigoRubro,@TipoAuxiliar,
                @Cuota,@Saldo,@MontoOriginal,@MontoPignorado,
                @FechaOtorgado,@TasaInteres,@PagoMes,
                GETDATE(),@UsuarioID,0,
                @IdSession,0,0,
                @FechaOtorgado,@PorcManejo,@PorcCap,
                @MontoManejo,@MontoCap,1
            );

            -------------------------------------------------
            -- CAPITALIZACIÓN (PR + MontoCap > 0)
            -------------------------------------------------
            IF (@CodigoRubro = 'PR' AND @MontoCap > 0)
            BEGIN
                DECLARE @MsgCap nvarchar(max);

                EXEC [spAuxiliares_CrearCapitalizacion]
                        @AuxiliarOrigen = @NuevoID,
                        @NumeroAsociado = @NumeroAsociado,
                        @CodigoRubro    = @CodigoRubro,
                        @Monto          = @MontoCap,
                        @UsuarioID      = @UsuarioID,
                        @IdSession      = @IdSession,
                        @Mensaje        = @MsgCap OUTPUT;

                -- Si hubo error en capitalización
                IF IsNull(@MsgCap, '') != ''
                BEGIN
                    SET @Resultado = 'ERROR';
                    SET @Mensaje  = 'Error en capitalización: ' + @MsgCap;

                    IF @TransaccionPropia = 1 ROLLBACK;

                    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                    RETURN;
                END
            END


            -------------------------------------------------
            -- GASTOS DE MANEJO (PR + MontoManejo > 0)
            -------------------------------------------------
            IF (@CodigoRubro = 'PR' AND @MontoManejo > 0)
            BEGIN
                --id axiliar @NuevoID
                Declare @CodTranManejo nvarchar(10);
                Declare @MensajeAsientoManejo nvarchar(max)='';

                SET @CodTranManejo = ISNULL(
                                (SELECT ParamValue 
                                 FROM tbParamsKeys 
                                 WHERE ParamKey='COD_TRANSACCION_MANEJO'),
                                'PRMAN');

                Exec [spMovimientos_GuardarAsiento]
                        @CodigoTransaccion = @CodTranManejo,
                        @Monto = @MontoManejo,
                        @Observaciones = 'MANEJO PRÉSTAMO',
                        @CodTipoAsiento = 'TRAAU',
                        @BaseID  = @NuevoID,
                        @BaseType = 'PRESTAMO',
                        @MovimientoID = NULL,
                        @Mensaje = @MensajeAsientoManejo OUTPUT;

                IF IsNull(@MensajeAsientoManejo, '') != ''
                BEGIN
                    SET @Resultado = 'ERROR';
                    SET @Mensaje  = 'Error en gastos de manejo: ' + @MsgCap;

                    IF @TransaccionPropia = 1 ROLLBACK;

                    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                    RETURN;
                END
            END;


            SET @Mensaje='Auxiliar creado exitosamente';
        END

        ---------------------------------------------------------
        -- ACTUALIZAR AUXILIAR EXISTENTE
        ---------------------------------------------------------
        ELSE
        BEGIN
            UPDATE tbAuxiliares
            SET CodigoRubro=@CodigoRubro,
                TipoAuxiliar=@TipoAuxiliar,
                Cuota=@Cuota,
                Saldo=@Saldo,
                MontoOriginal=@MontoOriginal,
                MontoPignorado=@MontoPignorado,
                FechaOtorgado=@FechaOtorgado,
                TasaInteres=@TasaInteres,
                PagoMes=@PagoMes,
                FechaModificacion=GETDATE(),
                UsuarioModifica=@UsuarioID,
                MontoManejo=@MontoManejo,
                MontoCapitalizacion=@MontoCap,
                SysLastSessionID=@IdSession
            WHERE ID=@ID AND NumeroAsociado=@NumeroAsociado AND snEliminado=0;

            IF @@ROWCOUNT = 0
            BEGIN
                SET @Resultado='ERROR';
                SET @Mensaje='No se encontró el auxiliar a actualizar';
                IF @TransaccionPropia=1 ROLLBACK;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                RETURN;
            END

            SET @Mensaje='Auxiliar actualizado exitosamente';
        END

        ---------------------------------------------------------
        -- COMMIT SOLO SI LA TRANSACCIÓN ES PROPIA
        ---------------------------------------------------------
        IF @TransaccionPropia = 1 COMMIT;

    END TRY
    BEGIN CATCH
        IF @TransaccionPropia = 1 AND @@TRANCOUNT > 0 ROLLBACK;

        SELECT 
            'ERROR' AS Resultado,
            'Error al guardar auxiliar: ' + ERROR_MESSAGE() AS Mensaje,
            NULL AS NuevoID;
        RETURN;
    END CATCH

    ---------------------------------------------------------
    -- RESPUESTA FINAL
    ---------------------------------------------------------
    SELECT @Resultado AS Resultado,
           @Mensaje AS Mensaje,
           @NuevoID AS NuevoID;
END