CREATE OR ALTER   PROCEDURE [dbo].[spSocios_CalcularSostenibilidad]
    @UsuarioID INT = 0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessages VARCHAR(MAX) = '';
    DECLARE @CodTran NVARCHAR(10) = '';

    ---------------------------------------------------------
    -- 1. Llenar tabla temporal con los asociados
    ---------------------------------------------------------
    SELECT 
        a.NumeroAsociado,
        ROW_NUMBER() OVER (ORDER BY a.NumeroAsociado) AS RowNumber
    INTO #Pendientes
    FROM dbo.tbAsociados AS a
    WHERE a.snEliminado = 0
      and a.Estatus='A';

    DECLARE @TotalRows INT = (SELECT COUNT(*) FROM #Pendientes);
    DECLARE @CurrentRowNumber INT = 1;

    ---------------------------------------------------------
    -- 2. Recorrer con WHILE
    ---------------------------------------------------------
    WHILE @CurrentRowNumber <= @TotalRows
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            DECLARE 
                @RowNumeroAsociado INT,
                @MensajeMov NVARCHAR(MAX)='';

            SELECT 
                @RowNumeroAsociado = NumeroAsociado
            FROM #Pendientes
            WHERE RowNumber = @CurrentRowNumber;

            Exec spGestionSocios_CrearCxCSostenibilidad @NumeroAsociado = @RowNumeroAsociado, 
                                                        @UsuarioID = @UsuarioID, 
                                                        @IdSession = Null, 
                                                        @Mensaje = @MensajeMov OUTPUT;

            
            IF ISNULL(@MensajeMov, '') <> ''
            BEGIN
                -- Revertir todo lo que se hizo en esta iteración
                IF @@TRANCOUNT > 0
                    ROLLBACK TRANSACTION;

                -- Acumular mensaje de error
                SET @ErrorMessages += CONCAT(
                    'Error en asociado ', convert(nvarchar(max),@RowNumeroAsociado) , ': ', @MensajeMov, CHAR(13)
                );

                -- Pasar al siguiente registro sin ejecutar UPDATE ni INSERT histórico
                SET @CurrentRowNumber += 1;
                CONTINUE;
            END

            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;

            SET @ErrorMessages += CONCAT(
                'Error en asociado ', ISNULL(@RowNumeroAsociado,'?'), ': ',
                ERROR_MESSAGE(), CHAR(13)
            );
        END CATCH

        SET @CurrentRowNumber += 1;
    END

    DROP TABLE #Pendientes;

    ---------------------------------------------------------
    -- 7. Resultado final
    ---------------------------------------------------------
    SET @ReturnMessage = @ErrorMessages;
END