ALTER PROCEDURE [dbo].[sp_sys_HST_GenerarHistorial_CreaTabla]
    @TablaNombre NVARCHAR(100),     
    @FechaCierre DATE,              
    @Usuario INT = 0,

    -- OUTPUTS
    @TablaHistorialCreada NVARCHAR(200) OUTPUT,
    @VersionCreada INT OUTPUT,
    @RegistrosCopiados INT OUTPUT,
    @Resultado NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @Anio INT,
        @Mes INT,
        @TablaOrigen NVARCHAR(200),
        @TablaDestino NVARCHAR(200),
        @SQL NVARCHAR(MAX),
        @MaxVersion INT = -1,
        @ColumnList NVARCHAR(MAX);

    BEGIN TRY

        ---------------------------------------------------------
        -- PERIODO
        ---------------------------------------------------------
        SET @Anio = YEAR(@FechaCierre);
        SET @Mes  = MONTH(@FechaCierre);

        ---------------------------------------------------------
        -- TABLAS
        ---------------------------------------------------------
        SET @TablaOrigen  = QUOTENAME(@TablaNombre);
        SET @TablaDestino = QUOTENAME('sys.HST.' + @TablaNombre);

        ---------------------------------------------------------
        -- VALIDAR QUE EXISTAN
        ---------------------------------------------------------
        IF OBJECT_ID(@TablaNombre) IS NULL
            THROW 50000, 'Tabla origen no existe.', 1;

        IF OBJECT_ID(N'[dbo].[sys.HST.' + @TablaNombre + N']') IS NULL
            THROW 50000, 'Tabla histórica no existe.', 1;

        ---------------------------------------------------------
        -- VERSION POR PERIODO (DESDE TABLA HISTORICA)
        ---------------------------------------------------------
        SET @SQL = '
            SELECT @MaxVersion = ISNULL(MAX(Version), -1)
            FROM dbo.' + @TablaDestino + '
            WHERE YearCorte = @Anio
              AND MonthCorte = @Mes';

        EXEC sp_executesql
            @SQL,
            N'@Anio INT, @Mes INT, @MaxVersion INT OUTPUT',
            @Anio = @Anio,
            @Mes = @Mes,
            @MaxVersion = @MaxVersion OUTPUT;

        SET @VersionCreada = @MaxVersion + 1;

        ---------------------------------------------------------
        -- OBTENER COLUMNAS ORIGINALES DINAMICAMENTE
        ---------------------------------------------------------
        SELECT @ColumnList = STRING_AGG(QUOTENAME(name), ',')
        FROM sys.columns
        WHERE object_id = OBJECT_ID(@TablaNombre);

        ---------------------------------------------------------
        -- INSERT DINAMICO
        ---------------------------------------------------------
        SET @SQL = '
            INSERT INTO dbo.' + @TablaDestino + ' 
            (
                FechaProceso,
                YearCorte,
                MonthCorte,
                Version,
                UsuarioProceso,
                ' + @ColumnList + '
            )
            SELECT
                GETDATE(),
                @Anio,
                @Mes,
                @Version,
                @Usuario,
                ' + @ColumnList + '
            FROM ' + @TablaOrigen;

        EXEC sp_executesql
            @SQL,
            N'@Anio INT, @Mes INT, @Version INT, @Usuario INT',
            @Anio = @Anio,
            @Mes = @Mes,
            @Version = @VersionCreada,
            @Usuario = @Usuario;

        ---------------------------------------------------------
        -- CONTAR REGISTROS INSERTADOS
        ---------------------------------------------------------
        SET @SQL = '
            SELECT @Registros = COUNT(*)
            FROM dbo.' + @TablaDestino + '
            WHERE YearCorte = @Anio
              AND MonthCorte = @Mes
              AND Version = @Version';

        EXEC sp_executesql
            @SQL,
            N'@Anio INT, @Mes INT, @Version INT, @Registros INT OUTPUT',
            @Anio = @Anio,
            @Mes = @Mes,
            @Version = @VersionCreada,
            @Registros = @RegistrosCopiados OUTPUT;

        ---------------------------------------------------------
        -- LOG EN sys.HST.Historiales
        ---------------------------------------------------------
        INSERT INTO dbo.[sys.HST.Historiales]
            (Tabla, FechaHora, Mes, Año, TablaHistorial,
             Registros, Resultado, Version, UsuarioCrea)
        VALUES
            (@TablaNombre,
             GETDATE(),
             @Mes,
             @Anio,
             'sys.HST.' + @TablaNombre,
             @RegistrosCopiados,
             'OK',
             @VersionCreada,
             @Usuario);

        SET @TablaHistorialCreada = 'sys.HST.' + @TablaNombre;
        SET @Resultado = 'OK';

    END TRY
    BEGIN CATCH

        SET @Resultado = ERROR_MESSAGE();

        INSERT INTO dbo.[sys.HST.Historiales]
            (Tabla, FechaHora, Mes, Año, TablaHistorial,
             Registros, Resultado, Version, UsuarioCrea)
        VALUES
            (@TablaNombre,
             GETDATE(),
             MONTH(@FechaCierre),
             YEAR(@FechaCierre),
             'N/A',
             0,
             'Error: ' + @Resultado,
             -1,
             @Usuario);

        THROW;

    END CATCH
END