
ALTER   PROCEDURE [dbo].[spAuxiliares_EliminarAuxiliar]
    @ID INT,
    @NumeroAsociado INT,
    @UsuarioID INT,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validaciones
        IF @ID IS NULL OR @ID = 0
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El ID del auxiliar es requerido' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Verificar que el auxiliar existe
        IF NOT EXISTS (SELECT 1 FROM tbAuxiliares WHERE ID = @ID AND NumeroAsociado = @NumeroAsociado)
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El auxiliar no existe o ya está eliminado' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END

         -- Verificar que el auxiliar tenga movimientos
        IF EXISTS (SELECT 1 FROM [tbMovimientos] WHERE [IDAuxiliar] = @ID AND NumeroAsociado = @NumeroAsociado )
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El auxiliar tiene movimientos y no se puede eliminar.' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Marcar como eliminado
        UPDATE tbAuxiliares SET
            snEliminado = 1,
            FechaElimina = GETDATE(),
            UsuarioElimina = @UsuarioID,
            SysLastSessionID=@IdSession
        WHERE ID = @ID AND NumeroAsociado = @NumeroAsociado;
        
        SELECT 'SUCCESS' AS Resultado, 'Auxiliar eliminado exitosamente' AS Mensaje;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 'ERROR' AS Resultado, 
               'Error al eliminar auxiliar: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
