

ALTER     PROCEDURE [dbo].[spAuxiliares_ActivarDesactivar]
    @ID INT,
    @NumeroAsociado INT,
    @UsuarioID INT,
    @snActivo bit,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validaciones
        IF @ID IS NULL OR @ID = 0
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El ID del auxiliar es requerido' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Verificar que el auxiliar existe
        IF NOT EXISTS (SELECT 1 FROM tbAuxiliares WHERE ID = @ID AND NumeroAsociado = @NumeroAsociado AND IsNull(snEliminado,0) = 0)
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El auxiliar no existe o ya está eliminado' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        
        
        -- Marcar como eliminado
        UPDATE tbAuxiliares SET
            snActivo = @snActivo,
            FechaModificacion = GETDATE(),
            UsuarioModifica = @UsuarioID,
            SysLastSessionID=@IdSession
        WHERE ID = @ID AND NumeroAsociado = @NumeroAsociado;
        
        SELECT 'SUCCESS' AS Resultado, 'Auxiliar ' + iif(@snActivo=1,'activado', 'desactivado') + ' exitosamente' AS Mensaje;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 'ERROR' AS Resultado, 
               'Error al ' + iif(@snActivo=1,'activado', 'desactivado') + ' auxiliar: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
go
Exec spAuxiliares_ActivarDesactivar  @ID= 1, @NumeroAsociado= 249, @UsuarioID= 4, @snActivo= 'False', @IdSession= 'EF26CD09-9900-4060-A67E-CA9A5BAAAC2A'



