CREATE OR ALTER PROCEDURE [dbo].[spAuxiliares_CalcularInteresesAhorro]
    @NumeroAsociado INT = NULL,
    @IdAuxiliar INT = NULL,
    @UsuarioID INT = 0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessages VARCHAR(MAX) = '';
    DECLARE @CodTran NVARCHAR(10) = '';

    ---------------------------------------------------------
    -- 1. Llenar tabla temporal con cuentas de ahorro pendientes
    ---------------------------------------------------------
    SELECT 
        a.ID,
        a.NumeroAsociado,
        a.Saldo,
        a.TasaInteres,
        ISNULL(a.FechaUltCalculoInteres, a.FechaOtorgado) AS FechaUltCalculoInteres,
        a.InteresCalculado,
        a.CodigoRubro,
        ROW_NUMBER() OVER (ORDER BY a.ID) AS RowNumber
    INTO #Pendientes
    FROM dbo.tbAuxiliares AS a
    WHERE a.snEliminado = 0
      AND a.CodigoRubro <> 'PR'              -- NO préstamos
      AND (a.FechaUltCalculoInteres IS NULL 
           OR DATEDIFF(day, a.FechaUltCalculoInteres, GETDATE()) > 0)
      AND (@IdAuxiliar IS NULL OR a.ID = @IdAuxiliar)
      AND (@NumeroAsociado IS NULL OR a.NumeroAsociado = @NumeroAsociado);

    DECLARE @TotalRows INT = (SELECT COUNT(*) FROM #Pendientes);
    DECLARE @CurrentRowNumber INT = 1;

    ---------------------------------------------------------
    -- 2. Recorrer con WHILE
    ---------------------------------------------------------
    WHILE @CurrentRowNumber <= @TotalRows
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            DECLARE 
                @AuxiliarID INT,
                @Saldo NUMERIC(19,6),
                @Tasa NUMERIC(19,6),
                @FechaUlt DATE,
                @InteresAcumulado NUMERIC(19,6),
                @RowNumeroAsociado INT,
                @CodRubro NVARCHAR(10),
                @MensajeMov NVARCHAR(MAX) = '',
                @MovimientoID_Capital int = 0,
                @MovimientoID_Interes int = 0;

            SELECT 
                @AuxiliarID        = ID,
                @Saldo             = Saldo,
                @Tasa              = TasaInteres,
                @FechaUlt          = FechaUltCalculoInteres,
                @InteresAcumulado  = InteresCalculado,
                @RowNumeroAsociado = NumeroAsociado,
                @CodRubro          = CodigoRubro,
                @CodTran           = CodigoRubro + 'PIN'
            FROM #Pendientes
            WHERE RowNumber = @CurrentRowNumber;

            ---------------------------------------------------------
            -- 3. Calcular días e interés generado
            ---------------------------------------------------------
            DECLARE @DiasTranscurridos INT =
                DATEDIFF(day, ISNULL(@FechaUlt, GETDATE()), GETDATE());

            DECLARE @InteresGenerado NUMERIC(19,6) =
                (@Saldo * (@Tasa / 100.0)) * (@DiasTranscurridos / 365.0);

            ---------------------------------------------------------
            -- 4. Guardar movimiento
            ---------------------------------------------------------
            EXEC [spMovimientos_GuardarMovimiento]
                @NumeroAsociado    = @RowNumeroAsociado,
                @CodigoRubro       = @CodRubro,
                @IDAuxiliar        = @AuxiliarID,
                @CodigoTransaccion = @CodTran,
                @Monto             = @InteresGenerado,
                @UsuarioID         = @UsuarioID,
                @Observaciones     = 'Cálculo de intereses',
                @MensajeVal        = @MensajeMov OUTPUT,
                @MovimientoID_Capital = @MovimientoID_Capital OUTPUT,
                @MovimientoID_Interes = @MovimientoID_Interes OUTPUT;

            IF ISNULL(@MensajeMov, '') <> ''
            BEGIN
                -- Revertir todo lo que se hizo en esta iteración
                IF @@TRANCOUNT > 0
                    ROLLBACK TRANSACTION;

                -- Acumular mensaje de error
                SET @ErrorMessages += CONCAT(
                    'Error en auxiliar ', @AuxiliarID, ': ', @MensajeMov, CHAR(13)
                );

                -- Pasar al siguiente registro sin ejecutar UPDATE ni INSERT histórico
                SET @CurrentRowNumber += 1;
                CONTINUE;
            END

            ---------------------------------------------------------
            -- 5. Actualizar auxiliar (solo interés, saldo lo actualiza el movimiento)
            ---------------------------------------------------------
            UPDATE dbo.tbAuxiliares
            SET 
                --Saldo = ISNULL(Saldo,0) + @InteresGenerado, -- se actualiza en el movimiento
                InteresCalculado      = ISNULL(InteresCalculado,0) + @InteresGenerado,
                FechaUltCalculoInteres = CAST(GETDATE() AS DATE),
                FechaModificacion     = GETDATE(),
                UsuarioModifica       = @UsuarioID
            WHERE ID = @AuxiliarID;

            ---------------------------------------------------------
            -- 6. Insertar histórico (sin interés pagado)
            ---------------------------------------------------------
            INSERT INTO dbo.tbAuxiliares_Intereses
                (IDAuxiliar, FechaCalculo, FechaUltCalculo, SaldoAFecha,
                 InteresCalculadoAFecha, DiasIntereses,
                 Tasa, InteresCalculado, Usuario)
            VALUES
                (@AuxiliarID,
                 GETDATE(),
                 @FechaUlt,
                 @Saldo,
                 ISNULL(@InteresAcumulado,0),
                 @DiasTranscurridos,
                 @Tasa,
                 @InteresGenerado,
                 @UsuarioID);

            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;

            SET @ErrorMessages += CONCAT(
                'Error en auxiliar ', ISNULL(@AuxiliarID,'?'), ': ',
                ERROR_MESSAGE(), CHAR(13)
            );
        END CATCH

        SET @CurrentRowNumber += 1;
    END

    DROP TABLE #Pendientes;

    ---------------------------------------------------------
    -- 7. Resultado final
    ---------------------------------------------------------
    SET @ReturnMessage = @ErrorMessages;
END