
CREATE OR ALTER PROCEDURE [dbo].[spAuxiliares_ObtenerAuxiliares]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        a.ID,
        right('000000000000' + cast(a.ID as varchar(12)),15) as Cuenta,
        a.NumeroAsociado,
        a.CodigoRubro,
        ta.TipoAuxiliar,
        ta.ID as IdTipoAuxiliar,
        CONCAT(s.Nombre, ' ', s.Apellido) AS NombreAsociado,
        td.CodTipoDoc,
        s.NumeroIdentificacion,
        r.Descripcion AS DescripcionRubro,
        ta.Descripcion AS DescripcionTipoAuxiliar,
        a.Cuota,
        a.Saldo,
        a.MontoOriginal,
        a.TasaInteres,
        a.PagoMes,
        a.MontoPignorado,
        a.snActivo,
        Format(cast(a.FechaOtorgado as Date),'dd/MM/yyyy') FechaOtorgado,
        Format(cast(a.FechaUltimoPago as Date),'dd/MM/yyyy') FechaUltimoPago,
        Format(cast(a.FechaCreacion as Date),'dd/MM/yyyy') FechaCreacion,
        usrCrea.Nombre as UsuarioCrea,        
        usrMod.Nombre as UsuarioModifica,
        IsNull(a.PorcManejo, 0) as PorcManejo,
        IsNull(a.PorcCapitalizacion, 0) as PorcCapitalizacion,
        IsNull(a.MontoManejo, 0) as MontoManejo,
        IsNull(a.MontoCapitalizacion,  0) as MontoCapitalizacion ,
        IIF(IsNull(a.MontoManejo, 0) != 0 or IsNull(a.MontoCapitalizacion,  0) != 0, 1,0) as snComprobante
    FROM tbAuxiliares a
    INNER JOIN tbAsociados s ON a.NumeroAsociado = s.NumeroAsociado
    left join tbTipoDocumentos td on td.CodTipoDoc = s.TipoIdentificacion
    LEFT JOIN tbRubros r ON a.CodigoRubro = r.CodigoRubro
    LEFT JOIN tbTiposAuxiliares ta ON a.TipoAuxiliar = ta.ID 
              AND a.CodigoRubro = ta.CodigoRubro
    left join tbUsuarios usrCrea on usrCrea.Id = a.UsuarioCrea    
    left join tbUsuarios usrMod on usrMod.Id = a.UsuarioModifica
     WHERE IsNull(a.snEliminado,0) = 0 and IsNUll(a.snActivo,1)=1 AND Isnull(s.snEliminado,0)= 0
    ORDER BY a.ID DESC
END

