
create or ALTER   PROCEDURE [dbo].[spAuxiliares_ObtenerTiposAuxiliares]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DISTINCT TipoAuxiliar, Descripcion, CodigoRubro, ID as IdTipoAuxiliar, 
        Tasa, 
        Iif(CodigoRubro='PR',IsNull(PorManejo,0),0) as PorManejo, 
        Iif(CodigoRubro='PR',IsNull(PorCapitalizacion,0),0) as PorCapitalizacion
    FROM tbTiposAuxiliares 
    WHERE snEliminado = 0 
    ORDER BY Descripcion
END

