CREATE OR ALTER PROCEDURE [dbo].[spBuscarAsociadoPorID]
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        s.NumeroAsociado,
        CONCAT(s.Nombre, ' ', s.Apellido) AS NombreCompleto,
        s.NumeroIdentificacion,
        td.CodTipoDoc,
        ta.TipoAsociado,
        IsNull((Select count(aux.ID) from tbAuxiliares aux Where aux.NumeroAsociado=s.NumeroAsociado and aux.snEliminado=0),0) as CantAuxiliares,
        (
            Select * from vwAuxiliaresPorAsociados auxPA 
            where auxPA.NumeroAsociado = s.NumeroAsociado
            FOR JSON AUTO
        ) as JsonAuxiliares
    FROM tbAsociados s
    LEFT JOIN tbTipoAsociado ta ON s.IdTipoAsociado = ta.IdTipoAsociado
    left join tbTipoDocumentos td on td.CodTipoDoc = s.TipoIdentificacion
    WHERE s.snEliminado = 0 
    AND (s.NumeroAsociado = @NumeroAsociado or s.NumeroIdentificacion = convert(varchar(max),@NumeroAsociado))
    ORDER BY s.Nombre, s.Apellido
END
