CREATE OR ALTER PROCEDURE [dbo].[spMovimiento_Validar]
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(10),
    @IDAuxiliar INT,
    @CodigoTransaccion VARCHAR(10),
    @Monto DECIMAL(18,2),
    @Resultado BIT OUTPUT,           -- 1 = Válido, 0 = Inválido
    @Mensaje VARCHAR(500) OUTPUT     -- Mensaje descriptivo
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EsValido BIT = 1;
    DECLARE @Msg VARCHAR(500) = '';
    DECLARE @DebCred CHAR(1);

    BEGIN TRY
        
        ---------------------------------------------------------
        -- 1. Validar que el código de transacción exista
        ---------------------------------------------------------
        SELECT @DebCred = ct.DebCred
        FROM tbCodigosTransaccion ct
        WHERE ct.CodigoTransaccion = @CodigoTransaccion;

        IF @DebCred IS NULL
        BEGIN
            SET @EsValido = 0;
            SET @Msg = 'El código de transacción <b>' + @CodigoTransaccion + '</b> no existe.';
            
            -- OUTPUT
            SET @Resultado = @EsValido;
            SET @Mensaje   = @Msg;

            -- SELECT (compatibilidad)
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END


        ---------------------------------------------------------
        -- 2. Validación de saldo para movimientos de crédito
        ---------------------------------------------------------
        IF (@DebCred = 'C')
        BEGIN
            DECLARE @Saldo NUMERIC(18,2);
            DECLARE @MontoPignorado NUMERIC(18,2);
            DECLARE @MontoDisponible NUMERIC(18,2);

            SELECT 
                @Saldo          = ISNULL(Saldo,0),
                @MontoPignorado = ISNULL(MontoPignorado,0),
                @MontoDisponible = ISNULL(Saldo,0) - ISNULL(MontoPignorado,0)
            FROM tbAuxiliares
            WHERE ID = @IDAuxiliar;

            IF @Saldo IS NULL
            BEGIN
                SET @EsValido = 0;
                SET @Msg = 'El auxiliar especificado no existe.';
            END
            ELSE IF (@Monto > @MontoDisponible)
            BEGIN
                SET @EsValido = 0;


                SET @Msg = 
                    'No se puede realizar este movimiento. El monto excede el disponible del asociado para este auxiliar: ' +
                    '<b>' + FORMAT(@MontoDisponible,'C') + '</b>. Saldo: <b>' + FORMAT(@Saldo,'C') + 
                    CASE WHEN @MontoPignorado > 0 
                         THEN '</b>. Monto Pignorado: <b>' + FORMAT(@MontoPignorado,'C') + '</b>.'
                         ELSE '.</b>'
                    END;
            END
        END


        ---------------------------------------------------------
        -- 3. Devolver resultado (válido o inválido)
        ---------------------------------------------------------
        SET @Resultado = @EsValido;
        SET @Mensaje   = @Msg;

        -- SELECT para compatibilidad
        --SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;

    END TRY
    BEGIN CATCH

        SET @EsValido = 0;
        SET @Msg = 'Error en validación: ' + ERROR_MESSAGE();

        SET @Resultado = @EsValido;
        SET @Mensaje   = @Msg;

        -- SELECT para compatibilidad
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
    END CATCH
END