CREATE OR ALTER PROCEDURE [dbo].[spMovimientos_GuardarAsiento]
    @CodigoTransaccion NVARCHAR(10),
    @Monto DECIMAL(18,2),
    @Observaciones NVARCHAR(MAX),
    @CodTipoAsiento VARCHAR(10) = 'TRA',
    @BaseID int = NULL,
    @BaseType nvarchar(100) = NULL,
    @MovimientoID INT,
    @Mensaje NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CuentaContable NVARCHAR(50);
    DECLARE @ContraCuenta NVARCHAR(50);
    DECLARE @DebCredPrincipal CHAR(1);

    SET @Mensaje = ''; -- NULL = OK

    BEGIN TRY

        ---------------------------------------------------------
        -- 1. Obtener configuración contable
        ---------------------------------------------------------
        SELECT TOP 1
            @CuentaContable   = CuentaContable,
            @ContraCuenta     = ContraCuenta,
            @DebCredPrincipal = DebCred
        FROM tbCodigosTransaccion
        WHERE CodigoTransaccion = @CodigoTransaccion
          AND SnEliminado = 0;

        ---------------------------------------------------------
        -- 2. Validar configuración
        ---------------------------------------------------------
        IF @CuentaContable IS NULL OR @ContraCuenta IS NULL
        BEGIN
            SET @Mensaje = 'Configuración contable no encontrada para código de transacción <b>' 
                           + @CodigoTransaccion + '</b>.';
            
            --SELECT 'ERROR' AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END

        IF @DebCredPrincipal IS NULL
        BEGIN
            SET @Mensaje = 'El código de transacción <b>' + @CodigoTransaccion 
                           + '</b> no tiene definido Deb/Cred.';
            
            --SELECT 'ERROR' AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END

        ---------------------------------------------------------
        -- 3. Insertar asientos contables
        ---------------------------------------------------------
        IF @DebCredPrincipal = 'D'
        BEGIN
            -- Débito a cuenta principal
            INSERT INTO dbo.tbAsientos
                (Fecha, CodTipoAsiento, BaseID, BaseType, Cuenta, Debito, Credito, Memo, snEliminado)
            VALUES
                (GETDATE(), @CodTipoAsiento, IsNull(@BaseID,@MovimientoID), IsNull(@BaseType,@CodTipoAsiento), @CuentaContable, @Monto, 0, ISNULL(@Observaciones,''), 0);

            -- Crédito a contracuenta
            INSERT INTO dbo.tbAsientos
                (Fecha, CodTipoAsiento, BaseID, BaseType, Cuenta, Debito, Credito, Memo, snEliminado)
            VALUES
                (GETDATE(), @CodTipoAsiento, IsNull(@BaseID,@MovimientoID), IsNull(@BaseType,@CodTipoAsiento), @ContraCuenta, 0, @Monto, ISNULL(@Observaciones,''), 0);
        END
        ELSE
        BEGIN
            -- Crédito a cuenta principal
            INSERT INTO dbo.tbAsientos
                (Fecha, CodTipoAsiento, BaseID, BaseType, Cuenta, Debito, Credito, Memo, snEliminado)
            VALUES
                (GETDATE(), @CodTipoAsiento, IsNull(@BaseID,@MovimientoID), IsNull(@BaseType,@CodTipoAsiento), @CuentaContable, 0, @Monto, ISNULL(@Observaciones,''), 0);

            -- Débito a contracuenta
            INSERT INTO dbo.tbAsientos
                (Fecha, CodTipoAsiento, BaseID, BaseType, Cuenta, Debito, Credito, Memo, snEliminado)
            VALUES
                (GETDATE(), @CodTipoAsiento, IsNull(@BaseID,@MovimientoID), IsNull(@BaseType,@CodTipoAsiento), @ContraCuenta, @Monto, 0, ISNULL(@Observaciones,''), 0);
        END

        ---------------------------------------------------------
        -- 4. Éxito
        ---------------------------------------------------------
        SET @Mensaje = ''; -- éxito

        --SELECT 'SUCCESS' AS Resultado,
        --       'Asiento generado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH

        SET @Mensaje = ERROR_MESSAGE();

        --SELECT 'ERROR' AS Resultado,
        --       @Mensaje AS Mensaje;
    END CATCH
END