CREATE OR
ALTER   PROCEDURE [dbo].spGestionSocios_CrearCxCInscripcion
    @NumeroAsociado INT,
    @UsuarioID int,
    @IdSession nvarchar(Max),
    @FechaCorrida datetime = NULL,
    @Mensaje nvarchar(max) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- NULL = OK, cualquier texto = error
    SET @Mensaje = '';

    BEGIN TRY
        -- Parámetros de capitalización
        DECLARE 
            @CodigoRubroInscripcion nvarchar(10),
            @CodTransInscripcion nvarchar(10),
            @IDAuxInscripcion int,
            @FechaInscripcion datetime,
            @IDAuxAsociado int,
            @TipoAux int,
            @MontoInscripcion numeric(19,6);



        SET @MontoInscripcion = ISNULL(
                                    (
                                        SELECT TRY_CAST(ParamValue AS numeric(19,6))
                                        FROM tbParamsKeys
                                        WHERE ParamKey = 'MONTO_INSCRIPCION'),
                                    1);



        SET @CodigoRubroInscripcion = ISNULL(
                                (SELECT ParamValue 
                                 FROM tbParamsKeys 
                                 WHERE ParamKey='CODIGO_RUBRO_INSCRIPCION'),
                                'CXC');

        SET @CodTransInscripcion = ISNULL(
                                (SELECT ParamValue 
                                 FROM tbParamsKeys 
                                 WHERE ParamKey='CODIGO_TRANSACCION_INSCRIPCION'),
                                'CCNEW');

        SET @IDAuxInscripcion = ISNULL(
                                (SELECT ParamValue 
                                 FROM tbParamsKeys 
                                 WHERE ParamKey='ID_AUXILIAR_CXC_INSCRIPCION'),
                                0);

        SET @FechaInscripcion = GETDATE();

        IF @IDAuxInscripcion = 0
        BEGIN
            SET @Mensaje = 'No está configurado el ID tipo auxiliar para la inscripción.';
            RETURN;
        END

        Select @TipoAux = TipoAuxiliar FROM tbTiposAuxiliares WHERE ID = @IDAuxInscripcion;


        -- Buscar auxiliar de Inscripcion  del asociado
        SET @IDAuxAsociado = ISNULL(
            (
                SELECT top 1 ID 
                FROM tbAuxiliares 
                WHERE NumeroAsociado = @NumeroAsociado 
                  AND CodigoRubro   = @CodigoRubroInscripcion 
                  AND TipoAuxiliar  = @TipoAux
                  AND IsNUll(snActivo,1)      = 1 
                  AND IsNull(snEliminado,0)   = 0
            ),
            0
        );

        -- Si no existe, lo creo llamando al SP de auxiliares
        IF @IDAuxAsociado = 0
        BEGIN
            DECLARE @RespAux TABLE (
                Resultado varchar(20),
                Mensaje   nvarchar(max),
                NuevoID   int NULL
            );

            INSERT INTO @RespAux (Resultado, Mensaje, NuevoID)
            EXEC [spAuxiliares_GuardarAuxiliar]
                    @ID = 0,
                    @NumeroAsociado = @NumeroAsociado,
                    @CodigoRubro    = @CodigoRubroInscripcion ,
                    @TipoAuxiliar   = @IDAuxInscripcion,
                    @Cuota          = 0,
                    @Saldo          = 0,
                    @MontoOriginal  = 0,
                    @MontoPignorado = 0,
                    @FechaOtorgado  = @FechaInscripcion,
                    @TasaInteres    = 0,
                    @PagoMes        = 0,
                    @UsuarioID      = @UsuarioID,
                    @PorcManejo     = 0,
                    @PorcCap        = 0,
                    @MontoManejo    = 0,
                    @MontoCap       = 0,
                    @IdSession      = @IdSession;

            DECLARE @ResAux varchar(20), @MsgAux nvarchar(max);

            SELECT 
                @ResAux        = Resultado,
                @MsgAux        = Mensaje,
                @IDAuxAsociado = ISNULL(NuevoID,0)
            FROM @RespAux;

            IF @ResAux <> 'SUCCESS' OR @IDAuxAsociado = 0
            BEGIN
                SET @Mensaje = ISNULL(@MsgAux, 'Error al crear el auxiliar de Inscripcion.');
                RETURN;
            END
        END
        /*
        @MovimientoID_Capital int OUTPUT,
        @MovimientoID_Interes int OUTPUT
        */
        -- Registrar movimiento de Inscripcion 
        DECLARE @MensajeMov nvarchar(max) = '';
        DECLARE @MovimientoID_Capital int = 0;
        DECLARE @MovimientoID_Interes int = 0;

        DECLARE @OBSERVACIONES nvarchar(255) = 'Cuota Inscripcion ';


        EXEC spMovimientos_GuardarMovimiento 
                @NumeroAsociado    = @NumeroAsociado, 
                @CodigoRubro       = @CodigoRubroInscripcion , 
                @IDAuxiliar        = @IDAuxAsociado, 
                @CodigoTransaccion = @CodTransInscripcion, 
                @Monto             = @MontoInscripcion, 
                @UsuarioID         = @UsuarioID, 
                @Observaciones     = @OBSERVACIONES, 
                @MensajeVal        = @MensajeMov OUTPUT,
                @MovimientoID_Capital = @MovimientoID_Capital OUTPUT,
                @MovimientoID_Interes = @MovimientoID_Interes OUTPUT;

        IF @MensajeMov IS NOT NULL AND LTRIM(RTRIM(@MensajeMov)) <> ''
        BEGIN
            SET @Mensaje = @MensajeMov;
            RETURN;
        END

        -- Si todo salió bien, @Mensaje queda NULL (OK)

    END TRY
    BEGIN CATCH
        SET @Mensaje = N'Error al crear Inscripcion : ' + ERROR_MESSAGE();
        RETURN;
    END CATCH
END