
ALTER 
   PROCEDURE [dbo].[spGestionSocios_CrearSocio]
    @IdTipoAsociado INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @SegundoNombre NVARCHAR(100) = NULL,
    @Apellido NVARCHAR(100) = NULL,
    @SegundoApellido NVARCHAR(100) = NULL,
    @Estatus CHAR(1) = 'A',
    @TipoIdentificacion NVARCHAR(20) = NULL,
    @NumeroIdentificacion NVARCHAR(50) = NULL,
    @TelefonoResidencia NVARCHAR(20) = NULL,
    @TelefonoCelular NVARCHAR(20) = NULL,
    @TelefonoFamiliar NVARCHAR(20) = NULL,
    @TelefonoTrabajo NVARCHAR(20) = NULL,
    @CorreoElectronico NVARCHAR(100) = NULL,
    @Sexo CHAR(1) = NULL,
    @FechaNacimiento DATE = NULL,
    @ProvinciaResidencia NVARCHAR(50) = NULL,
    @DistritoResidencia NVARCHAR(50) = NULL,
    @CorregimientoResidencia NVARCHAR(50) = NULL,
    @DireccionResidencia NVARCHAR(200) = NULL,
    @ProvinciaTrabajo NVARCHAR(50) = NULL,
    @DistritoTrabajo NVARCHAR(50) = NULL,
    @CorregimientoTrabajo NVARCHAR(50) = NULL,
    @DireccionTrabajo NVARCHAR(200) = NULL,
    @LugarTrabajo NVARCHAR(100) = NULL,
    @Ocupacion NVARCHAR(100) = NULL,
    @NivelEstudio NVARCHAR(50) = NULL,
    @Profesion NVARCHAR(100) = NULL,
    @PaisResidencia NVARCHAR(10) = NULL,
    @PaisTrabajo NVARCHAR(10) = NULL,
    @Usuario int = NULL,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;


    DECLARE @MensajeSos NVARCHAR(MAX) = NULL;

    BEGIN TRY
        BEGIN TRAN;

        -- Validación de identificación
        IF EXISTS (
            SELECT 1
            FROM tbAsociados
            WHERE NumeroIdentificacion = @NumeroIdentificacion
              AND snEliminado = 0
        )
        BEGIN
            ROLLBACK TRAN;
            SELECT NULL AS NumeroAsociado,
                   'Ya existe un socio con este número de identificación' AS ErrorMessage;
            RETURN;
        END


         -- Consecutivo
         DECLARE @NuevoID INT = NULL;
         UPDATE tbControlConsecutivos WITH (UPDLOCK, HOLDLOCK)
         SET @NuevoID = UltimoConsecutivo + 1,
            UltimoConsecutivo = UltimoConsecutivo + 1
         WHERE Tabla='tbAsociados';

        -- Insertar socio
        INSERT INTO tbAsociados (NumeroAsociado,
            IdTipoAsociado, Nombre, SegundoNombre, Apellido, SegundoApellido, Estatus,
            TipoIdentificacion, NumeroIdentificacion, TelefonoResidencia, TelefonoCelular,
            TelefonoFamiliar, TelefonoTrabajo, CorreoElectronico, Sexo, FechaNacimiento,
            ProvinciaResidencia, DistritoResidencia, CorregimientoResidencia, DireccionResidencia,
            ProvinciaTrabajo, DistritoTrabajo, CorregimientoTrabajo, DireccionTrabajo,
            LugarTrabajo, Ocupacion, NivelEstudio, Profesion, PaisResidencia, PaisTrabajo,
            FechaCreacion, UsuarioCrea, SysLastSessionID, snEliminado
        )
        VALUES (@NuevoID,
            @IdTipoAsociado, @Nombre, @SegundoNombre, @Apellido, @SegundoApellido, @Estatus,
            @TipoIdentificacion, @NumeroIdentificacion, @TelefonoResidencia, @TelefonoCelular,
            @TelefonoFamiliar, @TelefonoTrabajo, @CorreoElectronico, @Sexo, @FechaNacimiento,
            @ProvinciaResidencia, @DistritoResidencia, @CorregimientoResidencia, @DireccionResidencia,
            @ProvinciaTrabajo, @DistritoTrabajo, @CorregimientoTrabajo, @DireccionTrabajo,
            @LugarTrabajo, @Ocupacion, @NivelEstudio, @Profesion, @PaisResidencia, @PaisTrabajo,
            GETDATE(), CAST(@Usuario AS INT), @IdSession, 0
        );

        --actualiza nuevo campo con el id de asociado recien creado
        Update tbAsociados set numaso = @NuevoID Where NumeroAsociado = @NuevoID;

        -- Crear CxC Sostenibilidad
           EXEC spGestionSocios_CrearCxCSostenibilidad
            @NumeroAsociado = @NuevoID,
            @UsuarioID = @Usuario,
            @IdSession = @IdSession,
            @Mensaje = @MensajeSos OUTPUT;

            IF @MensajeSos IS NOT NULL AND LTRIM(RTRIM(@MensajeSos)) <> ''
            BEGIN
                ROLLBACK TRAN;
                SELECT NULL AS NumeroAsociado, @MensajeSos AS ErrorMessage;
                RETURN;
            END

        -- Crear CxC Cuota Inscripción
           EXEC spGestionSocios_CrearCxCInscripcion
            @NumeroAsociado = @NuevoID,
            @UsuarioID = @Usuario,
            @IdSession = @IdSession,
            @Mensaje = @MensajeSos OUTPUT;

            IF @MensajeSos IS NOT NULL AND LTRIM(RTRIM(@MensajeSos)) <> ''
            BEGIN
                ROLLBACK TRAN;
                SELECT NULL AS NumeroAsociado, @MensajeSos AS ErrorMessage;
                RETURN;
            END

        commit TRAN;

        SELECT @NuevoID AS NumeroAsociado,
               NULL AS ErrorMessage;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        SELECT NULL AS NumeroAsociado,
               'Error al crear socio: ' + ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END