
ALTER PROCEDURE [dbo].[spRubros_ListarParaDropdown]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        rub.CodigoRubro,
        rub.Descripcion,
        (Select aux.ID as IDAuxiliar, aux.Descripcion as DescripcionAuxiliar
         From tbTiposAuxiliares aux
         Where aux.CodigoRubro = rub.CodigoRubro
            and aux.SnEliminado=0
         For Json Auto) as JsonTiposAuxiliares
    FROM tbRubros rub
    WHERE rub.SnEliminado = 0 
    ORDER BY rub.CodigoRubro;
END

go

exec spRubros_ListarParaDropdown