USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spGestionSocios_EliminarAsociado]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spGestionSocios_EliminarAsociado]
    @NumeroAsociado INT,
    @UsuarioElimina INT,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validar que el asociado existe
        IF NOT EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroAsociado = @NumeroAsociado)
        BEGIN
            RAISERROR('El asociado con número %d no existe', 16, 1, @NumeroAsociado);
            RETURN;
        END
        
        -- Validar que el asociado no estÃ© ya eliminado
        IF EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroAsociado = @NumeroAsociado AND snEliminado = 1)
        BEGIN
            RAISERROR('El asociado con número %d ya está eliminado', 16, 1, @NumeroAsociado);
            RETURN;
        END
        
        -- Validar que el asociado no tenga auxiliares activos
        DECLARE @CantidadAuxiliares INT;
        SELECT @CantidadAuxiliares = COUNT(*)
        FROM tbAuxiliares 
        WHERE NumeroAsociado = @NumeroAsociado 
        AND snEliminado = 0;
        
        IF @CantidadAuxiliares > 0
        BEGIN
            RAISERROR('No se puede eliminar el asociado %d porque tiene %d auxiliar(es) activo(s). Debe eliminar primero los auxiliares.', 16, 1, @NumeroAsociado, @CantidadAuxiliares);
            RETURN;
        END
        
        -- Validar que el asociado no tenga beneficiarios
        DECLARE @CantidadBeneficiarios INT;
        SELECT @CantidadBeneficiarios = COUNT(*)
        FROM tbBeneficiarios 
        WHERE NumeroAsociado = @NumeroAsociado 
        AND snEliminado = 0;
        
        IF @CantidadBeneficiarios > 0
        BEGIN
            RAISERROR('No se puede eliminar el asociado %d porque tiene %d beneficiario(s) activo(s). Debe eliminar primero los beneficiarios.', 16, 1, @NumeroAsociado, @CantidadBeneficiarios);
            RETURN;
        END
        
        -- Obtener informaciÃ³n del asociado antes de eliminar (para auditorÃ­a)
        DECLARE @NombreCompleto NVARCHAR(200);
        SELECT @NombreCompleto = ISNULL(Nombre, '') + ' ' + ISNULL(Apellido, '')
        FROM tbAsociados 
        WHERE NumeroAsociado = @NumeroAsociado;
        
        -- Realizar soft delete del asociado con session tracking
        UPDATE tbAsociados 
        SET 
            snEliminado = 1,
            FechaModificacion = GETDATE(),
            UsuarioElimina = @UsuarioElimina,
            SysLastSessionID = @IdSession
        WHERE NumeroAsociado = @NumeroAsociado;
        
        -- Verificar que la eliminaciÃ³n fue exitosa
        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('Error al eliminar el asociado %d', 16, 1, @NumeroAsociado);
            RETURN;
        END
        
        -- Retornar Ã©xito
        SELECT 
            'SUCCESS' AS Resultado,
            'Asociado eliminado exitosamente' AS Mensaje,
            @NumeroAsociado AS NumeroAsociado,
            @NombreCompleto AS NombreCompleto,
            @UsuarioElimina AS UsuarioElimina,
            GETDATE() AS FechaEliminacion;
            
    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        
        -- Retornar error
        SELECT 
            'ERROR' AS Resultado,
            @Mensaje AS Mensaje,
            @NumeroAsociado AS NumeroAsociado,
            NULL AS NombreCompleto,
            @UsuarioElimina AS UsuarioElimina,
            NULL AS FechaEliminacion;
    END CATCH
END
GO
