USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerEstadisticasUsuarios]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para obtener estadísticas de usuarios
CREATE PROCEDURE [dbo].[sp_ObtenerEstadisticasUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        COUNT(*) AS TotalUsuarios,
        SUM(CASE WHEN Estado = 'Activo' THEN 1 ELSE 0 END) AS UsuariosActivos,
        SUM(CASE WHEN Estado = 'Inactivo' THEN 1 ELSE 0 END) AS UsuariosInactivos,
        SUM(CASE WHEN UltimoAcceso IS NULL THEN 1 ELSE 0 END) AS UsuariosSinAcceso,
        SUM(CASE WHEN BloqueadoHasta IS NOT NULL AND BloqueadoHasta > GETDATE() THEN 1 ELSE 0 END) AS UsuariosBloqueados
    FROM tbUsuarios  Where snEliminado=0;
END
GO
