USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbParamsKeys]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbParamsKeys](
	[ParamKey] [varchar](200) NOT NULL,
	[ParamDescription] [nvarchar](max) NULL,
	[ParamGroup] [varchar](50) NULL,
	[ParamValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbParamKeys] PRIMARY KEY CLUSTERED 
(
	[ParamKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
