USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spSysAppLogAdd]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create PROCEDURE [dbo].[spSysAppLogAdd]
@Men varchar(max), @SID varchar(50)

AS
Begin 
	         
	   	  
       BEGIN TRY
			declare @FH datetime; 
			declare @Hr varchar(15);
			declare @Sec int;

			Set @FH = GetDate();
			Set @Hr = FORMAT(getdate(),'hh:mm:ss tt');

			Select @Sec = IsNull((Select max(LineSec) From [tbLogSesionDet] 
							where [IDSesion]=@SID),0)+1;
			
			
			INSERT INTO [dbo].[tbLogSesionDet]
					   ([IDSesion],[LineSec],[FechaHora]
					   ,[Hora],[Accion])
				 VALUES
					   (@SID,@Sec,@FH
					   ,@Hr,@Men);

       END TRY

       BEGIN CATCH
              ROLLBACK TRANSACTION;
              DECLARE @ErrorMessage NVARCHAR(4000);  
              DECLARE @ErrorSeverity INT;  
              DECLARE @ErrorState INT;  

              SELECT   
                     @ErrorMessage = ERROR_MESSAGE(),  
                     @ErrorSeverity = ERROR_SEVERITY(),  
                     @ErrorState = ERROR_STATE();  

              
              RAISERROR (@ErrorMessage, @ErrorSeverity,  @ErrorState);  
       END CATCH

       
end
GO
