USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Sys_ReiniciarTablas]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_Sys_ReiniciarTablas]
as
TRUNCATE TABLE tbRespaldos;
TRUNCATE TABLE tbLogSesionHdr;
TRUNCATE TABLE tbLogSesionDet;
TRUNCATE TABLE tbAsociados;
TRUNCATE TABLE tbCuentas;
TRUNCATE TABLE tbAuxiliares;
TRUNCATE TABLE tbBeneficiarios;
TRUNCATE TABLE tbAuxiliares_Intereses;
TRUNCATE TABLE [sys.HST.Historiales];
TRUNCATE TABLE tbMovimientos;
TRUNCATE TABLE tbEmpresas;
TRUNCATE TABLE tbLogs;
TRUNCATE TABLE tbCodigosTransaccion;
TRUNCATE TABLE tbLogAccesos;
TRUNCATE TABLE tbAsientos;

Update tbControlConsecutivos set UltimoConsecutivo=0;

GO
