USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spMovimiento_Validar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spMovimiento_Validar]
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(10),
    @IDAuxiliar INT,
    @CodigoTransaccion VARCHAR(10),
    @Monto DECIMAL(18,2),
    @Resultado BIT OUTPUT,           -- 1 = Válido, 0 = Inválido
    @Mensaje VARCHAR(500) OUTPUT     -- Mensaje descriptivo
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @EsValido BIT = 1;
    DECLARE @Msg VARCHAR(500) = '';
    
    BEGIN TRY
      
        --Declare @snValidarSaldo bit;
        
        --Select @snValidarSaldo = ct.snValidarSaldoRetiro
        --From tbCodigosTransaccion ct
        --Where ct.CodigoTransaccion=@CodigoTransaccion;

        --If (@snValidarSaldo=1)
        --BEGIN
        --    Declare @Saldo numeric(18,2);
        --    Declare @MontoPignorado numeric(18,2);
        --    Declare @MontoDisponible numeric(18,2);


        --    Select @Saldo= IsNUll(Saldo,0), @MontoPignorado=IsNUll(MontoPignorado,0),
        --            @MontoDisponible = IsNUll(Saldo,0) - IsNUll(MontoPignorado,0)
        --    From tbAuxiliares
        --    Where ID=@IDAuxiliar;

        --    If (@Monto>@MontoDisponible)
        --    BEGIN
        --        Set @EsValido = 0;
        --        Set @Msg = 'No se puede realizar este movimiento. El monto excede 
        --                    el disponible del asociado para este auxiliar. Saldo: ' 
        --                    + Format(@Saldo,'C') + Iif(@MontoPignorado>0,' Monto Pignorado: ' + Format(@MontoPignorado,'C') + '.','.') ;

        --    END

        --END

         Declare @DebCred char(1);
        
        Select @DebCred = ct.DebCred
        From tbCodigosTransaccion ct
        Where ct.CodigoTransaccion=@CodigoTransaccion;

        If (@DebCred='C')
        BEGIN
            Declare @Saldo numeric(18,2);
            Declare @MontoPignorado numeric(18,2);
            Declare @MontoDisponible numeric(18,2);


            Select @Saldo= IsNUll(Saldo,0), @MontoPignorado=IsNUll(MontoPignorado,0),
                    @MontoDisponible = IsNUll(Saldo,0) - IsNUll(MontoPignorado,0)
            From tbAuxiliares
            Where ID=@IDAuxiliar;

            If (@Monto>@MontoDisponible)
            BEGIN
                Set @EsValido = 0;
                Set @Msg = 'No se puede realizar este movimiento. El monto excede 
                            el disponible del asociado para este auxiliar: <b>' + Format(@MontoDisponible,'C') + '</b>. Saldo: <b>' 
                            + Format(@Saldo,'C') + Iif(@MontoPignorado>0,'</b>. Monto Pignorado: <b>' + Format(@MontoPignorado,'C') + '</b>.','.') ;

            END

        END

        -- Si pasa todas las validaciones
        SELECT @Resultado = @EsValido, @Mensaje = @Msg;
        
    END TRY
    BEGIN CATCH
        SET @EsValido = 0;
        SET @Msg = 'Error en validación: ' + ERROR_MESSAGE();
        SELECT @Resultado = @EsValido, @Mensaje = @Msg;
    END CATCH
END
GO
