USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spMovimientos_GuardarAsiento]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[spMovimientos_GuardarAsiento]
    @CodigoTransaccion nvarchar(10),
    @Monto DECIMAL(18,2),
    @Observaciones NVARCHAR(MAX),
    @CodTipoAsiento VARCHAR(10) = 'TRA',
    @MovimientoID INT,
    @Mensaje NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
         

         DECLARE @CuentaContable NVARCHAR(50);
         DECLARE @ContraCuenta NVARCHAR(50);
         DECLARE @DebCredPrincipal CHAR(1);

         SET @Mensaje = '';

         SELECT TOP 1 
            @CuentaContable = CuentaContable, 
            @ContraCuenta = ContraCuenta, 
            @DebCredPrincipal = DebCred
        FROM tbCodigosTransaccion 
        WHERE CodigoTransaccion = @CodigoTransaccion
              AND SnEliminado = 0;

        IF @CuentaContable IS NULL OR @ContraCuenta IS NULL
        BEGIN
            SET @Mensaje = 'Configuración contable no encontrada para código de transaccion ' + convert(varchar(max),@CodigoTransaccion);
            RETURN;
        END

        -- Generar asientos contables
        IF @DebCredPrincipal = 'D'
        BEGIN
            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), @CodTipoAsiento, @MovimientoID, @CuentaContable, @Monto, 0, ISNULL(@Observaciones, ''), 0);

            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), @CodTipoAsiento, @MovimientoID, @ContraCuenta, 0, @Monto, ISNULL(@Observaciones, ''), 0);
        END
        ELSE
        BEGIN
            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), @CodTipoAsiento, @MovimientoID, @CuentaContable, 0, @Monto, ISNULL(@Observaciones, ''), 0);

            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), @CodTipoAsiento, @MovimientoID, @ContraCuenta, @Monto, 0, ISNULL(@Observaciones, ''), 0);
        END
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END

GO
