USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spGrupoCuenta_ListarParaDropdown]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Listar grupos de cuenta para dropdown
-- =============================================
CREATE PROCEDURE [dbo].[spGrupoCuenta_ListarParaDropdown]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            IDGrupo,
            GrupoCuenta
        FROM tbGrupoCuenta
        ORDER BY IdGrupo;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
