USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbMovimientos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMovimientos](
	[IDMovimiento] [int] NOT NULL,
	[NumeroAsociado] [int] NULL,
	[CodigoRubro] [varchar](5) NULL,
	[IDAuxiliar] [int] NULL,
	[CodigoTransaccion] [varchar](10) NULL,
	[FechaMovimiento] [datetime] NULL,
	[Monto] [numeric](18, 2) NULL,
	[Saldo] [numeric](18, 2) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[IDMovIntereses] [int] NULL,
	[UsuarioCrea] [int] NULL,
	[FechaActualizado] [datetime] NULL,
	[UsuarioActualiza] [int] NULL,
	[snEliminado] [bit] NULL,
	[snImpreso] [bit] NULL,
 CONSTRAINT [PK_tbMovimientos] PRIMARY KEY CLUSTERED 
(
	[IDMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
