USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuditoria_EstablecerContexto]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spAuditoria_EstablecerContexto]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Establecer el UsuarioId en el contexto para que el trigger lo pueda leer
    DECLARE @ContextInfo VARBINARY(128)
    SET @ContextInfo = CAST(@UsuarioId AS VARBINARY(128))
    SET CONTEXT_INFO @ContextInfo
    
    PRINT 'Contexto de auditorÃ­a establecido para UsuarioId: ' + CAST(@UsuarioId AS NVARCHAR(10))
END
GO
