USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_SerializarFila]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_SerializarFila](@Tabla NVARCHAR(100), @RegistroId NVARCHAR(50))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @JsonResult NVARCHAR(MAX)
    DECLARE @Sql NVARCHAR(MAX)
    
    -- Construir query dinamico para obtener el registro
    SET @Sql = 'SELECT * FROM ' + QUOTENAME(@Tabla) + ' WHERE Id = @Id'
    
    -- Ejecutar query dinamico y serializar a JSON
    -- Nota: Esta función es un placeholder, la implementación real dependera de cada tabla
    SET @JsonResult = '{"mensaje": "Función placeholder - implementar por tabla"}'
    
    RETURN @JsonResult
END
GO
