USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbAuxiliares]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAuxiliares](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroAsociado] [int] NOT NULL,
	[CodigoRubro] [varchar](5) NULL,
	[TipoAuxiliar] [int] NULL,
	[Cuota] [numeric](18, 2) NULL,
	[Saldo] [numeric](18, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioCrea] [int] NULL,
	[UsuarioModifica] [int] NULL,
	[MontoOriginal] [numeric](18, 2) NULL,
	[FechaOtorgado] [datetime] NULL,
	[TasaInteres] [numeric](18, 2) NULL,
	[PagoMes] [numeric](18, 2) NULL,
	[InteresCalculado] [numeric](18, 2) NULL,
	[InteresPagado] [numeric](18, 2) NULL,
	[FechaUltimoPago] [datetime] NULL,
	[FechaUltimoRetiro] [datetime] NULL,
	[snEliminado] [bit] NULL,
	[MontoPignorado] [numeric](18, 2) NULL,
	[UsuarioElimina] [nvarchar](50) NULL,
	[FechaElimina] [datetime] NULL,
	[SysLastSessionID] [varchar](50) NULL,
	[FechaUltPagoInteres] [datetime] NULL,
	[FechaUltCalculoInteres] [date] NULL,
	[snActivo] [bit] NULL,
 CONSTRAINT [PK_tbAuxiliaresKey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NumeroAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que eliminÃ³ el auxiliar' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbAuxiliares', @level2type=N'COLUMN',@level2name=N'UsuarioElimina'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha y hora de eliminaciÃ³n del auxiliar' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbAuxiliares', @level2type=N'COLUMN',@level2name=N'FechaElimina'
GO
