USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spGestionSocios_ObtenerSocioPorNumero]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGestionSocios_ObtenerSocioPorNumero]
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            a.NumeroAsociado,
            a.IdTipoAsociado,
            ta.TipoAsociado,
            a.Nombre,
            a.SegundoNombre,
            a.Apellido,
            a.SegundoApellido,
            a.Estatus,
            a.TipoIdentificacion,
            a.NumeroIdentificacion,
            a.TelefonoResidencia,
            a.TelefonoCelular,
            a.TelefonoFamiliar,
            a.TelefonoTrabajo,
            a.CorreoElectronico,
            a.Sexo,
            a.FechaNacimiento,
            a.ProvinciaResidencia,
            pr.Descripcion AS ProvinciaResidenciaDescripcion,
            a.DistritoResidencia,
            dr.Descripcion AS DistritoResidenciaDescripcion,
            a.CorregimientoResidencia,
            cr.Descripcion AS CorregimientoResidenciaDescripcion,
            a.DireccionResidencia,
            a.ProvinciaTrabajo,
            p.Descripcion AS ProvinciaTrabajoDescripcion,
            a.DistritoTrabajo,
            d.Descripcion AS DistritoTrabajoDescripcion,
            a.CorregimientoTrabajo,
            c.Descripcion AS CorregimientoTrabajoDescripcion,
            a.DireccionTrabajo,
            a.LugarTrabajo,
            e.Descripcion AS LugarTrabajoDescripcion,
            a.Ocupacion,
            o.Descripcion AS OcupacionDescripcion,
            a.NivelEstudio,
            a.Profesion,
            a.PaisTrabajo,
            pais.Descripcion AS PaisTrabajoDescripcion,
            a.PaisResidencia,
            paisRes.Descripcion AS PaisResidenciaDescripcion,
            a.FechaCreacion,
            Usr.Usuario AS UsuarioCrea,
            a.FechaModificacion,
            UsrM.Usuario AS UsuarioModifica,
            a.snEliminado,
            ISNULL((SELECT COUNT(aux.ID) FROM tbAuxiliares aux WHERE aux.NumeroAsociado = a.NumeroAsociado AND aux.snEliminado = 0 and aux.snActivo=1), 0) AS CantAuxiliares
        FROM tbAsociados a
        LEFT JOIN tbTipoAsociado ta ON a.IdTipoAsociado = ta.IdTipoAsociado
        LEFT JOIN tbUsuarios Usr ON Usr.Id = a.UsuarioCrea
        LEFT JOIN tbUsuarios UsrM ON UsrM.Id = a.UsuarioModifica
        LEFT JOIN tbEmpresas e ON a.LugarTrabajo = e.Code AND e.snEliminado = 0
        LEFT JOIN tbOcupaciones o ON a.Ocupacion = o.Code AND o.snEliminado = 0
        LEFT JOIN tbPaises pais ON a.PaisTrabajo = pais.Code AND pais.snEliminado = 0
        LEFT JOIN tbPaises paisRes ON a.PaisResidencia = paisRes.Code AND paisRes.snEliminado = 0
        LEFT JOIN tbProvincias p ON a.ProvinciaTrabajo = p.Code AND p.snEliminado = 0
        LEFT JOIN tbDistritos d ON a.DistritoTrabajo = d.Code AND d.snEliminado = 0
        LEFT JOIN tbCorregimientos c ON a.CorregimientoTrabajo = c.Code AND c.snEliminado = 0
        LEFT JOIN tbProvincias pr ON a.ProvinciaResidencia = pr.Code AND pr.snEliminado = 0
        LEFT JOIN tbDistritos dr ON a.DistritoResidencia = dr.Code AND dr.snEliminado = 0
        LEFT JOIN tbCorregimientos cr ON a.CorregimientoResidencia = cr.Code AND cr.snEliminado = 0
        WHERE a.NumeroAsociado = @NumeroAsociado
          AND a.snEliminado = 0;
    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;
    END CATCH
END
GO
