USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spCuentas_Eliminar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Eliminar cuenta (soft delete)
-- =============================================
CREATE PROCEDURE [dbo].[spCuentas_Eliminar]
    @ID INT,
    @IdSession NVARCHAR(50),
    @UsuarioElimina INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        
        -- Validar que existe
        IF NOT EXISTS (SELECT 1 FROM tbCuentas WHERE ID = @ID AND snEliminado = 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se encontrÃ³ la cuenta para eliminar';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Obtener el cÃ³digo de la cuenta
        DECLARE @Cuenta VARCHAR(50);
        SELECT @Cuenta = Cuenta FROM tbCuentas WHERE ID = @ID;
        
        -- Verificar si tiene movimientos en tbAsientos
        IF EXISTS (
            SELECT 1 FROM tbAsientos 
            WHERE Cuenta = @Cuenta 
                AND snEliminado = 0
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se puede eliminar la cuenta porque tiene movimientos en asientos';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Soft delete
        UPDATE tbCuentas SET
            snEliminado = 1,
            FechaEliminacion = GETDATE(),
            UsuarioElimina = @UsuarioElimina,
            SysLastSessionID = @IdSession
        WHERE ID = @ID;
        
        SET @Resultado = 'SUCCESS';
        SET @Mensaje = 'Cuenta eliminada correctamente';
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END

GO
