USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerInfoServidor__old]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerInfoServidor__old]()
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @InfoServidor NVARCHAR(MAX)
    
    SET @InfoServidor = '{"ServerName":"' + @@SERVERNAME + 
                       '","DatabaseName":"' + DB_NAME() + 
                       '","LoginName":"' + ISNULL(SUSER_NAME(), 'NULL') + 
                       '","HostName":"' + HOST_NAME() + 
                       '","SessionId":' + CAST(@@SPID AS NVARCHAR(10)) + 
                       ',"Timestamp":"' + CONVERT(NVARCHAR(23), GETDATE(), 126) + '"}'
    
    RETURN @InfoServidor
END
GO
