USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_LimpiarSesionesExpiradas]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para limpiar sesiones expiradas
-- =============================================
CREATE PROCEDURE [dbo].[sp_LimpiarSesionesExpiradas]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TimeoutMinutos INT = 480; -- 8 horas por defecto
    
    -- Obtener configuración de timeout
    SELECT @TimeoutMinutos = CAST(Valor AS INT) 
    FROM tbConfiguraciones 
    WHERE Clave = 'Sesion.TiempoExpiracion';
    
    IF @TimeoutMinutos IS NULL
        SET @TimeoutMinutos = 480;
    
    -- Cerrar sesiones expiradas
    UPDATE tbSesiones 
    SET Activa = 0, FechaFin = GETDATE()
    WHERE Activa = 1 
    AND DATEDIFF(MINUTE, FechaInicio, GETDATE()) > @TimeoutMinutos;
    
    SELECT @@ROWCOUNT AS SesionesCerradas;
END
GO
