USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorId]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para obtener un usuario por ID
CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorId]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.Id,
        u.Nombre,
        u.Apellido,
        u.Usuario,
        u.Email,
        u.Telefono,
        u.Rol,
        r.Nombre AS RolNombre,
        u.Departamento,
        d.Nombre AS DepartamentoNombre,
        u.Estado,
        u.UltimoAcceso,
        u.IntentosFallidos,
        u.BloqueadoHasta,
        u.FechaCreacion,
        u.FechaModificacion
    FROM tbUsuarios u
    LEFT JOIN tbRoles r ON u.Rol = r.Id
    LEFT JOIN tbDepartamentos d ON u.Departamento = d.Id
    WHERE u.Id = @UsuarioId  and u.snEliminado=0;
END
GO
