USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuariosPorDepartamento]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para obtener usuarios por departamento
CREATE PROCEDURE [dbo].[sp_ObtenerUsuariosPorDepartamento]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        d.Nombre AS Departamento,
        COUNT(u.Id) AS CantidadUsuarios,
        SUM(CASE WHEN u.Estado = 'Activo' THEN 1 ELSE 0 END) AS UsuariosActivos
    FROM tbDepartamentos d
    LEFT JOIN tbUsuarios u ON d.Id = u.Departamento
    WHERE d.Activo = 1 and u.snEliminado=0
    GROUP BY d.Id, d.Nombre
    ORDER BY d.Nombre;
END
GO
