USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spGetDashboard]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[spGetDashboard]
	as
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select 
		IsNull((Select count(NumeroAsociado) From tbAsociados Where snEliminado=0 and Estatus='A'),0) as SociosActivos,

		(SELECT 
              CASE DATEPART(WEEKDAY, FechaMovimiento)
                WHEN 1 THEN 'Do'
                WHEN 2 THEN 'Lu'
                WHEN 3 THEN 'Ma'
                WHEN 4 THEN 'Mi'
                WHEN 5 THEN 'Ju'
                WHEN 6 THEN 'Vi'
                WHEN 7 THEN 'Sá'
              END AS DiaSemana,
              COUNT(IDMovimiento) AS TotalMovimientos
            FROM tbMovimientos
            WHERE snEliminado = 0
              AND FechaMovimiento >= DATEADD(DAY, -7, GETDATE())
            GROUP BY  CASE DATEPART(WEEKDAY, FechaMovimiento)
                WHEN 1 THEN 'Do'
                WHEN 2 THEN 'Lu'
                WHEN 3 THEN 'Ma'
                WHEN 4 THEN 'Mi'
                WHEN 5 THEN 'Ju'
                WHEN 6 THEN 'Vi'
                WHEN 7 THEN 'Sá'
              END
            ORDER BY MIN(FechaMovimiento)
            FOR JSON AUTO) as JsonUltimosMovimientos_real,
            '[{"DiaSemana":"Mié","TotalMovimientos":38},
            {"DiaSemana":"Mar","TotalMovimientos":38},{"DiaSemana":"Jue","TotalMovimientos":3},
            {"DiaSemana":"Vie","TotalMovimientos":33},{"DiaSemana":"Lun","TotalMovimientos":17},
            {"DiaSemana":"Sáb","TotalMovimientos":2}]'as JsonUltimosMovimientos,

		 (SELECT tasoc.CodTipoAsociado TipoAsociado, COUNT(NumeroAsociado) AS Cantidad
			FROM tbAsociados asoc LEFT JOIN tbTipoAsociado tasoc 
			ON asoc.IdTipoAsociado = tasoc.IdTipoAsociado
			WHERE asoc.snEliminado = 0
			GROUP BY tasoc.CodTipoAsociado
			FOR JSON AUTO) as JsonTiposAsociados,

            (SELECT a.CodigoRubro Tipo, Count(a.ID) as Auxiliares
                    FROM tbAuxiliares a
    
                    WHERE a.snEliminado = 0  and a.SnActivo=1
                    Group by a.CodigoRubro
             FOR JSON AUTO) as JsonAuxiliares

END
GO
