USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spMovimientos_ObtenerDatosComprobante]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spMovimientos_ObtenerDatosComprobante]
    @MovimientoID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        right('000000000000' + cast(m.IDMovimiento as varchar(12)),12) AS ID,
        m.NumeroAsociado,
        s.TipoIdentificacion,
        s.NumeroIdentificacion,
        s.Nombre + ' ' + s.Apellido AS NombreAsociado,
        m.CodigoRubro,
        r.Descripcion AS DescripcionRubro,
        m.IDAuxiliar,
        ta.Descripcion AS DescripcionTipoAuxiliar,
        right('000000000000' + cast(a.ID as varchar(12)),12) Cuenta,
        m.CodigoTransaccion,
        upper(ct.Descripcion) AS DescripcionTransaccion,
        m.FechaMovimiento,
        m.Monto,
        m.Saldo,
        m.Observaciones,
        u.Nombre AS UsuarioNombre,
        m.snImpreso,
        m.IDMovIntereses,
        -- Si existe IDMovIntereses, obtener el monto de intereses
        CASE 
            WHEN m.IDMovIntereses IS NOT NULL THEN mi.Monto
            ELSE NULL
        END AS MontoIntereses
    FROM tbMovimientos m
    INNER JOIN tbAsociados s ON m.NumeroAsociado = s.NumeroAsociado 
    LEFT JOIN tbRubros r ON m.CodigoRubro = r.CodigoRubro AND (r.snEliminado = 0 OR r.snEliminado IS NULL)
    LEFT JOIN tbAuxiliares a ON m.IDAuxiliar = a.ID AND (a.snEliminado = 0 OR a.snEliminado IS NULL)
    -- Usar el CodigoRubro del movimiento para buscar el tipo de auxiliar (más confiable)
    LEFT JOIN tbTiposAuxiliares ta ON a.TipoAuxiliar = ta.ID 
        AND m.CodigoRubro = ta.CodigoRubro 
        AND (ta.snEliminado = 0 OR ta.snEliminado IS NULL)
    LEFT JOIN tbCodigosTransaccion ct ON m.CodigoTransaccion = ct.CodigoTransaccion 
        AND m.CodigoRubro = ct.CodigoRubro 
        AND (ct.SnEliminado = 0 OR ct.SnEliminado IS NULL)
    LEFT JOIN tbUsuarios u ON m.UsuarioCrea = u.Id AND (u.snEliminado = 0 OR u.snEliminado IS NULL)
    LEFT JOIN tbMovimientos mi ON m.IDMovIntereses = mi.IDMovimiento AND mi.snEliminado = 0
    WHERE m.IDMovimiento = @MovimientoID
      AND m.snEliminado = 0;
END;

GO
