USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spUsuarios_Eliminar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarios_Eliminar]
    @ID INT,
    @UsuarioID int,
    @IdSession varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Resultado VARCHAR(20) = 'ERROR';
    DECLARE @Mensaje VARCHAR(500) = '';
    
    BEGIN TRY
        -- Verificar que el usuario existe
        IF NOT EXISTS (SELECT 1 FROM tbUsuarios WHERE Id = @ID AND snEliminado = 0)
        BEGIN
            SET @Mensaje = 'El usuario no existe';
            GOTO FINAL;
        END
        
        -- Verificar que no sea el último usuario del sistema
        IF (SELECT COUNT(*) FROM tbUsuarios WHERE snEliminado = 0) <= 1
        BEGIN
            SET @Mensaje = 'No se puede eliminar el último usuario del sistema';
            GOTO FINAL;
        END
        
        -- Soft delete
        UPDATE tbUsuarios SET
            snEliminado = 1,
            FechaEliminado = GETDATE(),
            EliminadoPor = @UsuarioID,
            SysLastSessionID = @IdSession
        WHERE Id = @ID;
        
        SET @Resultado = 'SUCCESS';
        SET @Mensaje = 'Usuario eliminado exitosamente';
        
    END TRY
    BEGIN CATCH
        SET @Mensaje = 'Error en la base de datos: ' + ERROR_MESSAGE();
    END CATCH
    
    FINAL:
    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
END
GO
