USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spProvincias_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spProvincias_Listar]
    @Code INT = NULL,
    @CodePais NVARCHAR(3) = NULL,
    @Descripcion NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        p.ID,
        p.Code,
        p.CodePais,
        pa.Descripcion AS PaisDescripcion,
        p.Descripcion,
        p.snEliminado
    FROM
        tbProvincias p
        LEFT JOIN tbPaises pa ON p.CodePais = pa.Code AND pa.snEliminado = 0
    WHERE
        p.snEliminado = 0
        AND (@Code IS NULL OR p.Code = @Code)
        AND (@CodePais IS NULL OR p.CodePais = @CodePais)
        AND (@Descripcion IS NULL OR p.Descripcion LIKE '%' + @Descripcion + '%')
    ORDER BY
        p.CodePais, p.Code;
END
GO
