USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MarcarNotificacionLeida]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para marcar notificación como leída
-- =============================================
CREATE PROCEDURE [dbo].[sp_MarcarNotificacionLeida]
    @NotificacionId INT,
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE tbNotificaciones 
    SET Leida = 1
    WHERE Id = @NotificacionId AND UsuarioId = @UsuarioId;
    
    SELECT 'Exito' AS Resultado, 'Notificación marcada como leída' AS Mensaje;
END
GO
