USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spReportes_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spReportes_Listar]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            ID,
            Nombre,
            Tipo,
            Comando,
            Descripcion,
            SnActivo,
            SnEliminado
        FROM tbReportesComandos 
        WHERE SnEliminado = 0 
        AND SnActivo = 1
        ORDER BY Tipo, Nombre;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
