USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbTipoDocumentos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoDocumentos](
	[IDTipoDoc] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoDoc] [varchar](10) NOT NULL,
	[TipoDocumento] [nvarchar](50) NOT NULL,
	[snEliminado] [bit] NULL,
 CONSTRAINT [PK_tbTipoDocumentos] PRIMARY KEY CLUSTERED 
(
	[CodTipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
