USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spTiposAuxiliares_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTiposAuxiliares_Listar]
    @CodigoRubro VARCHAR(5) = NULL,
    @TipoAuxiliar INT = NULL,
    @Descripcion NVARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ta.ID,
        ta.CodigoRubro,
        r.Descripcion AS RubroDescripcion,
        ta.TipoAuxiliar,
        ta.Descripcion,
        ta.Tasa,
        ta.Plazo,
        ta.MontoMaximo,
        ta.MontoMinimo,
        ta.PorManejo,
        ta.PorCapitalizacion,
        ta.PorProteccion,
        ta.snEliminado
    FROM tbTiposAuxiliares ta
    INNER JOIN tbRubros r ON ta.CodigoRubro = r.CodigoRubro
    WHERE ta.snEliminado = 0
        AND (@CodigoRubro IS NULL OR ta.CodigoRubro = @CodigoRubro)
        AND (@TipoAuxiliar IS NULL OR ta.TipoAuxiliar = @TipoAuxiliar)
        AND (@Descripcion IS NULL OR ta.Descripcion LIKE '%' + @Descripcion + '%')
    ORDER BY ta.CodigoRubro, ta.TipoAuxiliar;
END
GO
