USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbStatusAsociado]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbStatusAsociado](
	[IDStatus] [int] IDENTITY(1,1) NOT NULL,
	[CodStatusAsociado] [char](1) NOT NULL,
	[StatusAsociado] [nvarchar](50) NULL,
	[snEliminado] [bit] NULL,
 CONSTRAINT [PK_tbStatusAsociado] PRIMARY KEY CLUSTERED 
(
	[CodStatusAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
