USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUltimoAcceso]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para actualizar último acceso
CREATE PROCEDURE [dbo].[sp_ActualizarUltimoAcceso]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE tbUsuarios SET
        UltimoAcceso = GETDATE()
    WHERE Id = @UsuarioId;
END
GO
