USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbCuentas]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCuentas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cuenta] [varchar](50) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[IDGrupo] [int] NULL,
	[Saldo] [numeric](18, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCrea] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModifica] [int] NULL,
	[FechaEliminacion] [datetime] NULL,
	[UsuarioElimina] [int] NULL,
	[snEliminado] [bit] NULL,
	[SysLastSessionID] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbCuentas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
