USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAsociados_ObtenerEstadoCuenta]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spAsociados_ObtenerEstadoCuenta]
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY


        Declare @MensajeIntereses nvarchar(max)='';

        EXEC [dbo].[spAuxiliares_CalcularIntereses]
                @NumeroAsociado = @NumeroAsociado,
                @ReturnMessage = @MensajeIntereses OUTPUT;

        IF ISNULL(@MensajeIntereses, '') <> ''
        BEGIN
            RAISERROR(@MensajeIntereses, 16, 1);
        END

        SELECT
            A.ID AS IDAuxiliar,
            -- Tipo de Auxiliar
            R.Descripcion AS TipoAuxiliar,
            s.TipoIdentificacion,
            s.NumeroIdentificacion,
            RIGHT('000000000000' + CAST(A.ID AS VARCHAR(12)), 12) AS NumeroCuenta,
            COALESCE(
                (SELECT MIN(M.FechaMovimiento) 
                 FROM tbMovimientos M 
                 WHERE M.IDAuxiliar = A.ID AND M.snEliminado = 0),
                A.FechaCreacion
            ) AS FechaInicio,
            -- Monto Original (monto inicial del auxiliar o primer movimiento)
            COALESCE(
                (SELECT TOP 1 M.Monto 
                 FROM tbMovimientos M 
                 WHERE M.IDAuxiliar = A.ID AND M.snEliminado = 0 
                 ORDER BY M.FechaMovimiento ASC, M.IDMovimiento ASC),
                A.MontoPignorado,
                0
            ) AS MontoOriginal,
            -- Fecha Último Pago
            (SELECT MAX(M.FechaMovimiento) 
             FROM tbMovimientos M 
             WHERE M.IDAuxiliar = A.ID 
               AND M.snEliminado = 0 
               AND M.CodigoTransaccion IN (SELECT CodigoTransaccion 
                                           FROM tbCodigosTransaccion 
                                           WHERE Descripcion LIKE '%PAGO%' 
                                             AND CodigoRubro = A.CodigoRubro)) AS FechaUltimoPago,
            -- Cuota (último monto pagado)
            (SELECT TOP 1 M.Monto 
             FROM tbMovimientos M 
             WHERE M.IDAuxiliar = A.ID 
               AND M.snEliminado = 0 
               AND M.CodigoTransaccion IN (SELECT CodigoTransaccion 
                                           FROM tbCodigosTransaccion 
                                           WHERE Descripcion LIKE '%PAGO%' 
                                             AND CodigoRubro = A.CodigoRubro)
             ORDER BY M.FechaMovimiento DESC, M.IDMovimiento DESC) AS Cuota,
            A.InteresCalculado Intereses,
            A.CodigoRubro,
           IsNull(A.Saldo,0) AS SaldoActual
        FROM tbAuxiliares A
        INNER JOIN tbRubros R ON A.CodigoRubro = R.CodigoRubro
        INNER JOIN tbAsociados s ON A.NumeroAsociado = s.NumeroAsociado 
        WHERE A.NumeroAsociado = @NumeroAsociado
          AND A.snEliminado = 0 and a.snActivo=1
        ORDER BY A.CodigoRubro, A.ID
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
