USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spDistritos_Listar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spDistritos_Listar]
    @Code INT = NULL,
    @CodePais NVARCHAR(3) = NULL,
    @CodeProvincia INT = NULL,
    @Descripcion NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            d.ID,
            d.Code,
            d.CodePais,
            d.CodeProvincia,
            d.Descripcion,
            d.snEliminado,
            p.Descripcion AS PaisDescripcion,
            pr.Descripcion AS ProvinciaDescripcion
        FROM tbDistritos d
        LEFT JOIN tbPaises p ON d.CodePais = p.Code AND p.snEliminado = 0
        LEFT JOIN tbProvincias pr ON d.CodeProvincia = pr.Code AND d.CodePais = pr.CodePais AND pr.snEliminado = 0
        WHERE d.snEliminado = 0
            AND (@Code IS NULL OR d.Code = @Code)
            AND (@CodePais IS NULL OR d.CodePais = @CodePais)
            AND (@CodeProvincia IS NULL OR d.CodeProvincia = @CodeProvincia)
            AND (@Descripcion IS NULL OR d.Descripcion LIKE '%' + @Descripcion + '%')
        ORDER BY d.CodePais, d.CodeProvincia, d.Code
    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END
GO
