USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbParentezcos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbParentezcos](
	[IDParentezco] [int] IDENTITY(1,1) NOT NULL,
	[Parentezco] [nvarchar](50) NULL,
	[snEliminado] [bit] NULL
) ON [PRIMARY]
GO
