USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spLogs_ObtenerLogAuditoria]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spLogs_ObtenerLogAuditoria]
    @TablaAfectada NVARCHAR(100) = NULL,
    @UsuarioId INT = NULL,
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL,
    @Operacion CHAR(1) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT 
            la.Id,
            la.TablaAfectada,
            la.RegistroId,
            la.Operacion,
            CASE la.Operacion
                WHEN 'I' THEN 'Insertar'
                WHEN 'U' THEN 'Actualizar'
                WHEN 'D' THEN 'Eliminar'
                ELSE 'Desconocido'
            END AS OperacionDescripcion,
            la.UsuarioId,
            u.Usuario AS UsuarioNombre,
            la.FechaHora,
            la.JsonPrevio,
            la.JsonPosterior,
            la.ServidorInfo,
            la.Comentarios
        FROM tbLogsAuditoria la
        LEFT JOIN tbUsuarios u ON la.UsuarioId = u.Id
        WHERE 1=1
            AND (@TablaAfectada IS NULL OR la.TablaAfectada = @TablaAfectada)
            AND (@UsuarioId IS NULL OR la.UsuarioId = @UsuarioId)
            AND (@FechaDesde IS NULL OR CAST(la.FechaHora AS DATE) >= @FechaDesde)
            AND (@FechaHasta IS NULL OR CAST(la.FechaHora AS DATE) <= @FechaHasta)
            AND (@Operacion IS NULL OR la.Operacion = @Operacion)
        ORDER BY la.FechaHora DESC;
    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;
    END CATCH
END
GO
