USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spParametrosAplicacion_ListarGrupos]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spParametrosAplicacion_ListarGrupos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT DISTINCT ParamGroup FROM tbParamsKeys ORDER BY ParamGroup;
END
GO
