USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spParametrosAplicacion_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spParametrosAplicacion_Listar]
    @ParamGroup VARCHAR(50) = NULL,
    @Buscar NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        ParamKey,
        ParamDescription,
        ParamGroup,
        ParamValue
    FROM tbParamsKeys
    WHERE (@ParamGroup IS NULL OR ParamGroup = @ParamGroup)
      AND (@Buscar IS NULL OR ParamDescription LIKE '%' + @Buscar + '%' OR ParamKey LIKE '%' + @Buscar + '%')
    oRDER BY ParamGroup
END
GO
