USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbBeneficiarios]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBeneficiarios](
	[IDBeneficiario] [int] IDENTITY(1,1) NOT NULL,
	[NumeroAsociado] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[TipoIdentificacion] [varchar](10) NULL,
	[NumeroIdentificacion] [nvarchar](200) NULL,
	[IDParentezco] [int] NULL,
	[Porcentaje] [numeric](5, 2) NULL,
	[snEliminado] [bit] NULL,
	[UsuarioCrea] [int] NULL,
	[FechaHoraCrea] [datetime] NULL,
	[UsuarioModifica] [int] NULL,
	[FechaModifica] [datetime] NULL,
	[UsuarioElimina] [int] NULL,
	[FechaElimina] [datetime] NULL,
	[SysLastSessionID] [varchar](50) NULL,
 CONSTRAINT [PK_tbBeneficiarios] PRIMARY KEY CLUSTERED 
(
	[IDBeneficiario] ASC,
	[NumeroAsociado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
