USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerUsuario]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerUsuario](@UsuarioId INT)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = Usuario + ' (' + CAST(Id AS NVARCHAR(10)) + ')'
    FROM tbUsuarios 
    WHERE Id = @UsuarioId
    
    RETURN ISNULL(@Descripcion, 'N/A (' + CAST(ISNULL(@UsuarioId, 0) AS NVARCHAR(10)) + ')')
END
GO
