USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spReportes_Movimientos]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spReportes_Movimientos]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            -- 🔑 Datos del movimiento
            M.[IDMovimiento] AS [ID Movimiento],
            CONVERT(VARCHAR(10), M.[FechaMovimiento], 103) AS [Fecha del Movimiento],
            FORMAT(M.[FechaMovimiento], 'hh:mm:ss tt') AS [Hora del Movimiento],
            FORMAT(M.[Monto], 'C') AS [Monto],
            FORMAT(M.[Saldo], 'C') AS [Saldo],
            M.[Observaciones] AS [Observaciones],

            -- 🧍 Datos del asociado
            M.[NumeroAsociado] AS [Número de Asociado],
            A.[Nombre] + ' ' + A.[Apellido] AS [Nombre Completo],
            A.[NumeroIdentificacion] AS [Número de Identificación],

            -- 📊 Rubro y transacción
            M.[CodigoRubro] AS [Código Rubro],
            R.[Descripcion] AS [Rubro],
            M.[CodigoTransaccion] AS [Código Transacción],
            T.[Descripcion] AS [Transacción],

            -- 🕓 Auditoría
            CONVERT(VARCHAR(10), M.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(M.[FechaCreacion], 'hh:mm:ss tt') AS [Hora de Creación],
            M.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],

            CONVERT(VARCHAR(10), M.[FechaActualizado], 103) AS [Fecha de Actualización],
            FORMAT(M.[FechaActualizado], 'hh:mm:ss tt') AS [Hora de Actualización],
            M.[UsuarioActualiza] AS [ID Usuario Actualiza],
            UA.[Usuario] AS [Usuario que Actualiza],

            -- ⚙️ Estado
            CASE WHEN M.[snEliminado] = 1 THEN 'SI' ELSE 'NO' END AS [¿Eliminado?],
            CASE WHEN M.[snImpreso] = 1 THEN 'SI' ELSE 'NO' END AS [¿Impreso?]

        FROM [dbo].[tbMovimientos] M
        LEFT JOIN [dbo].[tbAsociados] A 
            ON M.[NumeroAsociado] = A.[NumeroAsociado] AND A.[snEliminado] = 0
        LEFT JOIN [dbo].[tbRubros] R 
            ON M.[CodigoRubro] = R.[CodigoRubro]
        LEFT JOIN [dbo].[tbCodigosTransaccion] T 
            ON M.[CodigoTransaccion] = T.[CodigoTransaccion] AND M.[CodigoRubro] = T.[CodigoRubro]
        LEFT JOIN [dbo].[tbUsuarios] UC 
            ON M.[UsuarioCrea] = UC.[Id] AND UC.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UA 
            ON M.[UsuarioActualiza] = UA.[Id] AND UA.[snEliminado] = 0
        WHERE M.[snEliminado] = 0
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
