USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarUsuario_Borrar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para guardar usuario (INSERT/UPDATE)
CREATE PROCEDURE [dbo].[sp_GuardarUsuario_Borrar]
    @UsuarioId INT = 0,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Usuario NVARCHAR(50),
    @Clave NVARCHAR(255) = NULL,
    @Email NVARCHAR(100),
    @Telefono NVARCHAR(20) = NULL,
    @Rol INT,
    @Departamento INT = NULL,
    @Estado NVARCHAR(20),
    @UsuarioActual INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF @UsuarioId = 0
        BEGIN
            -- INSERT
            IF @Clave IS NULL OR @Clave = ''
            BEGIN
                RAISERROR('La contraseña es requerida para nuevos usuarios', 16, 1);
                RETURN;
            END
            
            INSERT INTO tbUsuarios (
                Nombre, Apellido, Usuario, Clave, Email, Telefono, 
                Rol, Departamento, Estado, FechaCreacion, CreadoPor, snEliminado
            )
            VALUES (
                @Nombre, @Apellido, @Usuario, @Clave, @Email, @Telefono,
                @Rol, @Departamento, @Estado, GETDATE(), @UsuarioActual,0
            );
            
            SELECT 'Usuario creado exitosamente' AS Mensaje;
        END
        ELSE
        BEGIN
            -- UPDATE
            UPDATE tbUsuarios SET
                Nombre = @Nombre,
                Apellido = @Apellido,
                Usuario = @Usuario,
                Email = @Email,
                Telefono = @Telefono,
                Rol = @Rol,
                Departamento = @Departamento,
                Estado = @Estado,
                FechaModificacion = GETDATE(),
                ModificadoPor = @UsuarioActual
            WHERE Id = @UsuarioId;
            
            -- Actualizar contraseña solo si se proporciona
            IF @Clave IS NOT NULL AND @Clave <> ''
            BEGIN
                UPDATE tbUsuarios SET
                    Clave = @Clave
                WHERE Id = @UsuarioId;
            END
            
            SELECT 'Usuario actualizado exitosamente' AS Mensaje;
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
