USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbLogs]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[Fecha] [datetime] NOT NULL,
	[Datos] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbLogs] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[tbLogs]  WITH CHECK ADD  CONSTRAINT [FK_tbLogs_tbUsuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[tbUsuarios] ([Id])
GO
ALTER TABLE [dbo].[tbLogs] CHECK CONSTRAINT [FK_tbLogs_tbUsuarios]
GO
