USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spUsuarios_ActualizarSesion]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spUsuarios_ActualizarSesion]
    @Usuario VARCHAR(50),
    @HostName VARCHAR(255),
    @IpAddress VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE [dbo].[tbLogins]
        SET 
            [LastSessionDateTime] = GETDATE(),
            [LastSessionCompName] = @HostName,
            [LastSessionIpAddress] = @IpAddress
        WHERE 
            [User] = @Usuario;

        -- Retornar el número de filas afectadas (debe ser 1 si existe el usuario)
        SELECT @@ROWCOUNT AS FilasAfectadas;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
