USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spMovimientos_GuardarMovimiento_Original]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMovimientos_GuardarMovimiento_Original]
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(10),
    @IDAuxiliar INT,
    @CodigoTransaccion VARCHAR(10),
    @Monto DECIMAL(18,2),
    @Observaciones VARCHAR(500) = NULL,
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @EsValido BIT;
    DECLARE @MensajeVal VARCHAR(500);
    DECLARE @MovimientoID INT;
    DECLARE @CuentaContable NVARCHAR(50);
    DECLARE @ContraCuenta NVARCHAR(50);
    DECLARE @DebCredPrincipal CHAR(1);

    BEGIN TRY
        -- 1. VALIDACIÓN PRIMERO (fuera de transacción)
        EXEC [dbo].[spMovimiento_Validar]
            @NumeroAsociado = @NumeroAsociado,
            @CodigoRubro = @CodigoRubro,
            @IDAuxiliar = @IDAuxiliar,
            @CodigoTransaccion = @CodigoTransaccion,
            @Monto = @Monto,
            @Resultado = @EsValido OUTPUT,
            @Mensaje = @MensajeVal OUTPUT;

        IF (@EsValido = 0)
        BEGIN
            SELECT 'ERROR' AS Resultado, @MensajeVal AS Mensaje, NULL AS MovimientoID;
            RETURN;
        END

        -- 2. TRANSACCIÓN 
        BEGIN TRANSACTION;

        -- OBTENER CONSECUTIVO 
        UPDATE [dbo].[tbControlConsecutivos] 
        SET @MovimientoID = UltimoConsecutivo + 1,
            UltimoConsecutivo = UltimoConsecutivo + 1
        WHERE Tabla = 'tbMovimientos';

        -- Verificar que se obtuvo consecutivo
        IF @MovimientoID IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 'ERROR' AS Resultado, 'Error al generar consecutivo' AS Mensaje, NULL AS MovimientoID;
            RETURN;
        END

        -- Insertar el movimiento
        INSERT INTO tbMovimientos (
            IDMovimiento, NumeroAsociado, CodigoRubro, IDAuxiliar, CodigoTransaccion,
            FechaMovimiento, FechaCreacion, Monto, Saldo, Observaciones,
            UsuarioCrea, snEliminado
        )
        VALUES (
            @MovimientoID, @NumeroAsociado, @CodigoRubro, @IDAuxiliar, @CodigoTransaccion,
            GETDATE(), GETDATE(), @Monto, 0, @Observaciones,
            @UsuarioID, 0
        );

        -- Obtener configuración contable
        SELECT TOP 1 
            @CuentaContable = CuentaContable, 
            @ContraCuenta = ContraCuenta, 
            @DebCredPrincipal = DebCred
        FROM tbCodigosTransaccion 
        WHERE CodigoTransaccion = @CodigoTransaccion
            AND SnActivo = 1
            AND SnEliminado = 0;

        -- Validar configuración contable
        IF @CuentaContable IS NULL OR @ContraCuenta IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 'ERROR' AS Resultado, 'Configuración contable no encontrada', NULL AS MovimientoID;
            RETURN;
        END

        -- Generar asientos contables
        IF @DebCredPrincipal = 'D'
        BEGIN
            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), 'TRA', @MovimientoID, @CuentaContable, @Monto, 0, ISNULL(@Observaciones, ''), 0);

            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), 'TRA', @MovimientoID, @ContraCuenta, 0, @Monto, ISNULL(@Observaciones, ''), 0);
        END
        ELSE
        BEGIN
            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), 'TRA', @MovimientoID, @CuentaContable, 0, @Monto, ISNULL(@Observaciones, ''), 0);

            INSERT INTO [dbo].[tbAsientos] ([Fecha], [CodTipoAsiento], [BaseID], [Cuenta], [Debito], [Credito], [Memo], [snEliminado])
            VALUES (GETDATE(), 'TRA', @MovimientoID, @ContraCuenta, @Monto, 0, ISNULL(@Observaciones, ''), 0);
        END

         /*ACTUALIZO AUXILIAR*/
        update tbAuxiliares
            Set Saldo = Saldo + (@Monto * IIF(@DebCredPrincipal='C',-1,1)),
                FechaUltimoPago = IIF(@DebCredPrincipal='C',FechaUltimoPago,GETDATE()),
                FechaUltimoRetiro = IIF(@DebCredPrincipal='C',GETDATE(),FechaUltimoRetiro)
        Where ID=@IDAuxiliar;


        COMMIT TRANSACTION;  
        
        SELECT 'SUCCESS' AS Resultado, 'Movimiento guardado exitosamente' AS Mensaje, @MovimientoID AS MovimientoID;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;  
            
        SELECT 'ERROR' AS Resultado, ERROR_MESSAGE() AS Mensaje, NULL AS MovimientoID;
    END CATCH
END
GO
