USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spMovimientos_GuardarMovimiento]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spMovimientos_GuardarMovimiento]
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(10),
    @IDAuxiliar INT,
    @CodigoTransaccion VARCHAR(10),
    @Monto DECIMAL(18,2),
    @UsuarioID INT,
    @Observaciones VARCHAR(500) = NULL,
    @MensajeVal NVARCHAR(MAX) OUTPUT

AS

BEGIN
    SET NOCOUNT ON;

    -- Variables generales
    DECLARE @EsValido BIT;
    DECLARE @MensajeAsiento VARCHAR(500)='';
    DECLARE @ReturnMessage VARCHAR(MAX) = '';
    DECLARE @InteresPendiente NUMERIC(19,6) = 0;
    DECLARE @MovimientoID_Interes INT = 0;
    DECLARE @MovimientoID_Capital INT = 0;
    DECLARE @SaldoActual NUMERIC(19,6);
    DECLARE @NuevoSaldo NUMERIC(19,6);
    DECLARE @MontoInteres NUMERIC(19,6)=0; 
    DECLARE @MontoCapital NUMERIC(19,6) =0;
    

    SET @MensajeVal = '';
    SET @Observaciones = ISNULL(@Observaciones,'Pago a capital');

    BEGIN TRY
        -------------------------------------------------------------------
        -- PASO 1: Validación del movimiento
        -------------------------------------------------------------------
        EXEC [dbo].[spMovimiento_Validar]
            @NumeroAsociado = @NumeroAsociado,
            @CodigoRubro = @CodigoRubro,
            @IDAuxiliar = @IDAuxiliar,
            @CodigoTransaccion = @CodigoTransaccion,
            @Monto = @Monto,
            @Resultado = @EsValido OUTPUT,
            @Mensaje = @MensajeVal OUTPUT;

        IF (@EsValido = 0)
        BEGIN
            SELECT 'ERROR' AS Resultado, @MensajeVal AS Mensaje, NULL AS CapitalMovimientoID, NULL AS InteresesMovimientoID;
            RETURN;
        END

        -------------------------------------------------------------------
        -- PASO 2: Si es préstamo, calcular intereses
        -------------------------------------------------------------------
        IF @CodigoRubro = 'PR'
        BEGIN
            EXEC [dbo].[spAuxiliares_CalcularIntereses]
                @NumeroAsociado = @NumeroAsociado,
                @UsuarioID = @UsuarioID,
                @IdAuxiliar = @IDAuxiliar,
                @ReturnMessage = @ReturnMessage OUTPUT;

            IF (@ReturnMessage IS NOT NULL AND @ReturnMessage <> '')
            BEGIN
                SELECT 'ERROR' AS Resultado, @ReturnMessage AS Mensaje, NULL AS CapitalMovimientoID, NULL AS InteresesMovimientoID;
                RETURN;
            END

            SELECT @InteresPendiente = ISNULL(InteresCalculado,0) - ISNULL(InteresPagado,0),
                   @SaldoActual = Saldo
            FROM dbo.tbAuxiliares
            WHERE ID = @IDAuxiliar;
        END
        ELSE
        BEGIN
            SELECT @SaldoActual = Saldo
            FROM dbo.tbAuxiliares
            WHERE ID = @IDAuxiliar;
        END

        -------------------------------------------------------------------
        -- PASO 3: Transacción única
        -------------------------------------------------------------------
        BEGIN TRANSACTION;

        IF @CodigoRubro = 'PR' AND @InteresPendiente > 0
        BEGIN
            -- Pago a intereses
            Set @MontoInteres = IIF(@Monto >= @InteresPendiente, @InteresPendiente, @Monto);
            Set @MontoCapital = @Monto - @MontoInteres;

            -- Nuevo saldo (no cambia por intereses)
            SET @NuevoSaldo = @SaldoActual;

            -- Consecutivo e inserción movimiento intereses
            UPDATE dbo.tbControlConsecutivos
            SET @MovimientoID_Interes = UltimoConsecutivo + 1,
                UltimoConsecutivo = UltimoConsecutivo + 1
            WHERE Tabla = 'tbMovimientos';

            INSERT INTO dbo.tbMovimientos (
                IDMovimiento, NumeroAsociado, CodigoRubro, IDAuxiliar, CodigoTransaccion,
                FechaMovimiento, FechaCreacion, Monto, Saldo, Observaciones,
                UsuarioCrea, snEliminado
            )
            VALUES (
                @MovimientoID_Interes, @NumeroAsociado, @CodigoRubro, @IDAuxiliar, 'PRPIN',
                GETDATE(), GETDATE(), @MontoInteres, @NuevoSaldo, ISNULL(@Observaciones,'Pago de intereses'),
                @UsuarioID, 0
            );


            Exec spMovimientos_GuardarAsiento @CodigoTransaccion = 'PRPIN', 
                                              @Monto = @MontoInteres,
                                              @Observaciones = 'Pago de intereses', 
                                              @CodTipoAsiento='TRA',
                                              @MovimientoID = @MovimientoID_Interes, 
                                              @Mensaje = @MensajeAsiento OUTPUT;

            
            IF @MensajeAsiento != ''
            BEGIN
                ROLLBACK TRANSACTION;

                --MENSAJE OUTPUT
                SET @MensajeVal = @MensajeAsiento; 
                
                --MENSAJE APP
                SELECT 'ERROR' AS Resultado, 
                        'Error al contabilizar: ' + @MensajeAsiento AS Mensaje, 
                        NULL AS MovimientoID;

                RETURN;
            END

            -- Actualizar auxiliar: intereses pagados
            UPDATE dbo.tbAuxiliares WITH (UPDLOCK, HOLDLOCK)
            SET InteresPagado = ISNULL(InteresPagado,0) + @MontoInteres,
                FechaUltimoPago = GETDATE()
            WHERE ID = @IDAuxiliar;

            -- Si sobra dinero, pago a capital
            IF @MontoCapital > 0
            BEGIN
                SET @NuevoSaldo = @SaldoActual + (@MontoCapital * IIF(@CodigoTransaccion='C',-1,1));

                UPDATE dbo.tbControlConsecutivos
                SET @MovimientoID_Capital = UltimoConsecutivo + 1,
                    UltimoConsecutivo = UltimoConsecutivo + 1
                WHERE Tabla = 'tbMovimientos';

                INSERT INTO dbo.tbMovimientos (
                    IDMovimiento, NumeroAsociado, CodigoRubro, IDAuxiliar, CodigoTransaccion,
                    FechaMovimiento, FechaCreacion, IDMovIntereses, Monto, Saldo, Observaciones,
                    UsuarioCrea, snEliminado
                )
                VALUES (
                    @MovimientoID_Capital, @NumeroAsociado, @CodigoRubro, @IDAuxiliar, @CodigoTransaccion,
                    GETDATE(), GETDATE(), @MovimientoID_Interes, @MontoCapital, @NuevoSaldo, ISNULL(@Observaciones,'Pago a capital'),
                    @UsuarioID, 0
                );


                Exec spMovimientos_GuardarAsiento @CodigoTransaccion = @CodigoTransaccion, 
                                                  @Monto = @MontoCapital,
                                                  @Observaciones = @Observaciones, 
                                                  @CodTipoAsiento='TRA',
                                                  @MovimientoID = @MovimientoID_Capital, 
                                                  @Mensaje = @MensajeAsiento OUTPUT;

            
                IF @MensajeAsiento != ''
                BEGIN
                    ROLLBACK TRANSACTION;

                    --MENSAJE OUTPUT
                    SET @MensajeVal = @MensajeAsiento; 
                
                    --MENSAJE APP
                    SELECT 'ERROR' AS Resultado, 
                            'Error al contabilizar: ' + @MensajeAsiento AS Mensaje, 
                            NULL AS MovimientoID;

                    RETURN;
                END

                UPDATE dbo.tbAuxiliares
                SET Saldo = @NuevoSaldo,
                    FechaUltimoPago = GETDATE()
                WHERE ID = @IDAuxiliar;
            END
        END
        ELSE
        BEGIN
            -- Movimiento normal
            SET @NuevoSaldo = @SaldoActual + (@Monto * IIF(@CodigoTransaccion='C',-1,1));
            Set @MontoCapital = @Monto;


            UPDATE dbo.tbControlConsecutivos
            SET @MovimientoID_Capital = UltimoConsecutivo + 1,
                UltimoConsecutivo = UltimoConsecutivo + 1
            WHERE Tabla = 'tbMovimientos';

            INSERT INTO dbo.tbMovimientos (
                IDMovimiento, NumeroAsociado, CodigoRubro, IDAuxiliar, CodigoTransaccion,
                FechaMovimiento, FechaCreacion, Monto, Saldo, Observaciones,
                UsuarioCrea, snEliminado
            )
            VALUES (
                @MovimientoID_Capital, @NumeroAsociado, @CodigoRubro, @IDAuxiliar, @CodigoTransaccion,
                GETDATE(), GETDATE(), @Monto, @NuevoSaldo, @Observaciones,
                @UsuarioID, 0
            );


            Exec spMovimientos_GuardarAsiento @CodigoTransaccion = @CodigoTransaccion, 
                                              @Monto = @Monto,
                                              @Observaciones = @Observaciones, 
                                              @CodTipoAsiento='TRA',
                                              @MovimientoID = @MovimientoID_Capital, 
                                              @Mensaje = @MensajeAsiento OUTPUT;

            
            IF @MensajeAsiento != ''
            BEGIN
                ROLLBACK TRANSACTION;

                --MENSAJE OUTPUT
                SET @MensajeVal = @MensajeAsiento; 
                
                --MENSAJE APP
                SELECT 'ERROR' AS Resultado, 
                        'Error al contabilizar: ' + @MensajeAsiento AS Mensaje, 
                        NULL AS MovimientoID;

                RETURN;
            END

            UPDATE dbo.tbAuxiliares
            SET Saldo = @NuevoSaldo,
                FechaUltimoPago = GETDATE()
            WHERE ID = @IDAuxiliar;
        END

        COMMIT TRANSACTION;

        -------------------------------------------------------------------
        -- PASO 4: Mensaje único
        -------------------------------------------------------------------
        SELECT 'SUCCESS' AS Resultado, 'Movimiento guardado exitosamente' AS Mensaje,
               @MovimientoID_Capital AS CapitalMovimientoID,
               @MovimientoID_Interes AS InteresesMovimientoID;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, ERROR_MESSAGE() AS Mensaje, NULL AS MovimientoID;
    END CATCH
END
GO
