USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CerrarSesion]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para cerrar sesión
-- =============================================
CREATE PROCEDURE [dbo].[sp_CerrarSesion]
    @SessionId NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Cerrar la sesión específica
        UPDATE tbSesiones 
        SET Activa = 0, FechaFin = GETDATE()
        WHERE SessionId = @SessionId AND Activa = 1;
        
        -- Registrar en logs
        INSERT INTO tbLogs (UsuarioId, Tipo, Accion, Descripcion, IPAddress, UserAgent, Fecha)
        SELECT 
            UsuarioId,
            'Autenticacion',
            'Logout',
            'Cierre de sesión',
            IPAddress,
            UserAgent,
            GETDATE()
        FROM tbSesiones 
        WHERE SessionId = @SessionId;
        
        COMMIT TRANSACTION;
        
        SELECT 'Exito' AS Resultado, 'Sesión cerrada exitosamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'Error' AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
