USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSesion]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para crear sesión de usuario
-- =============================================
CREATE PROCEDURE [dbo].[sp_CrearSesion]
    @UsuarioId INT,
    @SessionId NVARCHAR(255),
    @IPAddress NVARCHAR(45),
    @UserAgent NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Cerrar sesiones anteriores del usuario
        UPDATE tbSesiones 
        SET Activa = 0, FechaFin = GETDATE()
        WHERE UsuarioId = @UsuarioId AND Activa = 1;
        
        -- Crear nueva sesión
        INSERT INTO tbSesiones (UsuarioId, SessionId, IPAddress, UserAgent, FechaInicio, Activa)
        VALUES (@UsuarioId, @SessionId, @IPAddress, @UserAgent, GETDATE(), 1);
        
        COMMIT TRANSACTION;
        
        SELECT 'Exito' AS Resultado, 'Sesión creada exitosamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'Error' AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
