USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spPaises_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spPaises_Listar]
    @Code NVARCHAR(3) = NULL,
    @Descripcion NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        p.ID,
        p.Code,
        p.Descripcion,
        p.snEliminado
    FROM
        tbPaises p
    WHERE
        p.snEliminado = 0
        AND (@Code IS NULL OR p.Code LIKE '%' + @Code + '%')
        AND (@Descripcion IS NULL OR p.Descripcion LIKE '%' + @Descripcion + '%')
    ORDER BY
        p.Code;
END
GO
