USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spBeneficiarios_ObtenerBeneficiarios]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBeneficiarios_ObtenerBeneficiarios]
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            b.IDBeneficiario,
            b.NumeroAsociado,
            b.Nombre,
            b.Apellido,
            b.TipoIdentificacion,
            b.NumeroIdentificacion,
            b.IDParentezco,
            b.Porcentaje,
            p.Parentezco
        FROM tbBeneficiarios b
        LEFT JOIN tbParentezcos p ON b.IDParentezco = p.IDParentezco
        WHERE b.NumeroAsociado = @NumeroAsociado 
          AND b.snEliminado = 0
        ORDER BY b.Nombre, b.Apellido;
        
    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;

    END CATCH
END
GO
