USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spCuentas_ListarParaDropdown]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Listar cuentas para dropdown (Cuenta | Nombre)
-- =============================================
CREATE   PROCEDURE [dbo].[spCuentas_ListarParaDropdown]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            c.Cuenta,
        CASE 
                WHEN ISNULL(c.Nombre, '') = '' THEN c.Cuenta
                ELSE c.Cuenta + ' | ' + c.Nombre
            END AS NombreCuenta,
            c.Saldo
        FROM tbCuentas c
        WHERE c.snEliminado = 0
        ORDER BY c.Cuenta;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
