USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarUsuarioBloqueado]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para verificar si usuario está bloqueado
CREATE PROCEDURE [dbo].[sp_VerificarUsuarioBloqueado]
    @Usuario NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        IntentosFallidos,
        BloqueadoHasta,
        CASE 
            WHEN BloqueadoHasta IS NOT NULL AND BloqueadoHasta > GETDATE() 
            THEN 'BLOQUEADO'
            ELSE 'ACTIVO'
        END AS EstadoBloqueo
    FROM tbUsuarios 
    WHERE Usuario = @Usuario;
END
GO
