USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbLogSesionDet]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLogSesionDet](
	[IDSesion] [varchar](50) NULL,
	[LineSec] [int] NULL,
	[FechaHora] [datetime] NULL,
	[Hora] [varchar](15) NULL,
	[Accion] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
