USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbTipoAsociado]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoAsociado](
	[IdTipoAsociado] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoAsociado] [varchar](50) NOT NULL,
	[TipoAsociado] [varchar](50) NOT NULL,
	[snEliminado] [bit] NULL
) ON [PRIMARY]
GO
