USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spHistorialTablas_Listar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2025
-- Description: Listar historial de tablas del sistema con filtros
-- Retorna una tabla ordenada por Tabla, FechaHora, Version
-- =============================================
CREATE   PROCEDURE [dbo].[spHistorialTablas_Listar]
    @Mes INT,
    @Anio INT,
    @Tabla NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar parametros obligatorios
        IF @Mes IS NULL OR @Mes < 1 OR @Mes > 12
        BEGIN
            SELECT 
                'ERROR' AS Resultado,
                'El mes es obligatorio y debe estar entre 1 y 12' AS Mensaje;
            RETURN;
        END
        
        IF @Anio IS NULL OR @Anio < 2000 OR @Anio > 2100
        BEGIN
            SELECT 
                'ERROR' AS Resultado,
                'El año es obligatorio y debe estar entre 2000 y 2100' AS Mensaje;
            RETURN;
        END
        
        -- Consulta directa con ordenamiento
        SELECT 
            hst.ID,
            hst.Tabla,
            hst.FechaHora,
            hst.Mes,
            hst.[Año] AS Anio,
            hst.TablaHistorial,
            hst.Version,
            hst.Registros,
            hst.Resultado,
            IsNull(usr.Usuario,'Proceso Automático') as Usuario
        FROM [sys.HST.Historiales] hst left join tbUsuarios usr on hst.UsuarioCrea = usr.Id
        WHERE Mes = @Mes
            AND [Año] = @Anio
            AND (@Tabla IS NULL OR @Tabla = '' OR Tabla LIKE '%' + @Tabla + '%')
        ORDER BY Tabla ASC,[Version] desc;
            
    END TRY
    BEGIN CATCH
        SELECT 
            'ERROR' AS Resultado,
            'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
