USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerTipoAsociado]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerTipoAsociado](@IdTipoAsociado INT)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = TipoAsociado + ' (' + CAST(IdTipoAsociado AS NVARCHAR(10)) + ')'
    FROM tbTipoAsociado 
    WHERE IdTipoAsociado = @IdTipoAsociado
    
    RETURN ISNULL(@Descripcion, 'N/A (' + CAST(ISNULL(@IdTipoAsociado, 0) AS NVARCHAR(10)) + ')')
END
GO
