USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spReportes_AsociadosSinMovimientos]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spReportes_AsociadosSinMovimientos]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            -- 🧍 Datos personales
            A.[NumeroAsociado] AS [Número de Asociado],
            A.[IdTipoAsociado] AS [ID Tipo de Asociado],
            TA.[CodTipoAsociado] AS [Código Tipo Asociado],
            TA.[TipoAsociado] AS [Tipo de Asociado],
            A.[Nombre] AS [Primer Nombre],
            A.[SegundoNombre] AS [Segundo Nombre],
            A.[Apellido] AS [Primer Apellido],
            A.[SegundoApellido] AS [Segundo Apellido],
            A.[Sexo] AS [Sexo],
            A.[Estatus] AS [Estatus],
            A.[TipoIdentificacion] AS [Código Tipo Documento],
            TD.[TipoDocumento] AS [Tipo de Documento],
            A.[NumeroIdentificacion] AS [Número de Identificación],
            CONVERT(VARCHAR(10), A.[FechaNacimiento], 103) AS [Fecha de Nacimiento],

            -- 📞 Contacto
            A.[TelefonoCelular] AS [Teléfono Celular],
            A.[TelefonoResidencia] AS [Teléfono Residencia],
            A.[TelefonoFamiliar] AS [Teléfono Familiar],
            A.[CorreoElectronico] AS [Correo Electrónico],
            A.[TelefonoTrabajo] AS [Teléfono Trabajo],

            -- 🏠 Datos de residencia
            A.[PaisResidencia] AS [Código País Residencia],
            PR.[Descripcion] AS [País de Residencia],
            A.[ProvinciaResidencia] AS [Código Provincia Residencia],
            PRV_R.[Descripcion] AS [Provincia de Residencia],
            A.[DistritoResidencia] AS [Código Distrito Residencia],
            DR.[Descripcion] AS [Distrito de Residencia],
            A.[CorregimientoResidencia] AS [Código Corregimiento Residencia],
            CR.[Descripcion] AS [Corregimiento de Residencia],
            A.[DireccionResidencia] AS [Dirección de Residencia],

            -- 🧑‍💼 Datos laborales
            A.[LugarTrabajo] AS [Código Empresa],
            E.[Descripcion] AS [Empresa o Lugar de Trabajo],
            A.[Ocupacion] AS [Código Ocupación],
            O.[Descripcion] AS [Ocupación],
            A.[PaisTrabajo] AS [Código País Trabajo],
            PT.[Descripcion] AS [País de Trabajo],
            A.[ProvinciaTrabajo] AS [Código Provincia Trabajo],
            PRV_T.[Descripcion] AS [Provincia de Trabajo],
            A.[DistritoTrabajo] AS [Código Distrito Trabajo],
            DT.[Descripcion] AS [Distrito de Trabajo],
            A.[CorregimientoTrabajo] AS [Código Corregimiento Trabajo],
            CT.[Descripcion] AS [Corregimiento de Trabajo],
            A.[DireccionTrabajo] AS [Dirección de Trabajo],

            -- 🎓 Formación
            A.[NivelEstudio] AS [Código Nivel de Estudio],
            NE.[Descripcion] AS [Nivel de Estudio],
            A.[Profesion] AS [Código Profesión],
            P.[Descripcion] AS [Profesión],

            -- 🕓 Auditoría
            CONVERT(VARCHAR(10), A.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(A.[FechaCreacion], 'hh:mm:ss tt') AS [Hora de Creación],
            A.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],

            CONVERT(VARCHAR(10), A.[FechaModificacion], 103) AS [Fecha de Modificación],
            FORMAT(A.[FechaModificacion], 'hh:mm:ss tt') AS [Hora de Modificación],
            A.[UsuarioModifica] AS [ID Usuario Modifica],
            UM.[Usuario] AS [Usuario que Modifica],

            A.[UsuarioElimina] AS [ID Usuario Elimina],
            UE.[Usuario] AS [Usuario que Elimina],
            CONVERT(VARCHAR(10), A.[FechaElimina], 103) AS [Fecha de Eliminación],
            FORMAT(A.[FechaElimina], 'hh:mm:ss tt') AS [Hora de Eliminación],

            -- ⚙️ Estado
            CASE WHEN A.[snEliminado] = 1 THEN 'SI' ELSE 'NO' END AS [¿Eliminado?]

        FROM [dbo].[tbAsociados] A
        LEFT JOIN [dbo].[tbTipoAsociado] TA ON A.[IdTipoAsociado] = TA.[IdTipoAsociado] AND TA.[snEliminado] = 0
        LEFT JOIN [dbo].[tbTipoDocumentos] TD ON A.[TipoIdentificacion] = TD.[CodTipoDoc] AND TD.[snEliminado] = 0
        LEFT JOIN [dbo].[tbProfesiones] P ON A.[Profesion] = P.[Code] AND P.[snEliminado] = 0
        LEFT JOIN [dbo].[tbOcupaciones] O ON A.[Ocupacion] = O.[Code] AND O.[snEliminado] = 0
        LEFT JOIN [dbo].[tbNivelesEstudio] NE ON A.[NivelEstudio] = NE.[Code] AND NE.[snEliminado] = 0
        LEFT JOIN [dbo].[tbEmpresas] E ON A.[LugarTrabajo] = E.[Code] AND E.[snEliminado] = 0
        LEFT JOIN [dbo].[tbPaises] PT ON A.[PaisTrabajo] = PT.[Code] AND PT.[snEliminado] = 0
        LEFT JOIN [dbo].[tbPaises] PR ON A.[PaisResidencia] = PR.[Code] AND PR.[snEliminado] = 0
        LEFT JOIN [dbo].[tbProvincias] PRV_T ON A.[ProvinciaTrabajo] = PRV_T.[Code] AND PRV_T.[snEliminado] = 0
        LEFT JOIN [dbo].[tbProvincias] PRV_R ON A.[ProvinciaResidencia] = PRV_R.[Code] AND PRV_R.[snEliminado] = 0
        LEFT JOIN [dbo].[tbDistritos] DT ON A.[DistritoTrabajo] = DT.[Code] AND DT.[CodeProvincia] = A.[ProvinciaTrabajo] AND DT.[CodePais] = A.[PaisTrabajo] AND DT.[snEliminado] = 0
        LEFT JOIN [dbo].[tbDistritos] DR ON A.[DistritoResidencia] = DR.[Code] AND DR.[CodeProvincia] = A.[ProvinciaResidencia] AND DR.[CodePais] = A.[PaisResidencia] AND DR.[snEliminado] = 0
        LEFT JOIN [dbo].[tbCorregimientos] CT ON A.[CorregimientoTrabajo] = CT.[Code] AND CT.[CodeProvincia] = A.[ProvinciaTrabajo] AND CT.[CodeDistrito] = A.[DistritoTrabajo] AND CT.[CodePais] = A.[PaisTrabajo] AND CT.[snEliminado] = 0
        LEFT JOIN [dbo].[tbCorregimientos] CR ON A.[CorregimientoResidencia] = CR.[Code] AND CR.[CodeProvincia] = A.[ProvinciaResidencia] AND CR.[CodeDistrito] = A.[DistritoResidencia] AND CR.[CodePais] = A.[PaisResidencia] AND CR.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UC ON A.[UsuarioCrea] = UC.[Id] AND UC.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UM ON A.[UsuarioModifica] = UM.[Id] AND UM.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UE ON A.[UsuarioElimina] = UE.[Id] AND UE.[snEliminado] = 0
        WHERE A.NumeroAsociado not in (Select NumeroAsociado from tbMovimientos Where snEliminado=0)
       
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
