USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbRubros]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRubros](
	[IDRubro] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRubro] [varchar](5) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[snEliminado] [bit] NULL,
 CONSTRAINT [PK_tbRubros] PRIMARY KEY CLUSTERED 
(
	[IDRubro] ASC,
	[CodigoRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
