USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbDistritos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDistritos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[CodePais] [nvarchar](3) NOT NULL,
	[CodeProvincia] [int] NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[snEliminado] [bit] NOT NULL,
 CONSTRAINT [PK_tbDistritos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbDistritos] ADD  CONSTRAINT [DF_tbDistritos_snEliminado]  DEFAULT ((0)) FOR [snEliminado]
GO
