USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spReportes_Cuentas]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spReportes_Cuentas]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            -- 📘 Datos de la cuenta
            C.[ID] AS [ID Cuenta],
            C.[Cuenta] AS [Código de Cuenta],
            C.[Nombre] AS [Nombre de la Cuenta],
            C.[IDGrupo] AS [Código Grupo],
            GC.[GrupoCuenta] AS [Grupo Contable],
            FORMAT(C.[Saldo], 'C') AS [Saldo Actual],

            -- 🕓 Auditoría
            CONVERT(VARCHAR(10), C.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(C.[FechaCreacion], 'hh:mm:ss tt') AS [Hora de Creación],
            C.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],

            CONVERT(VARCHAR(10), C.[FechaModificacion], 103) AS [Fecha de Modificación],
            FORMAT(C.[FechaModificacion], 'hh:mm:ss tt') AS [Hora de Modificación],
            C.[UsuarioModifica] AS [ID Usuario Modifica],
            UM.[Usuario] AS [Usuario que Modifica],

            C.[UsuarioElimina] AS [ID Usuario Elimina],
            UE.[Usuario] AS [Usuario que Elimina],
            CONVERT(VARCHAR(10), C.[FechaEliminacion], 103) AS [Fecha de Eliminación],
            FORMAT(C.[FechaEliminacion], 'hh:mm:ss tt') AS [Hora de Eliminación],

            -- ⚙️ Estado
            CASE WHEN C.[snEliminado] = 1 THEN 'SI' ELSE 'NO' END AS [¿Eliminado?]

        FROM [dbo].[tbCuentas] C
        LEFT JOIN [dbo].[tbGrupoCuenta] GC ON C.[IDGrupo] = GC.[IDGrupo]
        LEFT JOIN [dbo].[tbUsuarios] UC ON C.[UsuarioCrea] = UC.[Id] AND UC.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UM ON C.[UsuarioModifica] = UM.[Id] AND UM.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UE ON C.[UsuarioElimina] = UE.[Id] AND UE.[snEliminado] = 0
        WHERE C.[snEliminado] = 0
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
