USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spGestionSocios_ActualizarSocio]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spGestionSocios_ActualizarSocio]
    @NumeroAsociado INT,
    @IdTipoAsociado INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @SegundoNombre NVARCHAR(100) = NULL,
    @Apellido NVARCHAR(100) = NULL,
    @SegundoApellido NVARCHAR(100) = NULL,
    @Estatus CHAR(1) = NULL,
    @TipoIdentificacion NVARCHAR(20) = NULL,
    @NumeroIdentificacion NVARCHAR(50) = NULL,
    @TelefonoResidencia NVARCHAR(20) = NULL,
    @TelefonoCelular NVARCHAR(20) = NULL,
    @TelefonoFamiliar NVARCHAR(20) = NULL,
    @TelefonoTrabajo NVARCHAR(20) = NULL,
    @CorreoElectronico NVARCHAR(100) = NULL,
    @Sexo CHAR(1) = NULL,
    @FechaNacimiento DATE = NULL,
    @ProvinciaResidencia NVARCHAR(50) = NULL,
    @DistritoResidencia NVARCHAR(50) = NULL,
    @CorregimientoResidencia NVARCHAR(50) = NULL,
    @DireccionResidencia NVARCHAR(200) = NULL,
    @ProvinciaTrabajo NVARCHAR(50) = NULL,
    @DistritoTrabajo NVARCHAR(50) = NULL,
    @CorregimientoTrabajo NVARCHAR(50) = NULL,
    @DireccionTrabajo NVARCHAR(200) = NULL,
    @LugarTrabajo NVARCHAR(100) = NULL,
    @Ocupacion NVARCHAR(100) = NULL,
    @NivelEstudio NVARCHAR(50) = NULL,
    @Profesion NVARCHAR(100) = NULL,
    @PaisResidencia NVARCHAR(10) = NULL,
    @PaisTrabajo NVARCHAR(10) = NULL,
    @Usuario NVARCHAR(50) = NULL,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroAsociado = @NumeroAsociado AND snEliminado = 0)
        BEGIN
            RAISERROR('El socio no existe o ha sido eliminado', 16, 1);
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroIdentificacion = @NumeroIdentificacion AND NumeroAsociado != @NumeroAsociado AND snEliminado = 0)
        BEGIN
            RAISERROR('Ya existe otro socio con este nÃºmero de identificaciÃ³n', 16, 1);
            RETURN;
        END

        UPDATE tbAsociados SET
            IdTipoAsociado = @IdTipoAsociado,
            Nombre = @Nombre,
            SegundoNombre = @SegundoNombre,
            Apellido = @Apellido,
            SegundoApellido = @SegundoApellido,
            Estatus = @Estatus,
            TipoIdentificacion = @TipoIdentificacion,
            NumeroIdentificacion = @NumeroIdentificacion,
            TelefonoResidencia = @TelefonoResidencia,
            TelefonoCelular = @TelefonoCelular,
            TelefonoFamiliar = @TelefonoFamiliar,
            TelefonoTrabajo = @TelefonoTrabajo,
            CorreoElectronico = @CorreoElectronico,
            Sexo = @Sexo,
            FechaNacimiento = @FechaNacimiento,
            ProvinciaResidencia = @ProvinciaResidencia,
            DistritoResidencia = @DistritoResidencia,
            CorregimientoResidencia = @CorregimientoResidencia,
            DireccionResidencia = @DireccionResidencia,
            ProvinciaTrabajo = @ProvinciaTrabajo,
            DistritoTrabajo = @DistritoTrabajo,
            CorregimientoTrabajo = @CorregimientoTrabajo,
            DireccionTrabajo = @DireccionTrabajo,
            LugarTrabajo = @LugarTrabajo,
            Ocupacion = @Ocupacion,
            NivelEstudio = @NivelEstudio,
            Profesion = @Profesion,
            PaisResidencia = @PaisResidencia,
            PaisTrabajo = @PaisTrabajo,
            FechaModificacion = GETDATE(),
            UsuarioModifica = CAST(@Usuario AS INT),
            SysLastSessionID = @IdSession
        WHERE NumeroAsociado = @NumeroAsociado;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No se pudo actualizar el socio', 16, 1);
            RETURN;
        END

        SELECT 'Socio actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
