USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerNotificacionesUsuario]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para obtener notificaciones del usuario
-- =============================================
CREATE PROCEDURE [dbo].[sp_ObtenerNotificacionesUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Titulo,
        Mensaje,
        Tipo,
        Leida,
        FechaCreacion
    FROM tbNotificaciones 
    WHERE UsuarioId = @UsuarioId 
    ORDER BY FechaCreacion DESC;
END
GO
