USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbGrupoCuenta]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGrupoCuenta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDGrupo] [int] NULL,
	[GrupoCuenta] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbGrupoCuenta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
