USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spMovimientos_MarcarImpreso]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spMovimientos_MarcarImpreso]
    @MovimientoID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE tbMovimientos 
    SET snImpreso = 1
    WHERE IDMovimiento = @MovimientoID;
    
    -- Retornar el número de filas afectadas
    SELECT @@ROWCOUNT AS FilasAfectadas;
END;
GO
