USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerNivelEstudio]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerNivelEstudio](@CodeNivelEstudio INT)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = Descripcion + ' (' + CAST(Code AS NVARCHAR(10)) + ')'
    FROM tbNivelesEstudio 
    WHERE Code = @CodeNivelEstudio
    
    RETURN ISNULL(@Descripcion, 'N/A (' + CAST(ISNULL(@CodeNivelEstudio, 0) AS NVARCHAR(10)) + ')')
END
GO
