USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spLogsAuditoria_ObtenerUsuarios]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spLogsAuditoria_ObtenerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

   SELECT DISTINCT
            IsNull(Convert(varchar(max),u.Id),la.UsuarioId) as Id,
            IsNull(u.Usuario,la.UsuarioId) as Usuario,
            IsNull(u.Nombre,la.UsuarioId) as Nombre,
            IsNull(u.Apellido,la.UsuarioId) as Apellido,
            IsNull(u.Nombre + ' ' + u.Apellido,'BD User: ' + la.UsuarioId) AS NombreCompleto
        FROM tbLogsAuditoria la 
        left JOIN  tbUsuarios u
            ON CAST(u.Id AS NVARCHAR(50)) = la.UsuarioId
END
GO
