USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spDistritos_Guardar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spDistritos_Guardar]
    @ID INT = NULL,
    @Code INT = NULL,
    @CodePais VARCHAR(5),
    @CodeProvincia INT,
    @Descripcion NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        DECLARE @NuevoID INT = 0
        
        -- Validaciones
        IF @CodePais IS NULL OR LTRIM(RTRIM(@CodePais)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El código de país es requerido';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        IF @CodeProvincia IS NULL OR @CodeProvincia <= 0
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El código de provincia es requerido';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        IF @Descripcion IS NULL OR LTRIM(RTRIM(@Descripcion)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'La descripción es requerida';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Si es nuevo y no tiene código, obtener el siguiente código
        IF (@ID IS NULL OR @ID = 0) AND (@Code IS NULL OR @Code <= 0)
        BEGIN
            SELECT @Code = ISNULL(MAX(Code), 0) + 1 
            FROM tbDistritos 
            WHERE snEliminado = 0;
        END
        
        -- Verificar duplicados (código único por provincia)
        IF EXISTS (
            SELECT 1 FROM tbDistritos 
            WHERE Code = @Code 
                AND CodeProvincia = @CodeProvincia
                AND CodePais = UPPER(LTRIM(RTRIM(@CodePais)))
                AND snEliminado = 0
                AND (@ID IS NULL OR ID != @ID)
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El código ingresado ya existe para esta provincia. Por favor, ingrese un código diferente.';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Insertar o actualizar
        IF @ID IS NULL OR @ID = 0
        BEGIN
            -- INSERTAR
            INSERT INTO tbDistritos (
                Code,
                CodePais,
                CodeProvincia,
                Descripcion,
                snEliminado
            )
            VALUES (
                @Code,
                UPPER(LTRIM(RTRIM(@CodePais))),
                @CodeProvincia,
                LTRIM(RTRIM(@Descripcion)),
                0
            );
            
            SET @NuevoID = SCOPE_IDENTITY();
            SET @Resultado = 'SUCCESS';
            SET @Mensaje = 'Distrito guardado correctamente';
        END
        ELSE
        BEGIN
            -- ACTUALIZAR
            UPDATE tbDistritos SET
                Code = @Code,
                CodePais = UPPER(LTRIM(RTRIM(@CodePais))),
                CodeProvincia = @CodeProvincia,
                Descripcion = LTRIM(RTRIM(@Descripcion))
            WHERE ID = @ID AND snEliminado = 0;
            
            IF @@ROWCOUNT = 0
            BEGIN
                SET @Resultado = 'ERROR';
                SET @Mensaje = 'No se encontró el distrito para actualizar';
                ROLLBACK TRANSACTION;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
                RETURN;
            END
            
            SET @NuevoID = @ID;
            SET @Resultado = 'SUCCESS';
            SET @Mensaje = 'Distrito actualizado correctamente';
        END
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje, 0 AS NuevoID;
    END CATCH
END

GO
