USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spLogsAuditoria_ObtenerLogs]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spLogsAuditoria_ObtenerLogs]
    @Tabla NVARCHAR(50) = NULL,
    @Usuario NVARCHAR(100) = NULL,
    @Operacion CHAR(1) = NULL,
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            la.Id,
            ISNULL(ts.NombreDescriptivo, la.TablaAfectada) as TablaDescriptiva,
            CASE 
                WHEN la.Operacion = 'I' THEN 'Crear'
                WHEN la.Operacion = 'U' THEN 'Actualizar'
                WHEN la.Operacion = 'D' THEN 'Eliminar (Soft)'
                WHEN la.Operacion = 'X' THEN 'Eliminar (FÃ­sico)'
                ELSE la.Operacion
            END as TipoOperacion,
            la.Operacion as CodigoOperacion,
            la.RegistroId,
            ISNULL(u.Usuario, 'Sistema') as Usuario,
            ISNULL(u.Nombre + ' ' + u.Apellido, 'Usuario ' + CAST(la.UsuarioId AS NVARCHAR(10))) as NombreCompleto,
            CONVERT(DATE, la.FechaHora) as Fecha,
            CONVERT(TIME, la.FechaHora) as Hora,
            la.FechaHora as FechaHoraCompleta,
            la.Comentarios,
            la.JsonPrevio,
            la.JsonPosterior,
            la.ServidorInfo
        FROM tbLogsAuditoria la
        LEFT JOIN tbTablasSistema ts ON la.TablaAfectada = ts.Tabla
        LEFT JOIN tbUsuarios u ON la.UsuarioId = CONVERT(NVARCHAR(MAX),u.Id)
        WHERE 1=1
            AND (@Tabla IS NULL OR ts.NombreDescriptivo LIKE '%' + @Tabla + '%' OR la.TablaAfectada LIKE '%' + @Tabla + '%')
            AND (@Usuario IS NULL OR u.Usuario LIKE '%' + @Usuario + '%' 
                OR (u.Nombre + ' ' + u.Apellido) LIKE '%' + @Usuario + '%'
                OR la.UsuarioId LIKE '%' + @Usuario + '%')
            AND (@Operacion IS NULL OR la.Operacion = @Operacion)
            AND (@FechaDesde IS NULL OR CONVERT(DATE, la.FechaHora) >= @FechaDesde)
            AND (@FechaHasta IS NULL OR CONVERT(DATE, la.FechaHora) <= @FechaHasta)
        ORDER BY la.FechaHora DESC
            --AND la.Operacion != 'X'
        --UNION ALL
        --SELECT 
        --    la.Id,
        --    ISNULL(ts.NombreDescriptivo, la.TablaAfectada) as TablaDescriptiva,
        --    CASE 
        --        WHEN la.Operacion = 'I' THEN 'Crear'
        --        WHEN la.Operacion = 'U' THEN 'Actualizar'
        --        WHEN la.Operacion = 'D' THEN 'Eliminar (Soft)'
        --        WHEN la.Operacion = 'X' THEN 'Eliminar (FÃ­sico)'
        --        ELSE la.Operacion
        --    END as TipoOperacion,
        --    la.Operacion as CodigoOperacion,
        --    la.RegistroId,
        --    la.UsuarioId as Usuario,
        --    la.UsuarioId  as NombreCompleto,
        --    CONVERT(DATE, la.FechaHora) as Fecha,
        --    CONVERT(TIME, la.FechaHora) as Hora,
        --    la.FechaHora as FechaHoraCompleta,
        --    la.Comentarios,
        --    la.JsonPrevio,
        --    la.JsonPosterior,
        --    la.ServidorInfo
        --FROM tbLogsAuditoria la
        --LEFT JOIN tbTablasSistema ts ON la.TablaAfectada = ts.Tabla
        --WHERE 1=1
        --    AND (@Tabla IS NULL OR ts.NombreDescriptivo LIKE '%' + @Tabla + '%' OR la.TablaAfectada LIKE '%' + @Tabla + '%')
        --    AND (@Usuario IS NULL OR 'dbUser' LIKE '%' + @Usuario + '%' OR la.UsuarioId LIKE '%' + @Usuario + '%')
        --    AND (@Operacion IS NULL OR la.Operacion = @Operacion)
        --    AND (@FechaDesde IS NULL OR CONVERT(DATE, la.FechaHora) >= @FechaDesde)
        --    AND (@FechaHasta IS NULL OR CONVERT(DATE, la.FechaHora) <= @FechaHasta)
        --    AND la.Operacion = 'X'
        
        
    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;
    END CATCH
END
GO
