USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spBeneficiarios_ObtenerParentezcos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBeneficiarios_ObtenerParentezcos]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            IDParentezco,
            Parentezco
        FROM tbParentezcos
        Where snEliminado=0
        ORDER BY Parentezco;
        

    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;
    END CATCH
END
GO
