USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_ObtenerHistorialIntereses]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spAuxiliares_ObtenerHistorialIntereses]
    @IDAuxiliar INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT
            AI.ID,
            AI.IDAuxiliar,
            A.CodigoRubro,
            CONVERT(VARCHAR(10), AI.FechaCalculo, 103) AS FechaCalculo,
            FORMAT(AI.FechaCalculo, 'hh:mm:ss tt') AS HoraCalculo,
            CONVERT(VARCHAR(10), AI.FechaUltCalculo, 103) AS FechaUltCalculo,
            FORMAT(AI.FechaUltCalculo, 'hh:mm:ss tt') AS HoraUltCalculo,
            FORMAT(AI.SaldoAFecha, '###,###,##0.00') AS SaldoAFecha,
            FORMAT(AI.InteresCalculadoAFecha, '###,###,##0.00') AS InteresCalculadoAFecha,
            FORMAT(AI.InteresPagadoAFecha, '###,###,##0.00') AS InteresPagadoAFecha,
            AI.DiasIntereses,
            FORMAT(AI.Tasa, '###,###,##0.00') AS Tasa,
            FORMAT(AI.InteresCalculado, '###,###,##0.00') AS InteresCalculado,
            AI.Usuario,
            Case AI.Usuario When 0 Then 'Sys'
            Else
            (SELECT Usuario FROM tbUsuarios WHERE Id = AI.Usuario AND snEliminado = 0) End AS NombreUsuario,
            -- Calcular Saldo Generado para cuentas de ahorro (SaldoAFecha + InteresCalculado)
            FORMAT(AI.SaldoAFecha + AI.InteresCalculado, '###,###,##0.00') AS SaldoGenerado
        FROM tbAuxiliares_Intereses AI
        INNER JOIN tbAuxiliares A ON AI.IDAuxiliar = A.ID 
        WHERE AI.IDAuxiliar = @IDAuxiliar
        ORDER BY AI.FechaCalculo DESC, AI.ID DESC
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
