USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbTiposAuxiliares]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTiposAuxiliares](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRubro] [varchar](5) NULL,
	[TipoAuxiliar] [int] NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Tasa] [numeric](18, 2) NULL,
	[Plazo] [int] NULL,
	[MontoMaximo] [numeric](18, 2) NULL,
	[MontoMinimo] [numeric](18, 2) NULL,
	[PorManejo] [numeric](18, 2) NULL,
	[PorCapitalizacion] [numeric](18, 2) NULL,
	[PorProteccion] [numeric](18, 2) NULL,
	[snEliminado] [bit] NULL,
 CONSTRAINT [PK_tbTiposAuxiliares] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
