USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spRubros_ListarParaDropdown]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Listar rubros para dropdown
-- =============================================
CREATE PROCEDURE [dbo].[spRubros_ListarParaDropdown]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        CodigoRubro,
        Descripcion
    FROM tbRubros
    WHERE SnEliminado = 0 
    ORDER BY CodigoRubro;
END
GO
