USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbLogAccesos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLogAccesos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[FechaIntento] [datetime] NOT NULL,
	[Exitoso] [bit] NOT NULL,
	[DireccionIP] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[Mensaje] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbLogAccesos] ADD  DEFAULT (getdate()) FOR [FechaIntento]
GO
