USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario_Borrar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para eliminar usuario
CREATE PROCEDURE [dbo].[sp_EliminarUsuario_Borrar]
    @UsuarioId INT,
    @UsuarioActual INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar que no sea el usuario actual
        IF @UsuarioId = @UsuarioActual
        BEGIN
            RAISERROR('No puede eliminar su propio usuario', 16, 1);
            RETURN;
        END
        
        -- Verificar que el usuario existe
        IF NOT EXISTS (SELECT 1 FROM tbUsuarios WHERE Id = @UsuarioId)
        BEGIN
            RAISERROR('El usuario especificado no existe', 16, 1);
            RETURN;
        END
        
        -- Eliminar usuario
        DELETE FROM tbUsuarios WHERE Id = @UsuarioId;
        
        SELECT 'Usuario eliminado exitosamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
