USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerTipoDocumento]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerTipoDocumento](@TipoIdentificacion VARCHAR(10))
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = TipoDocumento + ' (' + CodTipoDoc + ')'
    FROM tbTipoDocumentos 
    WHERE CodTipoDoc = @TipoIdentificacion
    
    RETURN ISNULL(@Descripcion, 'N/A (' + ISNULL(@TipoIdentificacion, '') + ')')
END
GO
