USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuditoria_LimpiarContexto]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spAuditoria_LimpiarContexto]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Limpiar el contexto
    SET CONTEXT_INFO 0x00
    
    PRINT 'Contexto de auditorÃ­a limpiado'
END
GO
