USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_ObtenerTiposAuxiliares]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Obtener todos los tipos de auxiliares
-- =============================================
CREATE   PROCEDURE [dbo].[spAuxiliares_ObtenerTiposAuxiliares]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DISTINCT TipoAuxiliar, Descripcion, CodigoRubro, ID as IdTipoAuxiliar, Tasa
    FROM tbTiposAuxiliares 
    WHERE snEliminado = 0 
    ORDER BY Descripcion
END

GO
