USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbAsientos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAsientos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[CodTipoAsiento] [varchar](10) NULL,
	[BaseID] [int] NULL,
	[Cuenta] [varchar](50) NULL,
	[Debito] [numeric](18, 2) NULL,
	[Credito] [numeric](18, 2) NULL,
	[Memo] [nvarchar](max) NULL,
	[snEliminado] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
