USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbTipoAsiento]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoAsiento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoAsiento] [varchar](10) NULL,
	[TipoAsiento] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbTipoAsiento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
