USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarIntentoFallido]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para registrar intento fallido de login
CREATE PROCEDURE [dbo].[sp_RegistrarIntentoFallido]
    @Usuario NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE tbUsuarios SET
        IntentosFallidos = IntentosFallidos + 1,
        BloqueadoHasta = CASE 
            WHEN IntentosFallidos >= 4 THEN DATEADD(MINUTE, 30, GETDATE())
            ELSE BloqueadoHasta
        END
    WHERE Usuario = @Usuario;
END
GO
