USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbReportesComandos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbReportesComandos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Tipo] [varchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Comando] [nvarchar](max) NULL,
	[SnActivo] [bit] NULL,
	[SnEliminado] [bit] NULL,
 CONSTRAINT [PK_tbReportesComandos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
