USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spOcupaciones_Eliminar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE   PROCEDURE [dbo].[spOcupaciones_Eliminar]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        DECLARE @CodeOcupacion INT
        
        -- Validar que existe
        IF NOT EXISTS (SELECT 1 FROM tbOcupaciones WHERE ID = @ID AND snEliminado = 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se encontró la ocupación para eliminar';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Obtener el Code de la ocupación
        SELECT @CodeOcupacion = Code FROM tbOcupaciones WHERE ID = @ID;
        
        -- Validar que no esté siendo usado en tbAsociados
        IF EXISTS (
            SELECT 1 FROM tbAsociados 
            WHERE Ocupacion = @CodeOcupacion 
                AND snEliminado = 0
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se puede eliminar la ocupación porque está siendo utilizada en uno o más asociados.';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Soft delete
        UPDATE tbOcupaciones SET
            snEliminado = 1
        WHERE ID = @ID;
        
        SET @Resultado = 'SUCCESS';
        SET @Mensaje = 'Ocupación eliminada correctamente';
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END

GO
