USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbControlConsecutivos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbControlConsecutivos](
	[Tabla] [varchar](50) NOT NULL,
	[UltimoConsecutivo] [int] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbControlConsecutivos] ADD  DEFAULT ((0)) FOR [UltimoConsecutivo]
GO
