USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_ActivarDesactivar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[spAuxiliares_ActivarDesactivar]
    @ID INT,
    @NumeroAsociado INT,
    @UsuarioID INT,
    @snActivo bit,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validaciones
        IF @ID IS NULL OR @ID = 0
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El ID del auxiliar es requerido' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Verificar que el auxiliar existe
        IF NOT EXISTS (SELECT 1 FROM tbAuxiliares WHERE ID = @ID AND NumeroAsociado = @NumeroAsociado AND snEliminado = 0)
        BEGIN
            SELECT 'ERROR' AS Resultado, 'El auxiliar no existe o ya está eliminado' AS Mensaje;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        
        
        -- Marcar como eliminado
        UPDATE tbAuxiliares SET
            snActivo = @snActivo,
            FechaModificacion = GETDATE(),
            UsuarioModifica = @UsuarioID,
            SysLastSessionID=@IdSession
        WHERE ID = @ID AND NumeroAsociado = @NumeroAsociado;
        
        SELECT 'SUCCESS' AS Resultado, 'Auxiliar ' + iif(@snActivo=1,'activado', 'desactivado') + ' exitosamente' AS Mensaje;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 'ERROR' AS Resultado, 
               'Error al ' + iif(@snActivo=1,'activado', 'desactivado') + ' auxiliar: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
