USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbSesiones]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSesiones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[SessionId] [nvarchar](255) NOT NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_tbSesiones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbSesiones] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[tbSesiones] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[tbSesiones]  WITH CHECK ADD  CONSTRAINT [FK_tbSesiones_tbUsuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[tbUsuarios] ([Id])
GO
ALTER TABLE [dbo].[tbSesiones] CHECK CONSTRAINT [FK_tbSesiones_tbUsuarios]
GO
