USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spBeneficiarios_ObtenerPorcentajeTotal]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spBeneficiarios_ObtenerPorcentajeTotal]
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            ISNULL(SUM(Porcentaje), 0) AS PorcentajeTotal,
            (100 - ISNULL(SUM(Porcentaje), 0)) AS PorcentajeRestante
        FROM tbBeneficiarios
        WHERE NumeroAsociado = @NumeroAsociado 
          AND snEliminado = 0;
        
    END TRY
    BEGIN CATCH
         DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;
    END CATCH
END
GO
