USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbAuxiliares_Intereses]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAuxiliares_Intereses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAuxiliar] [int] NULL,
	[FechaCalculo] [datetime] NULL,
	[FechaUltCalculo] [datetime] NULL,
	[SaldoAFecha] [numeric](19, 6) NULL,
	[InteresCalculadoAFecha] [numeric](19, 6) NULL,
	[InteresPagadoAFecha] [numeric](19, 6) NULL,
	[DiasIntereses] [int] NULL,
	[Tasa] [numeric](19, 6) NULL,
	[InteresCalculado] [numeric](19, 6) NULL,
	[Usuario] [int] NULL,
 CONSTRAINT [PK_tbAuxiliares_Intereses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
