USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spProvincias_ObtenerSiguienteCodigo]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spProvincias_ObtenerSiguienteCodigo]
    @CodePais NVARCHAR(3)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Obtener el máximo código de provincias para el país especificado
        DECLARE @MaxCode INT = 0
        
        SELECT @MaxCode = ISNULL(MAX(Code), 0)
        FROM tbProvincias
        WHERE CodePais = UPPER(LTRIM(RTRIM(@CodePais)))
            AND snEliminado = 0
        
        -- Retornar el siguiente código (máximo + 1, o 1 si no hay provincias)
        SELECT ISNULL(@MaxCode + 1, 1) AS SiguienteCodigo
        
    END TRY
    BEGIN CATCH
        SELECT 1 AS SiguienteCodigo
    END CATCH
END
GO
