USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerSessionInfo]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerSessionInfo]()
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @SessionInfo NVARCHAR(MAX) = ''
    
    DECLARE @SPID INT = @@SPID
    DECLARE @HostName NVARCHAR(128) = ISNULL(HOST_NAME(), '')
    DECLARE @AppName NVARCHAR(128) = ISNULL(APP_NAME(), '')
    DECLARE @LoginName NVARCHAR(128) = ISNULL(SUSER_NAME(), '')
    DECLARE @UserName NVARCHAR(128) = ISNULL(USER_NAME(), '')
    DECLARE @DatabaseName NVARCHAR(128) = ISNULL(DB_NAME(), '')
    DECLARE @ServerName NVARCHAR(128) = ISNULL(@@SERVERNAME, '')
    DECLARE @DbUser NVARCHAR(128) = ISNULL(SUSER_SNAME(), '')
    
    DECLARE @ProgramName NVARCHAR(128) = ''
    DECLARE @ClientNetAddress NVARCHAR(48) = ''
    DECLARE @LoginTime NVARCHAR(23) = CONVERT(NVARCHAR(23), GETDATE(), 126)
    DECLARE @CPU NVARCHAR(20) = '0'
    DECLARE @MemoryUsage NVARCHAR(20) = '0'
    DECLARE @Reads NVARCHAR(20) = '0'
    DECLARE @Writes NVARCHAR(20) = '0'
    
    SELECT 
        @ProgramName = ISNULL(s.program_name, ''),
        @ClientNetAddress = ISNULL(c.client_net_address, ''),
        @LoginTime = ISNULL(CONVERT(NVARCHAR(23), s.login_time, 126), CONVERT(NVARCHAR(23), GETDATE(), 126)),
        @CPU = CAST(ISNULL(s.cpu_time, 0) AS NVARCHAR(20)),
        @MemoryUsage = CAST(ISNULL(s.memory_usage, 0) AS NVARCHAR(20)),
        @Reads = CAST(ISNULL(s.reads, 0) AS NVARCHAR(20)),
        @Writes = CAST(ISNULL(s.writes, 0) AS NVARCHAR(20))
    FROM sys.dm_exec_sessions s
    LEFT JOIN sys.dm_exec_connections c ON s.session_id = c.session_id
    WHERE s.session_id = @@SPID
    
    -- Obtener propiedades del servidor
    DECLARE @ServerVersion NVARCHAR(50) = CAST(ISNULL(SERVERPROPERTY('ProductVersion'), '') AS NVARCHAR(50))
    DECLARE @ServerEdition NVARCHAR(100) = CAST(ISNULL(SERVERPROPERTY('Edition'), '') AS NVARCHAR(100))
    DECLARE @ServerBuild NVARCHAR(50) = CAST(ISNULL(SERVERPROPERTY('ProductLevel'), '') AS NVARCHAR(50))
    DECLARE @Language NVARCHAR(50) = CAST(ISNULL(SERVERPROPERTY('Language'), '') AS NVARCHAR(50))
    DECLARE @IsClustered NVARCHAR(5) = CAST(CASE WHEN SERVERPROPERTY('IsClustered') = 1 THEN 'true' ELSE 'false' END AS NVARCHAR(5))
    DECLARE @IsIntegratedSecurityOnly NVARCHAR(5) = CAST(CASE WHEN SERVERPROPERTY('IsIntegratedSecurityOnly') = 1 THEN 'true' ELSE 'false' END AS NVARCHAR(5))
    DECLARE @MachineName NVARCHAR(128) = CAST(ISNULL(SERVERPROPERTY('MachineName'), '') AS NVARCHAR(128))
    
    SET @SessionInfo = '{' +
        '"Tipo":"SessionInfoSQL",' +
        '"Timestamp":"' + CONVERT(NVARCHAR(23), GETDATE(), 126) + '",' +
        '"SPID":' + CAST(@SPID AS NVARCHAR(10)) + ',' +
        '"ServerName":"' + @ServerName + '",' +
        '"DatabaseName":"' + @DatabaseName + '",' +
        '"LoginName":"' + @LoginName + '",' +
        '"UserName":"' + @UserName + '",' +
        '"DbUser":"' + @DbUser + '",' +
        '"HostName":"' + @HostName + '",' +
        '"AppName":"' + @AppName + '",' +
        '"ProgramName":"' + @ProgramName + '",' +
        '"ClientNetAddress":"' + @ClientNetAddress + '",' +
        '"LoginTime":"' + @LoginTime + '",' +
        '"CPU":' + @CPU + ',' +
        '"MemoryUsage":' + @MemoryUsage + ',' +
        '"Reads":' + @Reads + ',' +
        '"Writes":' + @Writes + ',' +
        '"ServerVersion":"' + @ServerVersion + '",' +
        '"ServerEdition":"' + @ServerEdition + '",' +
        '"ServerBuild":"' + @ServerBuild + '",' +
        '"Language":"' + @Language + '",' +
        '"IsClustered":' + @IsClustered + ',' +
        '"IsIntegratedSecurityOnly":' + @IsIntegratedSecurityOnly + ',' +
        '"MachineName":"' + @MachineName + '"}'
    
    RETURN @SessionInfo
END
GO
