USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarios]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURES PARA GESTIÓN DE USUARIOS
-- =============================================

-- Procedimiento para obtener usuarios con filtros
CREATE PROCEDURE [dbo].[sp_ObtenerUsuarios]
    @FiltroNombre NVARCHAR(100) = NULL,
    @FiltroUsuario NVARCHAR(50) = NULL,
    @FiltroEstado NVARCHAR(20) = NULL,
    @FiltroRol INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.Id,
        u.Nombre,
        u.Apellido,
        u.Usuario,
        u.Email,
        u.Telefono,
        u.Rol,
        r.Nombre AS RolNombre,
        u.Departamento,
        d.Nombre AS DepartamentoNombre,
        u.Estado,
        u.UltimoAcceso,
        u.IntentosFallidos,
        u.BloqueadoHasta,
        u.FechaCreacion,
        u.FechaModificacion
    FROM tbUsuarios u
    LEFT JOIN tbRoles r ON u.Rol = r.Id
    LEFT JOIN tbDepartamentos d ON u.Departamento = d.Id
    WHERE (@FiltroNombre IS NULL OR 
           u.Nombre LIKE '%' + @FiltroNombre + '%' OR 
           u.Apellido LIKE '%' + @FiltroNombre + '%')
      AND (@FiltroUsuario IS NULL OR u.Usuario LIKE '%' + @FiltroUsuario + '%')
      AND (@FiltroEstado IS NULL OR u.Estado = @FiltroEstado)
      AND (@FiltroRol IS NULL OR u.Rol = @FiltroRol)
      and IsNull(u.snEliminado,0)=0
    ORDER BY u.Nombre, u.Apellido;
END
GO
