USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbLogSesionHdr]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLogSesionHdr](
	[IDSesion] [varchar](50) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Hora] [varchar](15) NULL,
	[Usuario] [varchar](100) NULL,
	[DatoSesion1] [varchar](200) NULL,
	[DatoSesion2] [varchar](200) NULL,
	[DatoSesion3] [varchar](200) NULL,
	[DatoSesion4] [varchar](200) NULL,
	[DatoSesion5] [varchar](200) NULL,
	[SessionInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbLogSesionHdr] PRIMARY KEY CLUSTERED 
(
	[IDSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
