USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerUsuarioActual]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerUsuarioActual]()
RETURNS INT
AS
BEGIN
    DECLARE @UsuarioId INT
    
    -- Leer el UsuarioId del contexto
    SET @UsuarioId = CAST(CONTEXT_INFO() AS INT)
    
    -- Si no hay contexto valido, retornar 0 (usuario sistema)
    IF @UsuarioId IS NULL OR @UsuarioId = 0
        SET @UsuarioId = 0
    
    RETURN @UsuarioId
END
GO
