USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spOcupaciones_Guardar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spOcupaciones_Guardar]
    @ID INT = NULL,
    @Code INT,
    @Descripcion NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        DECLARE @NuevoID INT = 0
        
        -- Validaciones
        IF @Code IS NULL OR @Code <= 0
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El código es requerido y debe ser mayor a cero';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        IF @Descripcion IS NULL OR LTRIM(RTRIM(@Descripcion)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'La descripción es requerida';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Verificar duplicados (código único)
        IF EXISTS (
            SELECT 1 FROM tbOcupaciones 
            WHERE Code = @Code 
                AND snEliminado = 0
                AND (@ID IS NULL OR ID != @ID)
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El código ingresado ya existe. Por favor, ingrese un código diferente.';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Insertar o actualizar
        IF @ID IS NULL OR @ID = 0
        BEGIN
            -- INSERTAR
            INSERT INTO tbOcupaciones (
                Code,
                Descripcion,
                snEliminado
            )
            VALUES (
                @Code,
                LTRIM(RTRIM(@Descripcion)),
                0
            );
            
            SET @NuevoID = SCOPE_IDENTITY();
            SET @Resultado = 'SUCCESS';
            SET @Mensaje = 'Ocupación guardada correctamente';
        END
        ELSE
        BEGIN
            -- ACTUALIZAR
            UPDATE tbOcupaciones SET
                Code = @Code,
                Descripcion = LTRIM(RTRIM(@Descripcion))
            WHERE ID = @ID AND snEliminado = 0;
            
            IF @@ROWCOUNT = 0
            BEGIN
                SET @Resultado = 'ERROR';
                SET @Mensaje = 'No se encontró la ocupación para actualizar';
                ROLLBACK TRANSACTION;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
                RETURN;
            END
            
            SET @NuevoID = @ID;
            SET @Resultado = 'SUCCESS';
            SET @Mensaje = 'Ocupación actualizada correctamente';
        END
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje, 0 AS NuevoID;
    END CATCH
END

GO
