USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spNivelesEstudio_Eliminar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spNivelesEstudio_Eliminar]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        DECLARE @CodeNivelEstudio INT
        
        -- Validar que existe
        IF NOT EXISTS (SELECT 1 FROM tbNivelesEstudio WHERE ID = @ID AND snEliminado = 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se encontró el nivel de estudio para eliminar';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Obtener el Code del nivel de estudio
        SELECT @CodeNivelEstudio = Code FROM tbNivelesEstudio WHERE ID = @ID;
        
        -- Validar que no esté siendo usado en tbAsociados
        IF EXISTS (
            SELECT 1 FROM tbAsociados 
            WHERE NivelEstudio = @CodeNivelEstudio 
                AND snEliminado = 0
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se puede eliminar el nivel de estudio porque está siendo utilizado en uno o más asociados.';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Soft delete
        UPDATE tbNivelesEstudio SET
            snEliminado = 1
        WHERE ID = @ID;
        
        SET @Resultado = 'SUCCESS';
        SET @Mensaje = 'Nivel de estudio eliminado correctamente';
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END

GO
