USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetearIntentosFallidos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para resetear intentos fallidos
CREATE PROCEDURE [dbo].[sp_ResetearIntentosFallidos]
    @Usuario NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE tbUsuarios SET
        IntentosFallidos = 0,
        BloqueadoHasta = NULL
    WHERE Usuario = @Usuario;
END
GO
