USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbAsociados]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAsociados](
	[NumeroAsociado] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoAsociado] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[SegundoNombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[SegundoApellido] [nvarchar](max) NULL,
	[Estatus] [char](1) NULL,
	[TipoIdentificacion] [varchar](10) NULL,
	[NumeroIdentificacion] [nvarchar](200) NULL,
	[TelefonoResidencia] [varchar](50) NULL,
	[TelefonoCelular] [varchar](50) NULL,
	[TelefonoFamiliar] [varchar](50) NULL,
	[CorreoElectronico] [nvarchar](max) NULL,
	[Sexo] [char](1) NULL,
	[FechaNacimiento] [date] NULL,
	[DireccionResidencia] [varchar](max) NULL,
	[DireccionTrabajo] [varchar](max) NULL,
	[LugarTrabajo] [int] NULL,
	[Ocupacion] [int] NULL,
	[PaisTrabajo] [nvarchar](3) NULL,
	[ProvinciaTrabajo] [int] NULL,
	[DistritoTrabajo] [int] NULL,
	[CorregimientoTrabajo] [int] NULL,
	[PaisResidencia] [nvarchar](3) NULL,
	[ProvinciaResidencia] [int] NULL,
	[DistritoResidencia] [int] NULL,
	[CorregimientoResidencia] [int] NULL,
	[NivelEstudio] [int] NULL,
	[Profesion] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCrea] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModifica] [int] NULL,
	[UsuarioElimina] [int] NULL,
	[FechaElimina] [datetime] NULL,
	[snEliminado] [bit] NOT NULL,
	[SysLastSessionID] [varchar](50) NULL,
	[TelefonoTrabajo] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbAsociados] ADD  DEFAULT ((0)) FOR [snEliminado]
GO
