USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spUsuarios_Obtener]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuarios_Obtener]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.Id,
        u.Nombre,
        u.Apellido,
        u.Usuario,
        u.Email,
        u.Telefono,
        u.Rol,
        u.Departamento,
        u.Estado,
        u.UltimoAcceso,
        u.IntentosFallidos,
        u.BloqueadoHasta,
        u.FechaCreacion,
        u.FechaModificacion,
        u.snEliminado
    FROM tbUsuarios u
    WHERE u.Id = @ID
        AND u.snEliminado = 0;
END
GO
