USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbNotificaciones]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNotificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Mensaje] [nvarchar](1000) NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaLeida] [datetime] NULL,
 CONSTRAINT [PK_tbNotificaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbNotificaciones] ADD  DEFAULT ('Info') FOR [Tipo]
GO
ALTER TABLE [dbo].[tbNotificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[tbNotificaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[tbNotificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tbNotificaciones_tbUsuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[tbUsuarios] ([Id])
GO
ALTER TABLE [dbo].[tbNotificaciones] CHECK CONSTRAINT [FK_tbNotificaciones_tbUsuarios]
GO
