USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spSysCorregirCaracteresCodificacion]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSysCorregirCaracteresCodificacion]
    @DebugMode BIT = 1  -- 1 = Solo mostrar qué se corregiría, 0 = Aplicar cambios
AS
BEGIN
    SET NOCOUNT ON;
    
    set @DebugMode=1;

    DECLARE @TablaCorrecciones TABLE (
        ID INT IDENTITY(1,1),
        TipoObjeto VARCHAR(50),
        Esquema VARCHAR(100),
        NombreObjeto VARCHAR(255),
        DefinicionOriginal NVARCHAR(MAX),
        DefinicionCorregida NVARCHAR(MAX),
        ErroresActuales VARCHAR(1000),
        CorreccionesAplicadas VARCHAR(1000)
    );
    
    -- Tabla de mapeo de correcciones
    DECLARE @MapeoCorrecciones TABLE (
        Patron VARCHAR(20),
        Correccion VARCHAR(20),
        Descripcion VARCHAR(100)
    );
    
    INSERT INTO @MapeoCorrecciones VALUES
    ('Ã¡', 'á', 'a minúscula con tilde'),
    ('Ã©', 'é', 'e minúscula con tilde'),
    ('Ã-', 'í', 'i minúscula con tilde'),
    ('Ã­', 'í', 'i minúscula con tilde'),
    ('Ã³', 'ó', 'o minúscula con tilde'),
    ('Ãº', 'ú', 'u minúscula con tilde'),
    ('Ã±', 'ñ', 'eñe minúscula'),
    ('Ã', 'Á', 'A mayúscula con tilde'),
    ('Ã‰', 'É', 'E mayúscula con tilde'),
    ('Ã', 'Í', 'I mayúscula con tilde'),
    ('Ã“', 'Ó', 'O mayúscula con tilde'),
    ('Ãš', 'Ú', 'U mayúscula con tilde'),
    ('Ã‘', 'Ñ', 'EÑE mayúscula'),
    ('Â¡', '¡', 'Signo de exclamación inicial'),
    ('Â¿', '¿', 'Signo de interrogación inicial');

    -- Buscar objetos que necesitan corrección (excluyendo este mismo SP)
    INSERT INTO @TablaCorrecciones (TipoObjeto, Esquema, NombreObjeto, DefinicionOriginal)
    SELECT 
        o.type_desc,
        OBJECT_SCHEMA_NAME(o.object_id),
        OBJECT_NAME(o.object_id),
        m.definition
    FROM sys.sql_modules m
    INNER JOIN sys.objects o ON m.object_id = o.object_id
    WHERE EXISTS (
        SELECT 1 
        FROM @MapeoCorrecciones mc 
        WHERE m.definition LIKE '%' + mc.Patron + '%'
    )
    AND o.type IN ('P', 'FN', 'TF', 'IF', 'TR', 'V')
    AND OBJECT_NAME(o.object_id) <> 'spSysCorregirCaracteresCodificacion';  -- Excluir este SP

    -- Inicializar campos
    UPDATE @TablaCorrecciones
    SET 
        DefinicionCorregida = DefinicionOriginal,
        ErroresActuales = '',
        CorreccionesAplicadas = '';

    -- Identificar errores actuales
    DECLARE @Patron VARCHAR(20), @Correccion VARCHAR(20), @Descripcion VARCHAR(100);
    
    DECLARE cursorErrores CURSOR FOR
    SELECT Patron, Correccion, Descripcion FROM @MapeoCorrecciones;
    
    OPEN cursorErrores;
    FETCH NEXT FROM cursorErrores INTO @Patron, @Correccion, @Descripcion;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Actualizar errores actuales usando variable
        UPDATE tc
        SET ErroresActuales = CASE 
            WHEN tc.DefinicionOriginal LIKE '%' + @Patron + '%' 
            THEN CASE 
                WHEN tc.ErroresActuales = '' THEN @Patron + '→' + @Descripcion
                ELSE tc.ErroresActuales + ', ' + @Patron + '→' + @Descripcion
            END
            ELSE tc.ErroresActuales
        END
        FROM @TablaCorrecciones tc
        WHERE tc.DefinicionOriginal LIKE '%' + @Patron + '%';
        
        FETCH NEXT FROM cursorErrores INTO @Patron, @Correccion, @Descripcion;
    END;
    
    CLOSE cursorErrores;
    DEALLOCATE cursorErrores;

    -- Aplicar correcciones a la definición
    DECLARE cursorCorrecciones CURSOR FOR
    SELECT Patron, Correccion, Descripcion FROM @MapeoCorrecciones;
    
    OPEN cursorCorrecciones;
    FETCH NEXT FROM cursorCorrecciones INTO @Patron, @Correccion, @Descripcion;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Aplicar correcciones usando variable
        UPDATE tc
        SET 
            DefinicionCorregida = REPLACE(tc.DefinicionCorregida, @Patron, @Correccion),
            CorreccionesAplicadas = CASE 
                WHEN tc.DefinicionCorregida LIKE '%' + @Patron + '%' 
                THEN CASE 
                    WHEN tc.CorreccionesAplicadas = '' THEN @Patron + '→' + @Correccion
                    ELSE tc.CorreccionesAplicadas + ', ' + @Patron + '→' + @Correccion
                END
                ELSE tc.CorreccionesAplicadas
            END
        FROM @TablaCorrecciones tc
        WHERE tc.DefinicionOriginal LIKE '%' + @Patron + '%';
        
        FETCH NEXT FROM cursorCorrecciones INTO @Patron, @Correccion, @Descripcion;
    END;
    
    CLOSE cursorCorrecciones;
    DEALLOCATE cursorCorrecciones;

    -- Mostrar resultados en una sola tabla con texto antes/después
    IF @DebugMode = 1
    BEGIN
        PRINT '=== MODO DEBUG: COMPARATIVA TEXTO ANTES/DESPUÉS ===';
        
        WITH Ejemplos AS (
            SELECT 
                tc.TipoObjeto,
                tc.Esquema,
                tc.NombreObjeto,
                mc.Patron,
                mc.Correccion,
                SUBSTRING(tc.DefinicionOriginal, 
                         NULLIF(CHARINDEX(mc.Patron, tc.DefinicionOriginal), 0) - 20, 
                         50) as TextoConError,
                SUBSTRING(tc.DefinicionCorregida, 
                         NULLIF(CHARINDEX(mc.Correccion, tc.DefinicionCorregida), 0) - 20, 
                         50) as TextoCorregido
            FROM @TablaCorrecciones tc
            CROSS JOIN @MapeoCorrecciones mc
            WHERE tc.DefinicionOriginal LIKE '%' + mc.Patron + '%'
                AND tc.DefinicionCorregida <> tc.DefinicionOriginal
        )
        SELECT 
            TipoObjeto,
            Esquema,
            NombreObjeto,
            Patron as CaracterError,
            Correccion as CaracterCorrecto,
            TextoConError,
            TextoCorregido,
            'SE CORREGIRÍA' as Accion
        FROM Ejemplos
        ORDER BY TipoObjeto, Esquema, NombreObjeto, Patron;

        -- Resumen
        DECLARE @TotalObjetos INT;
        SELECT @TotalObjetos = COUNT(DISTINCT NombreObjeto) FROM @TablaCorrecciones WHERE DefinicionCorregida <> DefinicionOriginal;
        PRINT 'Total de objetos a modificar: ' + CAST(@TotalObjetos AS VARCHAR);
        PRINT 'Ejecute con @DebugMode = 0 para aplicar los cambios reales';
    END
    ELSE
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;
            
            DECLARE @Sql NVARCHAR(MAX);
            DECLARE @TipoObjeto VARCHAR(50), @Esquema VARCHAR(100), @Nombre VARCHAR(255), @DefCorregida NVARCHAR(MAX);
            
            DECLARE cursorObjetos CURSOR FOR
            SELECT TipoObjeto, Esquema, NombreObjeto, DefinicionCorregida
            FROM @TablaCorrecciones
            WHERE DefinicionCorregida <> DefinicionOriginal;
            
            OPEN cursorObjetos;
            FETCH NEXT FROM cursorObjetos INTO @TipoObjeto, @Esquema, @Nombre, @DefCorregida;
            
            WHILE @@FETCH_STATUS = 0
            BEGIN
                -- Método mejorado: Extraer solo el cuerpo después de CREATE/ALTER
                DECLARE @StartPos INT;
                
                -- Encontrar la posición después de CREATE/ALTER y el tipo de objeto
                SET @StartPos = CHARINDEX('CREATE', @DefCorregida);
                IF @StartPos > 0
                BEGIN
                    -- Buscar la primera palabra después de CREATE (PROCEDURE, FUNCTION, etc.)
                    DECLARE @FirstSpaceAfterCreate INT = CHARINDEX(' ', @DefCorregida, @StartPos + 6);
                    IF @FirstSpaceAfterCreate > 0
                    BEGIN
                        -- Buscar el siguiente espacio para encontrar el inicio del cuerpo
                        DECLARE @SecondSpace INT = CHARINDEX(' ', @DefCorregida, @FirstSpaceAfterCreate + 1);
                        IF @SecondSpace > 0
                        BEGIN
                            -- Extraer desde el segundo espacio en adelante (el cuerpo real)
                            SET @Sql = 'ALTER ' + SUBSTRING(@DefCorregida, @FirstSpaceAfterCreate + 1, LEN(@DefCorregida));
                            
                            BEGIN TRY
                                EXEC sp_executesql @Sql;
                                PRINT 'CORREGIDO: ' + @TipoObjeto + ' [' + @Esquema + '].[' + @Nombre + ']';
                            END TRY
                            BEGIN CATCH
                                PRINT 'ERROR en: ' + @TipoObjeto + ' [' + @Esquema + '].[' + @Nombre + '] - ' + ERROR_MESSAGE();
                                PRINT 'SQL: ' + LEFT(@Sql, 200); -- Mostrar parte del SQL para debug
                            END CATCH
                        END
                        ELSE
                        BEGIN
                            PRINT 'ERROR: No se pudo parsear el objeto: ' + @Nombre;
                        END
                    END
                    ELSE
                    BEGIN
                        PRINT 'ERROR: No se pudo parsear el objeto: ' + @Nombre;
                    END
                END
                ELSE
                BEGIN
                    PRINT 'ERROR: No se encontró CREATE en: ' + @Nombre;
                END
                
                FETCH NEXT FROM cursorObjetos INTO @TipoObjeto, @Esquema, @Nombre, @DefCorregida;
            END;
            
            CLOSE cursorObjetos;
            DEALLOCATE cursorObjetos;
            
            COMMIT TRANSACTION;
            PRINT '=== CORRECCIÓN COMPLETADA ===';
            PRINT 'Total de objetos procesados: ' + CAST(@@ROWCOUNT AS VARCHAR);
            
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION;
            PRINT 'ERROR: ' + ERROR_MESSAGE();
            PRINT 'Se revertieron todos los cambios';
        END CATCH
    END;
END;
GO
