USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spCuentas_Listar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Listar cuentas con filtros
-- =============================================
CREATE PROCEDURE [dbo].[spCuentas_Listar]
    @IDGrupo INT = NULL,
    @Codigo VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            c.ID,
            c.Cuenta,
            c.Nombre,
            c.IDGrupo,
            gc.GrupoCuenta AS GrupoDescripcion,
            c.Saldo
        FROM tbCuentas c
        LEFT JOIN tbGrupoCuenta gc ON c.IDGrupo = gc.IDGrupo
        WHERE c.snEliminado = 0
            AND (@IDGrupo IS NULL OR c.IDGrupo = @IDGrupo)
            AND (@Codigo IS NULL OR c.Cuenta LIKE '%' + @Codigo + '%')
        ORDER BY c.Cuenta;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
