USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_ObtenerRubros]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spAuxiliares_ObtenerRubros]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT CodigoRubro, Descripcion 
    FROM tbRubros 
    WHERE snEliminado = 0 
    ORDER BY Descripcion
END
GO
