USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spCorregimientos_Guardar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spCorregimientos_Guardar]
    @ID INT = NULL,
    @Code INT = NULL,
    @CodePais NVARCHAR(3),
    @CodeProvincia INT,
    @CodeDistrito INT,
    @Descripcion NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @Resultado NVARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje NVARCHAR(500) = ''
        
        -- Validaciones (solo para UPDATE, en INSERT se genera automáticamente)
        IF (@ID IS NOT NULL AND @ID > 0) AND (@Code IS NULL OR @Code <= 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'El código es requerido y debe ser mayor a cero para actualizar';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        IF @CodePais IS NULL OR LTRIM(RTRIM(@CodePais)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'El código de país es requerido';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        IF @CodeProvincia IS NULL OR @CodeProvincia <= 0
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'El código de provincia es requerido y debe ser mayor a cero';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        IF @CodeDistrito IS NULL OR @CodeDistrito <= 0
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'El código de distrito es requerido y debe ser mayor a cero';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        IF @Descripcion IS NULL OR LTRIM(RTRIM(@Descripcion)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'La descripción es requerida';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Verificar que el país existe
        IF NOT EXISTS (SELECT 1 FROM tbPaises WHERE Code = @CodePais AND snEliminado = 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'El país especificado no existe';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Verificar que la provincia existe y pertenece al país
        IF NOT EXISTS (SELECT 1 FROM tbProvincias WHERE Code = @CodeProvincia AND CodePais = @CodePais AND snEliminado = 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'La provincia especificada no existe o no pertenece al país seleccionado';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Verificar que el distrito existe y pertenece a la provincia y país
        IF NOT EXISTS (SELECT 1 FROM tbDistritos WHERE Code = @CodeDistrito AND CodePais = @CodePais AND CodeProvincia = @CodeProvincia AND snEliminado = 0)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'El distrito especificado no existe o no pertenece a la provincia y país seleccionados';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Verificar código duplicado solo en UPDATE (mismo código, país, provincia y distrito)
        IF (@ID IS NOT NULL AND @ID > 0) AND EXISTS (
            SELECT 1 
            FROM tbCorregimientos 
            WHERE Code = @Code 
                AND CodePais = @CodePais 
                AND CodeProvincia = @CodeProvincia 
                AND CodeDistrito = @CodeDistrito
                AND snEliminado = 0
                AND ID != @ID
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = N'Ya existe un corregimiento con el código ingresado para este distrito';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
            RETURN;
        END
        
        -- Insertar o actualizar
        IF @ID IS NULL OR @ID = 0
        BEGIN
            -- INSERT - Obtener el siguiente código automáticamente si no se proporciona
            DECLARE @NuevoCode INT = 1
            
            IF @Code IS NULL OR @Code <= 0
            BEGIN
                -- Generar código automáticamente
                SELECT @NuevoCode = ISNULL(MAX(Code), 0) + 1
                FROM tbCorregimientos
                WHERE snEliminado = 0
            END
            ELSE
            BEGIN
                -- Usar el código proporcionado
                SET @NuevoCode = @Code
            END
            
            INSERT INTO tbCorregimientos (Code, CodePais, CodeProvincia, CodeDistrito, Descripcion, snEliminado)
            VALUES (@NuevoCode, @CodePais, @CodeProvincia, @CodeDistrito, @Descripcion, 0);
            
            SET @Mensaje = N'Corregimiento creado exitosamente';
        END
        ELSE
        BEGIN
            -- UPDATE - El código debe ser proporcionado
            IF @Code IS NULL OR @Code <= 0
            BEGIN
                SET @Resultado = 'ERROR';
                SET @Mensaje = N'El código es requerido para actualizar';
                ROLLBACK TRANSACTION;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
                RETURN;
            END
            
            UPDATE tbCorregimientos
            SET Code = @Code,
                CodePais = @CodePais,
                CodeProvincia = @CodeProvincia,
                CodeDistrito = @CodeDistrito,
                Descripcion = @Descripcion
            WHERE ID = @ID;
            
            SET @Mensaje = N'Corregimiento actualizado exitosamente';
        END
        
        COMMIT TRANSACTION;
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        SELECT 'ERROR' AS Resultado, @ErrorMessage AS Mensaje;
    END CATCH
END
GO
