USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerAsociado]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE   FUNCTION [dbo].[fnAuditoria_ObtenerAsociado](@NumeroAsociado INT)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = Nombre + ' ' + Apellido 
    FROM tbAsociados 
    WHERE NumeroAsociado = @NumeroAsociado
    
    RETURN ISNULL(@Descripcion, 'N/A')
END
GO
