USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spParentezcos_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Listar parentezcos con filtros opcionales
-- =============================================
CREATE PROCEDURE [dbo].[spParentezcos_Listar]
    @Parentezco NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        p.IDParentezco,
        p.Parentezco,
        p.snEliminado
    FROM
        tbParentezcos p
    WHERE
        p.snEliminado = 0
        AND (@Parentezco IS NULL OR p.Parentezco LIKE '%' + @Parentezco + '%')
    ORDER BY
        p.Parentezco;
END
GO
