USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spRespaldos_Listar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- STORED PROCEDURE PARA LISTAR RESPALDOS
-- =============================================

CREATE PROCEDURE [dbo].[spRespaldos_Listar]
    @IncluirEliminados BIT = 0,
    @UsuarioGenera INT = NULL,
    @FechaDesde DATETIME = NULL,
    @FechaHasta DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        ---- Validar fechas si se proporcionan
        --IF @FechaDesde IS NOT NULL AND @FechaHasta IS NOT NULL AND @FechaDesde > @FechaHasta
        --BEGIN
        --    SELECT 'ERROR' AS Resultado, 'La fecha desde no puede ser mayor a la fecha hasta' AS Mensaje
        --    RETURN
        --END
        
        -- Consultar respaldos
        SELECT 
            r.ID,
            r.UsuarioGenera,
            IIF(r.UsuarioGenera=0,'Sys', u.Nombre) NombreUsuario,
            r.FechaHora,
            r.NombreRespaldo,
            r.Descripcion,
            r.Ruta,
            r.Size,
            -- Formatear Size en unidades legibles
             CASE 
        WHEN r.Size >= 1073741824 THEN CAST(CAST(CAST(r.Size AS FLOAT) / 1073741824 AS DECIMAL(10,2)) AS VARCHAR(20)) + ' GB'
        WHEN r.Size >= 1048576 THEN CAST(CAST(CAST(r.Size AS FLOAT) / 1048576 AS DECIMAL(10,2)) AS VARCHAR(20)) + ' MB'
        WHEN r.Size >= 1024 THEN CAST(CAST(CAST(r.Size AS FLOAT) / 1024 AS DECIMAL(10,2)) AS VARCHAR(20)) + ' KB'
        ELSE CAST(r.Size AS VARCHAR(20)) + ' bytes'
    END AS SizeFormateado,
            r.SnEliminado,
            CASE 
                WHEN r.SnEliminado = 1 THEN 'Eliminado'
                ELSE 'Activo'
            END AS Estado,
            r.FechaCreacion,
            r.FechaModificacion,
            -- Información adicional del archivo
            CASE 
                WHEN r.Ruta IS NOT NULL AND LEN(r.Ruta) > 0 THEN
                    CASE 
                        WHEN CHARINDEX('\', REVERSE(r.Ruta)) > 0 THEN
                            RIGHT(r.Ruta, CHARINDEX('\', REVERSE(r.Ruta)) - 1)
                        ELSE r.Ruta
                    END
                ELSE r.NombreRespaldo
            END AS NombreArchivo
        FROM tbRespaldos r
        left JOIN tbUsuarios u ON r.UsuarioGenera = u.ID
        Where r.SnEliminado = 0
        --WHERE 
        --    -- Filtro de eliminados
        --    (@IncluirEliminados = 1 OR r.SnEliminado = 0)
        --    -- Filtro por usuario
        --    AND (@UsuarioGenera IS NULL OR r.UsuarioGenera = @UsuarioGenera)
        --    -- Filtro por fecha desde
        --    AND (@FechaDesde IS NULL OR r.FechaHora >= @FechaDesde)
        --    -- Filtro por fecha hasta
        --    AND (@FechaHasta IS NULL OR r.FechaHora <= @FechaHasta)
        --ORDER BY r.FechaHora DESC
        
        ---- Retornar resultado exitoso
        --SELECT 'SUCCESS' AS Resultado, 'Respaldos listados exitosamente' AS Mensaje
        
    END TRY
    BEGIN CATCH
        -- Retornar error en caso de excepción
        --SELECT 'ERROR' AS Resultado, 'Error al listar respaldos: ' + ERROR_MESSAGE() AS Mensaje
    END CATCH
END
GO
