USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuariosPorRol]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para obtener usuarios por rol
CREATE PROCEDURE [dbo].[sp_ObtenerUsuariosPorRol]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        r.Nombre AS Rol,
        COUNT(u.Id) AS CantidadUsuarios,
        SUM(CASE WHEN u.Estado = 'Activo' THEN 1 ELSE 0 END) AS UsuariosActivos
    FROM tbRoles r
    LEFT JOIN tbUsuarios u ON r.Id = u.Rol
    WHERE r.Activo = 1 and u.snEliminado=0
    GROUP BY r.Id, r.Nombre
    ORDER BY r.Nombre;
END
GO
