USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spBeneficiarios_CrearBeneficiario]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spBeneficiarios_CrearBeneficiario]
    @NumeroAsociado INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @TipoIdentificacion VARCHAR(10),
    @NumeroIdentificacion NVARCHAR(200),
    @IDParentezco INT,
    @Porcentaje NUMERIC(5,2),
    @Usuario NVARCHAR(50) = NULL,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el porcentaje no exceda el 100% total
        DECLARE @PorcentajeTotal NUMERIC(5,2);
        SELECT @PorcentajeTotal = ISNULL(SUM(Porcentaje), 0)
        FROM tbBeneficiarios
        WHERE NumeroAsociado = @NumeroAsociado 
          AND snEliminado = 0;
        
        IF (@PorcentajeTotal + @Porcentaje) > 100
        BEGIN
            SELECT 'ERROR' AS Resultado, 
                   'El porcentaje total no puede exceder el 100%. Porcentaje actual: ' + 
                   CAST(@PorcentajeTotal AS VARCHAR(10)) + '%' AS Mensaje;
            RETURN;
        END
        
        -- Insertar el beneficiario con campos de auditorÃ­a
        INSERT INTO tbBeneficiarios (
            NumeroAsociado,
            Nombre,
            Apellido,
            TipoIdentificacion,
            NumeroIdentificacion,
            IDParentezco,
            Porcentaje,
            UsuarioCrea,
            FechaHoraCrea,
            SysLastSessionID,
            snEliminado
        )
        VALUES (
            @NumeroAsociado,
            @Nombre,
            @Apellido,
            @TipoIdentificacion,
            @NumeroIdentificacion,
            @IDParentezco,
            @Porcentaje,
            CAST(@Usuario AS INT),
            GETDATE(),
            @IdSession,
            0
        );
        
        SELECT 'SUCCESS' AS Resultado, 'Beneficiario creado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
