USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerTipoAuxiliar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerTipoAuxiliar](@TipoAuxiliar INT)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200) = NULL
    
    IF @TipoAuxiliar IS NOT NULL
    BEGIN
        SELECT @Descripcion = Descripcion
        FROM tbTiposAuxiliares
        WHERE ID = @TipoAuxiliar;
    END

    -- Si no se encuentra, devolver formato con ID
    IF @Descripcion IS NULL OR @Descripcion = ''
        RETURN 'N/A (' + CAST(ISNULL(@TipoAuxiliar, 0) AS NVARCHAR(10)) + ')'
    
    RETURN @Descripcion + ' (' + CAST(@TipoAuxiliar AS NVARCHAR(10)) + ')'
END
GO
