USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerPais]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerPais](@CodePais VARCHAR(10))
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = Descripcion + ' (' + Code + ')'
    FROM tbPaises 
    WHERE Code = @CodePais
    
    RETURN ISNULL(@Descripcion, 'N/A (' + ISNULL(@CodePais, '') + ')')
END
GO
