USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbRespaldos]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRespaldos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioGenera] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[NombreRespaldo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Ruta] [varchar](500) NOT NULL,
	[Size] [bigint] NOT NULL,
	[SnEliminado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_tbRespaldos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbRespaldos] ADD  DEFAULT ((0)) FOR [SnEliminado]
GO
ALTER TABLE [dbo].[tbRespaldos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
