USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbConfiguraciones]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbConfiguraciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_tbConfiguraciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbConfiguraciones_Clave] UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbConfiguraciones] ADD  DEFAULT ('String') FOR [Tipo]
GO
ALTER TABLE [dbo].[tbConfiguraciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
