USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_sys_HST_GenerarHistorialMensual]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec sp_sys_HST_GenerarHistorialMensual '20251119'

CREATE   PROCEDURE [dbo].[sp_sys_HST_GenerarHistorialMensual]
    @FechaCierre DATE = NULL,
    @TablasFiltro NVARCHAR(MAX) = NULL,  -- JSON con las tablas a procesar
    @Usuario int = 0
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Crear tabla temporal para el log
    CREATE TABLE #LogProceso (
        ID INT IDENTITY(1,1),
        FechaHora DATETIME DEFAULT GETDATE(),
        Nivel NVARCHAR(20),
        Mensaje NVARCHAR(MAX),
        Tabla NVARCHAR(100) NULL,
        Registros INT NULL,
        Version INT NULL
    );
    
    DECLARE @Mensaje NVARCHAR(MAX);
    DECLARE @Error NVARCHAR(MAX);
    
    BEGIN TRY
        -- Determinar la fecha de cierre (si es NULL, usar ayer)
        IF @FechaCierre IS NULL
            SET @FechaCierre = DATEADD(DAY, -1, CAST(GETDATE() AS DATE));
        
        DECLARE @Anio INT = YEAR(@FechaCierre);
        DECLARE @Mes INT = MONTH(@FechaCierre);
        DECLARE @Periodo VARCHAR(6) = FORMAT(@FechaCierre, 'yyyyMM');
        
        INSERT INTO #LogProceso (Nivel, Mensaje) 
        VALUES ('INFO', 'Iniciando proceso de historial para período: ' + @Periodo);
        
        -- Procesar el filtro de tablas si se proporciona
        IF @TablasFiltro IS NOT NULL
        BEGIN
            INSERT INTO #LogProceso (Nivel, Mensaje) 
            VALUES ('INFO', 'Filtro de tablas aplicado: ' + @TablasFiltro);
        END
        ELSE
        BEGIN
            INSERT INTO #LogProceso (Nivel, Mensaje) 
            VALUES ('INFO', 'Procesando todas las tablas activas');
        END
        
        -- Variables para el cursor
        DECLARE @TablaNombre NVARCHAR(100);
        DECLARE @TablaID INT;
        
        -- Cursor para recorrer las tablas activas con filtro
        DECLARE curTablas CURSOR LOCAL FORWARD_ONLY READ_ONLY FOR
        SELECT ID, Tabla 
        FROM [sys.HST.Tablas] 
        WHERE snActivo = 1
        AND (
            @TablasFiltro IS NULL 
            OR EXISTS (
                SELECT 1 
                FROM OPENJSON(@TablasFiltro) 
                WHERE value = Tabla
            )
        );
        
        OPEN curTablas;
        FETCH NEXT FROM curTablas INTO @TablaID, @TablaNombre;
        
        -- Verificar si se encontraron tablas
        IF @@FETCH_STATUS != 0
        BEGIN
            INSERT INTO #LogProceso (Nivel, Mensaje) 
            VALUES ('WARNING', 'No se encontraron tablas para procesar con el filtro aplicado');
        END
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @TablaDestinoBase NVARCHAR(150) = '[sys.HST.' + @TablaNombre + '_' + @Periodo + ']';
            DECLARE @TablaDestino NVARCHAR(150) = @TablaDestinoBase;
            DECLARE @Sufijo INT = 0;  -- Este será el número de versión
            DECLARE @RegistrosCopiados INT = 0;
            DECLARE @SQL NVARCHAR(MAX);
            DECLARE @Resultado NVARCHAR(MAX) = 'Éxito';
            
            BEGIN TRY
                INSERT INTO #LogProceso (Nivel, Mensaje, Tabla) 
                VALUES ('INFO', 'Procesando tabla', @TablaNombre);
                
                -- Verificar si la tabla base ya existe y encontrar el próximo sufijo
                IF OBJECT_ID(@TablaDestino, 'U') IS NOT NULL
                BEGIN
                    INSERT INTO #LogProceso (Nivel, Mensaje, Tabla) 
                    VALUES ('INFO', 'Tabla base ya existe, buscando sufijo disponible', @TablaNombre);
                    
                    -- Encontrar el máximo sufijo existente
                    DECLARE @MaxSufijo INT = 0;
                    DECLARE @NombreBase NVARCHAR(100) = 'sys.HST.' + @TablaNombre + '_' + @Periodo;
                    
                    -- Consultar sys.tables para encontrar sufijos existentes
                    SELECT @MaxSufijo = ISNULL(MAX(
                        CASE 
                            WHEN name = @NombreBase THEN 0
                            WHEN name LIKE @NombreBase + '_%' THEN 
                                TRY_CAST(SUBSTRING(name, LEN(@NombreBase) + 2, 10) AS INT)
                            ELSE -1
                        END
                    ), -1)
                    FROM sys.tables 
                    WHERE name LIKE @NombreBase + '%'
                    AND SCHEMA_NAME(schema_id) = 'dbo';
                    
                    SET @Sufijo = @MaxSufijo + 1;
                    SET @TablaDestino = '[sys.HST.' + @TablaNombre + '_' + @Periodo + '_' + CAST(@Sufijo AS NVARCHAR(10)) + ']';
                    
                    INSERT INTO #LogProceso (Nivel, Mensaje, Tabla, Version) 
                    VALUES ('INFO', 'Próximo sufijo disponible', @TablaNombre, @Sufijo);
                END
                ELSE
                BEGIN
                    -- Si no existe, es la versión 0 (sin sufijo)
                    SET @Sufijo = 0;
                    INSERT INTO #LogProceso (Nivel, Mensaje, Tabla, Version) 
                    VALUES ('INFO', 'Usando versión base (sin sufijo)', @TablaNombre, @Sufijo);
                END
                
                INSERT INTO #LogProceso (Nivel, Mensaje, Tabla, Version) 
                VALUES ('INFO', 'Creando tabla destino: ' + REPLACE(REPLACE(@TablaDestino, '[', ''), ']', ''), @TablaNombre, @Sufijo);
                
                -- Generar y ejecutar el SELECT INTO dinámico con nombres escapados
                SET @SQL = 'SELECT * INTO ' + @TablaDestino + ' FROM ' + @TablaNombre;
                
                EXEC sp_executesql @SQL;
                
                -- Obtener la cantidad de registros copiados
                SET @SQL = 'SELECT @Registros = COUNT(*) FROM ' + @TablaDestino;
                EXEC sp_executesql @SQL, N'@Registros INT OUTPUT', @RegistrosCopiados OUTPUT;
                
                INSERT INTO #LogProceso (Nivel, Mensaje, Tabla, Registros, Version) 
                VALUES ('SUCCESS', 'Tabla creada exitosamente', @TablaNombre, @RegistrosCopiados, @Sufijo);
                
            END TRY
            BEGIN CATCH
                SET @Error = ERROR_MESSAGE();
                SET @Resultado = 'Error: ' + @Error;
                SET @RegistrosCopiados = 0;
                
                INSERT INTO #LogProceso (Nivel, Mensaje, Tabla, Version) 
                VALUES ('ERROR', 'Error: ' + @Error, @TablaNombre, @Sufijo);
            END CATCH
            
            -- Registrar en la tabla de historial (sin corchetes para mejor legibilidad)
            DECLARE @TablaHistorialLegible NVARCHAR(150) = REPLACE(REPLACE(@TablaDestino, '[', ''), ']', '');
            
            INSERT INTO [dbo].[sys.HST.Historiales] (
                [Tabla], 
                [FechaHora], 
                [Mes], 
                [Año], 
                [TablaHistorial], 
                [Registros], 
                [Resultado],
                [Version],
                UsuarioCrea
            ) VALUES (
                @TablaNombre,
                GETDATE(),
                @Mes,
                @Anio,
                @TablaHistorialLegible,
                @RegistrosCopiados,
                @Resultado,
                @Sufijo,  -- Usar el mismo número del sufijo como versión
                @Usuario
            );
            
            FETCH NEXT FROM curTablas INTO @TablaID, @TablaNombre;
        END
        
        CLOSE curTablas;
        DEALLOCATE curTablas;
        
        INSERT INTO #LogProceso (Nivel, Mensaje) 
        VALUES ('SUCCESS', 'Proceso de historial completado para período: ' + @Periodo);
        
        -- Devolver el log como resultado
        SELECT * FROM #LogProceso ORDER BY ID;
        
    END TRY
    BEGIN CATCH
        SET @Error = ERROR_MESSAGE();
        
        INSERT INTO #LogProceso (Nivel, Mensaje) 
        VALUES ('ERROR', 'ERROR GENERAL: ' + @Error);
        
        -- Insertar registro de error general (con versión -1 para indicar error general)
        INSERT INTO [dbo].[sys.HST.Historiales] (
            [Tabla], 
            [FechaHora], 
            [Mes], 
            [Año], 
            [TablaHistorial], 
            [Registros], 
            [Resultado],
            [Version],
            UsuarioCrea
        ) VALUES (
            'PROCESO_GENERAL',
            GETDATE(),
            @Mes,
            @Anio,
            'N/A',
            0,
            'ERROR GENERAL: ' + @Error,
            -1,  -- Versión -1 para errores generales
            @Usuario
        );
        
        -- Devolver el log incluso en caso de error
        SELECT * FROM #LogProceso ORDER BY ID;
        
        THROW;
    END CATCH
END;
GO
