USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_GuardarAuxiliar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAuxiliares_GuardarAuxiliar]
    @ID INT = 0,
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(5),
    @TipoAuxiliar INT,
    @Cuota NUMERIC(18,2) = 0,
    @Saldo NUMERIC(18,2) = 0,
    @MontoOriginal NUMERIC(18,2) = 0,
    @MontoPignorado NUMERIC(18,2) = 0,
    @FechaOtorgado DATETIME = NULL,
    @TasaInteres NUMERIC(18,2) = 0,
    @PagoMes NUMERIC(18,2) = 0,
    @UsuarioID INT,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ---------------------------------------------------------
    -- VALIDACIONES (SIN TRANSACCIÓN)
    ---------------------------------------------------------
    IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
    BEGIN
        SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje;
        RETURN;
    END

    IF @CodigoRubro IS NULL OR @CodigoRubro = ''
    BEGIN
        SELECT 'ERROR' AS Resultado, 'El código de rubro es requerido' AS Mensaje;
        RETURN;
    END

    IF @TipoAuxiliar IS NULL OR @TipoAuxiliar = 0
    BEGIN
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar es requerido' AS Mensaje;
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1 FROM tbAsociados 
        WHERE NumeroAsociado = @NumeroAsociado AND snEliminado = 0
    )
    BEGIN
        SELECT 'ERROR' AS Resultado, 'El asociado no existe o está eliminado' AS Mensaje;
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1 FROM tbRubros 
        WHERE CodigoRubro = @CodigoRubro AND snEliminado = 0
    )
    BEGIN
        SELECT 'ERROR' AS Resultado, 'El rubro no existe o está eliminado' AS Mensaje;
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1 FROM tbTiposAuxiliares 
        WHERE CodigoRubro = @CodigoRubro 
          AND ID = @TipoAuxiliar 
          AND snEliminado = 0
    )
    BEGIN
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar no existe para el rubro seleccionado' AS Mensaje;
        RETURN;
    END

    ---------------------------------------------------------
    -- INICIAR TRANSACCIÓN
    ---------------------------------------------------------
    BEGIN TRY
        BEGIN TRANSACTION;

        ---------------------------------------------------------
        -- CREAR NUEVO AUXILIAR
        ---------------------------------------------------------
        IF @ID = 0
        BEGIN
            DECLARE @NuevoID INT;

            -- Consecutivo
            UPDATE dbo.tbControlConsecutivos WITH (UPDLOCK, HOLDLOCK)
            SET @NuevoID = UltimoConsecutivo + 1,
                UltimoConsecutivo = UltimoConsecutivo + 1
            WHERE Tabla = 'tbAuxiliares';

            IF @NuevoID IS NULL
            BEGIN
                SELECT 'ERROR' AS Resultado, 'No se pudo generar el nuevo ID' AS Mensaje;
                ROLLBACK TRANSACTION;
                RETURN;
            END

            INSERT INTO tbAuxiliares (
                ID,
                NumeroAsociado,
                CodigoRubro,
                TipoAuxiliar,
                Cuota,
                Saldo,
                MontoOriginal,
                MontoPignorado,
                FechaOtorgado,
                TasaInteres,
                PagoMes,
                FechaCreacion,
                UsuarioCrea,
                snEliminado,
                SysLastSessionID,
                InteresCalculado,
                InteresPagado,
                FechaUltCalculoInteres
            )
            VALUES (
                @NuevoID,
                @NumeroAsociado,
                @CodigoRubro,
                @TipoAuxiliar,
                @Cuota,
                @Saldo,
                @MontoOriginal,
                @MontoPignorado,
                @FechaOtorgado,
                @TasaInteres,
                @PagoMes,
                GETDATE(),
                @UsuarioID,
                0,
                @IdSession,
                0,
                0,
                @FechaOtorgado
            );

            SELECT 'SUCCESS' AS Resultado, 'Auxiliar creado exitosamente' AS Mensaje, @NuevoID AS NuevoID;
        END
        ---------------------------------------------------------
        -- ACTUALIZAR AUXILIAR EXISTENTE
        ---------------------------------------------------------
        ELSE
        BEGIN
            UPDATE tbAuxiliares
            SET CodigoRubro = @CodigoRubro,
                TipoAuxiliar = @TipoAuxiliar,
                Cuota = @Cuota,
                Saldo = @Saldo,
                MontoOriginal = @MontoOriginal,
                MontoPignorado = @MontoPignorado,
                FechaOtorgado = @FechaOtorgado,
                TasaInteres = @TasaInteres,
                PagoMes = @PagoMes,
                FechaModificacion = GETDATE(),
                UsuarioModifica = @UsuarioID,
                SysLastSessionID = @IdSession
            WHERE ID = @ID 
              AND NumeroAsociado = @NumeroAsociado
              AND snEliminado = 0;

            IF @@ROWCOUNT = 0
            BEGIN
                SELECT 'ERROR' AS Resultado, 'No se encontró el auxiliar a actualizar' AS Mensaje;
                ROLLBACK TRANSACTION;
                RETURN;
            END

            SELECT 'SUCCESS' AS Resultado, 'Auxiliar actualizado exitosamente' AS Mensaje;
        END

        ---------------------------------------------------------
        -- FIN DE TRANSACCIÓN
        ---------------------------------------------------------
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SELECT 'ERROR' AS Resultado,
               'Error al guardar auxiliar: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
