USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spBeneficiarios_ActualizarBeneficiario]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spBeneficiarios_ActualizarBeneficiario]
    @IDBeneficiario INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @TipoIdentificacion VARCHAR(10),
    @NumeroIdentificacion NVARCHAR(200),
    @IDParentezco INT,
    @Porcentaje NUMERIC(5,2),
    @Usuario NVARCHAR(50) = NULL,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Obtener el nÃºmero de asociado del beneficiario
        DECLARE @NumeroAsociado INT;
        SELECT @NumeroAsociado = NumeroAsociado
        FROM tbBeneficiarios
        WHERE IDBeneficiario = @IDBeneficiario;
        
        -- Validar que el porcentaje no exceda el 100% total (excluyendo el beneficiario actual)
        DECLARE @PorcentajeTotal NUMERIC(5,2);
        SELECT @PorcentajeTotal = ISNULL(SUM(Porcentaje), 0)
        FROM tbBeneficiarios
        WHERE NumeroAsociado = @NumeroAsociado 
          AND snEliminado = 0
          AND IDBeneficiario != @IDBeneficiario;
        
        IF (@PorcentajeTotal + @Porcentaje) > 100
        BEGIN
            SELECT 'ERROR' AS Resultado, 
                   'El porcentaje total no puede exceder el 100%. Porcentaje actual: ' + 
                   CAST(@PorcentajeTotal AS VARCHAR(10)) + '%' AS Mensaje;
            RETURN;
        END
        
        -- Actualizar el beneficiario con campos de auditorÃ­a
        UPDATE tbBeneficiarios
        SET Nombre = @Nombre,
            Apellido = @Apellido,
            TipoIdentificacion = @TipoIdentificacion,
            NumeroIdentificacion = @NumeroIdentificacion,
            IDParentezco = @IDParentezco,
            Porcentaje = @Porcentaje,
            UsuarioModifica = CAST(@Usuario AS INT),
            FechaModifica = GETDATE(),
            SysLastSessionID = @IdSession
        WHERE IDBeneficiario = @IDBeneficiario;
        
        SELECT 'SUCCESS' AS Resultado, 'Beneficiario actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
