USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spLogsAuditoria_ObtenerTablas]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spLogsAuditoria_ObtenerTablas]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT DISTINCT
            ts.Tabla,
            ts.NombreDescriptivo,
            COUNT(la.Id) as CantidadLogs
        FROM tbTablasSistema ts
        LEFT JOIN tbLogsAuditoria la ON ts.Tabla = la.TablaAfectada
        GROUP BY ts.Tabla, ts.NombreDescriptivo
        ORDER BY ts.NombreDescriptivo
        
    END TRY
    BEGIN CATCH
        DECLARE @Mensaje NVARCHAR(2048);
        SET @Mensaje = ERROR_MESSAGE();
        THROW 50001, @Mensaje, 1;
    END CATCH
END
GO
