USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spSysBuscaTexto]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spSysBuscaTexto]
    @Texto nvarchar(MAX)
AS
BEGIN
    SELECT
        TYPE_DESC AS Tipo,
        OBJECT_NAME(m.object_id) AS Nombre,
        o.create_date AS FechaCreacion,
        m.definition AS Definicion
    FROM sys.sql_modules AS m
    INNER JOIN sys.objects AS o ON m.object_id = o.object_id
    WHERE m.definition COLLATE Latin1_General_CS_AS LIKE '%' + @Texto + '%'
        AND o.type IN ('P', 'FN', 'TF', 'TR', 'V')
    ORDER BY Tipo, Nombre;
END
GO
