USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spBeneficiarios_EliminarBeneficiario]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spBeneficiarios_EliminarBeneficiario]
    @IDBeneficiario INT,
    @Usuario NVARCHAR(50) = NULL,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar que el beneficiario existe
        IF NOT EXISTS (SELECT 1 FROM tbBeneficiarios WHERE IDBeneficiario = @IDBeneficiario)
        BEGIN
            SELECT 'ERROR' AS Resultado, 'Beneficiario no encontrado' AS Mensaje;
            RETURN;
        END
        
        -- Eliminar lÃ³gicamente el beneficiario con campos de auditorÃ­a
        UPDATE tbBeneficiarios
        SET snEliminado = 1,
            UsuarioElimina = CAST(@Usuario AS INT),
            FechaElimina = GETDATE(),
            SysLastSessionID = @IdSession
        WHERE IDBeneficiario = @IDBeneficiario;
        
        SELECT 'SUCCESS' AS Resultado, 'Beneficiario eliminado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
