USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarSesion]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para validar sesión
-- =============================================
CREATE PROCEDURE [dbo].[sp_ValidarSesion]
    @SessionId NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TimeoutMinutos INT = 480; -- 8 horas por defecto
    
    -- Obtener configuración de timeout
    SELECT @TimeoutMinutos = CAST(Valor AS INT) 
    FROM tbConfiguraciones 
    WHERE Clave = 'Sesion.TiempoExpiracion';
    
    IF @TimeoutMinutos IS NULL
        SET @TimeoutMinutos = 480;
    
    -- Verificar si la sesión existe y está activa
    SELECT 
        CASE 
            WHEN s.Id IS NULL THEN 'NoExiste'
            WHEN s.Activa = 0 THEN 'Inactiva'
            WHEN DATEDIFF(MINUTE, s.FechaInicio, GETDATE()) > @TimeoutMinutos THEN 'Expirada'
            ELSE 'Valida'
        END AS Estado,
        s.UsuarioId,
        u.Nombre,
        u.Apellido,
        u.Usuario AS NombreUsuario,
        u.Email,
        u.Rol,
        u.Departamento,
        r.NivelAcceso,
        r.Nombre AS RolNombre,
        d.Nombre AS DepartamentoNombre,
        s.FechaInicio,
        s.IPAddress
    FROM tbSesiones s
    INNER JOIN tbUsuarios u ON s.UsuarioId = u.Id
    INNER JOIN tbRoles r ON u.Rol = r.Id
    LEFT JOIN tbDepartamentos d ON u.Departamento = d.Id
    WHERE s.SessionId = @SessionId;
END
GO
