USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerEstadisticasDashboard]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Procedimiento para obtener estadísticas del dashboard
-- =============================================
CREATE PROCEDURE [dbo].[sp_ObtenerEstadisticasDashboard]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Total de usuarios
    SELECT COUNT(*) AS TotalUsuarios FROM tbUsuarios WHERE Estado = 'Activo' and snEliminado=0;
    
    -- Total de sesiones activas
    SELECT COUNT(*) AS SesionesActivas FROM tbSesiones WHERE Activa = 1;
    
    -- Total de departamentos
    SELECT COUNT(*) AS TotalDepartamentos FROM tbDepartamentos WHERE Activo = 1  and snEliminado=0;
    
    -- Logs de hoy
    SELECT COUNT(*) AS LogsHoy FROM tbLogs WHERE CAST(Fecha AS DATE) = CAST(GETDATE() AS DATE);
    
    -- Últimos 5 logs
    SELECT TOP 5 
        l.Tipo,
        l.Accion,
        l.Descripcion,
        l.Fecha,
        u.Nombre + ' ' + u.Apellido AS UsuarioNombre
    FROM tbLogs l
    LEFT JOIN tbUsuarios u ON l.UsuarioId = u.Id
    ORDER BY l.Fecha DESC;
END
GO
