USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_ObtenerAuxiliares]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Obtener todos los auxiliares con información completa
-- =============================================
CREATE PROCEDURE [dbo].[spAuxiliares_ObtenerAuxiliares]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        a.ID,
        right('000000000000' + cast(a.ID as varchar(12)),15) as Cuenta,
        a.NumeroAsociado,
        a.CodigoRubro,
        ta.TipoAuxiliar,
        ta.ID as IdTipoAuxiliar,
        CONCAT(s.Nombre, ' ', s.Apellido) AS NombreAsociado,
        td.CodTipoDoc,
        s.NumeroIdentificacion,
        r.Descripcion AS DescripcionRubro,
        ta.Descripcion AS DescripcionTipoAuxiliar,
        a.Cuota,
        a.Saldo,
        a.MontoOriginal,
        a.TasaInteres,
        a.PagoMes,
        a.MontoPignorado,
        a.snActivo,
        Format(cast(a.FechaOtorgado as Date),'dd/MM/yyyy') FechaOtorgado,
        Format(cast(a.FechaUltimoPago as Date),'dd/MM/yyyy') FechaUltimoPago,
        Format(cast(a.FechaCreacion as Date),'dd/MM/yyyy') FechaCreacion,
        usrCrea.Nombre as UsuarioCrea,        
        usrMod.Nombre as UsuarioModifica
    FROM tbAuxiliares a
    INNER JOIN tbAsociados s ON a.NumeroAsociado = s.NumeroAsociado
    left join tbTipoDocumentos td on td.CodTipoDoc = s.TipoIdentificacion
    LEFT JOIN tbRubros r ON a.CodigoRubro = r.CodigoRubro
    LEFT JOIN tbTiposAuxiliares ta ON a.TipoAuxiliar = ta.ID 
              AND a.CodigoRubro = ta.CodigoRubro
    left join tbUsuarios usrCrea on usrCrea.Id = a.UsuarioCrea    
    left join tbUsuarios usrMod on usrMod.Id = a.UsuarioModifica
    WHERE a.snEliminado = 0 and a.snActivo=1 AND s.snEliminado = 0
    ORDER BY a.ID DESC
END

GO
