USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarIntentoLogin]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedimiento para registrar intentos de login
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegistrarIntentoLogin]
    @Usuario NVARCHAR(50),
    @Exitoso BIT,
    @Mensaje NVARCHAR(200) = NULL,
    @DireccionIP NVARCHAR(45) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO dbo.tbLogAccesos (Usuario, Exitoso, Mensaje, DireccionIP)
    VALUES (@Usuario, @Exitoso, @Mensaje, @DireccionIP);
END
GO
