USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Sys_Hst_Reporte]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Sys_Hst_Reporte]
    @Mes INT,
    @Year INT,
    @Version INT,
    @Tabla NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tablaFrom NVARCHAR(MAX);
    DECLARE @sqlQuery NVARCHAR(MAX);
    DECLARE @mesFormateado NVARCHAR(MAX);

    -- Formatear el mes a 2 dígitos
    SET @mesFormateado = FORMAT(@Mes, '00');

    -- Construir el nombre de la tabla histórica
    SET @tablaFrom = '[sys.HST.' + @Tabla + '_' + 
                     CONVERT(NVARCHAR, @Year) + @mesFormateado + 
                     IIF(@Version > 0, '_' + CONVERT(NVARCHAR, @Version), '') + ']';

    -- Construir el query dinámico según la tabla seleccionada
    IF @Tabla = 'tbAsientos'
    BEGIN
        SET @sqlQuery = '
        SELECT 
            A.[ID] AS [ID Asiento],
            CONVERT(VARCHAR(10), A.[Fecha], 103) AS [Fecha del Asiento],
            FORMAT(A.[Fecha], ''hh:mm:ss tt'') AS [Hora del Asiento],
            A.[CodTipoAsiento] AS [Código Tipo Asiento],
            TA.[TipoAsiento] AS [Tipo de Asiento],
            A.[BaseID] AS [ID Base],
            A.[Cuenta] AS [Código de Cuenta],
            IsNull(C.[Nombre],''-'') AS [Nombre de la Cuenta],
            FORMAT(IsNull(A.[Debito], 0), ''N2'')  AS [Débito],
            FORMAT(IsNull(A.[Credito], 0), ''N2'') AS [Crédito],
            A.[Memo] AS [Comentario],
            CASE WHEN A.[snEliminado] = 1 THEN ''SI'' ELSE ''NO'' END AS [¿Eliminado?]
        FROM ' + @tablaFrom + ' A
        LEFT JOIN [dbo].[tbTipoAsiento] TA ON A.[CodTipoAsiento] = TA.[CodTipoAsiento]
        LEFT JOIN [dbo].[tbCuentas] C ON A.[Cuenta] = C.[Cuenta]'
    END
    ELSE IF @Tabla = 'tbAsociados'
    BEGIN
        SET @sqlQuery = N'
        SELECT 
            A.[NumeroAsociado] AS [Número de Asociado],
            A.[IdTipoAsociado] AS [ID Tipo de Asociado],
            TA.[CodTipoAsociado] AS [Código Tipo Asociado],
            TA.[TipoAsociado] AS [Tipo de Asociado],
            A.[Nombre] AS [Primer Nombre],
            A.[SegundoNombre] AS [Segundo Nombre],
            A.[Apellido] AS [Primer Apellido],
            A.[SegundoApellido] AS [Segundo Apellido],
            A.[Sexo] AS [Sexo],
            A.[Estatus] AS [Estatus],
            A.[TipoIdentificacion] AS [Código Tipo Documento],
            TD.[TipoDocumento] AS [Tipo de Documento],
            A.[NumeroIdentificacion] AS [Número de Identificación],
            CONVERT(VARCHAR(10), A.[FechaNacimiento], 103) AS [Fecha de Nacimiento],
            A.[TelefonoCelular] AS [Teléfono Celular],
            A.[TelefonoResidencia] AS [Teléfono Residencia],
            A.[TelefonoFamiliar] AS [Teléfono Familiar],
            A.[CorreoElectronico] AS [Correo Electrónico],
            A.[TelefonoTrabajo] AS [Teléfono Trabajo],
            A.[PaisResidencia] AS [Código País Residencia],
            PR.[Descripcion] AS [País de Residencia],
            A.[ProvinciaResidencia] AS [Código Provincia Residencia],
            PRV_R.[Descripcion] AS [Provincia de Residencia],
            A.[DistritoResidencia] AS [Código Distrito Residencia],
            DR.[Descripcion] AS [Distrito de Residencia],
            A.[CorregimientoResidencia] AS [Código Corregimiento Residencia],
            CR.[Descripcion] AS [Corregimiento de Residencia],
            A.[DireccionResidencia] AS [Dirección de Residencia],
            A.[LugarTrabajo] AS [Código Empresa],
            E.[Descripcion] AS [Empresa o Lugar de Trabajo],
            A.[Ocupacion] AS [Código Ocupación],
            O.[Descripcion] AS [Ocupación],
            A.[PaisTrabajo] AS [Código País Trabajo],
            PT.[Descripcion] AS [País de Trabajo],
            A.[ProvinciaTrabajo] AS [Código Provincia Trabajo],
            PRV_T.[Descripcion] AS [Provincia de Trabajo],
            A.[DistritoTrabajo] AS [Código Distrito Trabajo],
            DT.[Descripcion] AS [Distrito de Trabajo],
            A.[CorregimientoTrabajo] AS [Código Corregimiento Trabajo],
            CT.[Descripcion] AS [Corregimiento de Trabajo],
            A.[DireccionTrabajo] AS [Dirección de Trabajo],
            A.[NivelEstudio] AS [Código Nivel de Estudio],
            NE.[Descripcion] AS [Nivel de Estudio],
            A.[Profesion] AS [Código Profesión],
            P.[Descripcion] AS [Profesión],
            CONVERT(VARCHAR(10), A.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(A.[FechaCreacion], ''hh:mm:ss tt'') AS [Hora de Creación],
            A.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],
            CONVERT(VARCHAR(10), A.[FechaModificacion], 103) AS [Fecha de Modificación],
            FORMAT(A.[FechaModificacion], ''hh:mm:ss tt'') AS [Hora de Modificación],
            A.[UsuarioModifica] AS [ID Usuario Modifica],
            UM.[Usuario] AS [Usuario que Modifica],
            A.[UsuarioElimina] AS [ID Usuario Elimina],
            UE.[Usuario] AS [Usuario que Elimina],
            CONVERT(VARCHAR(10), A.[FechaElimina], 103) AS [Fecha de Eliminación],
            FORMAT(A.[FechaElimina], ''hh:mm:ss tt'') AS [Hora de Eliminación],
            CASE WHEN A.[snEliminado] = 1 THEN ''SI'' ELSE ''NO'' END AS [¿Eliminado?]
        FROM ' + @tablaFrom + ' A
        LEFT JOIN [dbo].[tbTipoAsociado] TA ON A.[IdTipoAsociado] = TA.[IdTipoAsociado]
        LEFT JOIN [dbo].[tbTipoDocumentos] TD ON A.[TipoIdentificacion] = TD.[CodTipoDoc]
        LEFT JOIN [dbo].[tbProfesiones] P ON A.[Profesion] = P.[Code]
        LEFT JOIN [dbo].[tbOcupaciones] O ON A.[Ocupacion] = O.[Code]
        LEFT JOIN [dbo].[tbNivelesEstudio] NE ON A.[NivelEstudio] = NE.[Code] 
        LEFT JOIN [dbo].[tbEmpresas] E ON A.[LugarTrabajo] = E.[Code]
        LEFT JOIN [dbo].[tbPaises] PT ON A.[PaisTrabajo] = PT.[Code]
        LEFT JOIN [dbo].[tbPaises] PR ON A.[PaisResidencia] = PR.[Code]
        LEFT JOIN [dbo].[tbProvincias] PRV_T ON A.[ProvinciaTrabajo] = PRV_T.[Code] 
        LEFT JOIN [dbo].[tbProvincias] PRV_R ON A.[ProvinciaResidencia] = PRV_R.[Code]
        LEFT JOIN [dbo].[tbDistritos] DT ON A.[DistritoTrabajo] = DT.[Code] AND DT.[CodeProvincia] = A.[ProvinciaTrabajo] AND DT.[CodePais] = A.[PaisTrabajo] 
        LEFT JOIN [dbo].[tbDistritos] DR ON A.[DistritoResidencia] = DR.[Code] AND DR.[CodeProvincia] = A.[ProvinciaResidencia] AND DR.[CodePais] = A.[PaisResidencia] 
        LEFT JOIN [dbo].[tbCorregimientos] CT ON A.[CorregimientoTrabajo] = CT.[Code] AND CT.[CodeProvincia] = A.[ProvinciaTrabajo] AND CT.[CodeDistrito] = A.[DistritoTrabajo] AND CT.[CodePais] = A.[PaisTrabajo] 
        LEFT JOIN [dbo].[tbCorregimientos] CR ON A.[CorregimientoResidencia] = CR.[Code] AND CR.[CodeProvincia] = A.[ProvinciaResidencia] AND CR.[CodeDistrito] = A.[DistritoResidencia] AND CR.[CodePais] = A.[PaisResidencia]
        LEFT JOIN [dbo].[tbUsuarios] UC ON A.[UsuarioCrea] = UC.[Id] 
        LEFT JOIN [dbo].[tbUsuarios] UM ON A.[UsuarioModifica] = UM.[Id] 
        LEFT JOIN [dbo].[tbUsuarios] UE ON A.[UsuarioElimina] = UE.[Id]'
    END
    ELSE IF @Tabla = 'tbAuxiliares'
    BEGIN
        SET @sqlQuery = '
        SELECT 
            A.[ID] AS [ID Auxiliar],
            A.[NumeroAsociado] AS [Número de Asociado],
            A.[CodigoRubro] AS [Código Rubro],
            R.[Descripcion] AS [Rubro],
            A.[TipoAuxiliar] AS [ID Tipo Auxiliar],
            TA.[Descripcion] AS [Tipo Auxiliar],
            FORMAT(A.[Cuota], ''C'') AS [Cuota],
            FORMAT(A.[Saldo], ''C'') AS [Saldo],
            CONVERT(VARCHAR(10), A.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(A.[FechaCreacion], ''hh:mm:ss tt'') AS [Hora de Creación],
            CONVERT(VARCHAR(10), A.[FechaModificacion], 103) AS [Fecha de Modificación],
            FORMAT(A.[FechaModificacion], ''hh:mm:ss tt'') AS [Hora de Modificación],
            A.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],
            A.[UsuarioModifica] AS [ID Usuario Modifica],
            UM.[Usuario] AS [Usuario que Modifica],
            FORMAT(A.[MontoOriginal], ''C'') AS [Monto Original],
            CONVERT(VARCHAR(10), A.[FechaOtorgado], 103) AS [Fecha de Otorgamiento],
            FORMAT(A.[FechaOtorgado], ''hh:mm:ss tt'') AS [Hora de Otorgamiento],
            FORMAT(A.[TasaInteres], ''N2'') AS [Tasa de Interés],
            FORMAT(A.[PagoMes], ''C'') AS [Pago Mensual],
            FORMAT(A.[InteresCalculado], ''C'') AS [Interés Calculado],
            FORMAT(A.[InteresPagado], ''C'') AS [Interés Pagado],
            CONVERT(VARCHAR(10), A.[FechaUltimoPago], 103) AS [Fecha Último Pago],
            FORMAT(A.[FechaUltimoPago], ''hh:mm:ss tt'') AS [Hora Último Pago],
            CONVERT(VARCHAR(10), A.[FechaUltimoRetiro], 103) AS [Fecha Último Retiro],
            FORMAT(A.[FechaUltimoRetiro], ''hh:mm:ss tt'') AS [Hora Último Retiro],
            CASE WHEN A.[snEliminado] = 1 THEN ''SI'' ELSE ''NO'' END AS [¿Eliminado?],
            FORMAT(A.[MontoPignorado], ''C'') AS [Monto Pignorado],
            A.[UsuarioElimina] AS [ID Usuario Elimina],
            UE.[Usuario] AS [Usuario que Elimina],
            CONVERT(VARCHAR(10), A.[FechaElimina], 103) AS [Fecha de Eliminación],
            FORMAT(A.[FechaElimina], ''hh:mm:ss tt'') AS [Hora de Eliminación]
        FROM ' + @tablaFrom + ' A
        LEFT JOIN [dbo].[tbRubros] R ON A.[CodigoRubro] = R.[CodigoRubro] 
        LEFT JOIN [dbo].[tbTiposAuxiliares] TA ON A.[TipoAuxiliar] = TA.[ID] 
        LEFT JOIN [dbo].[tbUsuarios] UC ON A.[UsuarioCrea] = UC.[Id] 
        LEFT JOIN [dbo].[tbUsuarios] UM ON A.[UsuarioModifica] = UM.[Id] 
        LEFT JOIN [dbo].[tbUsuarios] UE ON A.[UsuarioElimina] = UE.[Id]'
    END
    ELSE IF @Tabla = 'tbMovimientos'
    BEGIN
        SET @sqlQuery = '
        SELECT 
            M.[IDMovimiento] AS [ID Movimiento],
            CONVERT(VARCHAR(10), M.[FechaMovimiento], 103) AS [Fecha del Movimiento],
            FORMAT(M.[FechaMovimiento], ''hh:mm:ss tt'') AS [Hora del Movimiento],
            FORMAT(M.[Monto], ''C'') AS [Monto],
            FORMAT(M.[Saldo], ''C'') AS [Saldo],
            M.[Observaciones] AS [Observaciones],
            M.[NumeroAsociado] AS [Número de Asociado],
            A.[Nombre] + '' '' + A.[Apellido] AS [Nombre Completo],
            A.[NumeroIdentificacion] AS [Número de Identificación],
            M.[CodigoRubro] AS [Código Rubro],
            R.[Descripcion] AS [Rubro],
            M.[CodigoTransaccion] AS [Código Transacción],
            T.[Descripcion] AS [Transacción],
            CONVERT(VARCHAR(10), M.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(M.[FechaCreacion], ''hh:mm:ss tt'') AS [Hora de Creación],
            M.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],
            CONVERT(VARCHAR(10), M.[FechaActualizado], 103) AS [Fecha de Actualización],
            FORMAT(M.[FechaActualizado], ''hh:mm:ss tt'') AS [Hora de Actualización],
            M.[UsuarioActualiza] AS [ID Usuario Actualiza],
            UA.[Usuario] AS [Usuario que Actualiza],
            CASE WHEN M.[snEliminado] = 1 THEN ''SI'' ELSE ''NO'' END AS [¿Eliminado?],
            CASE WHEN M.[snImpreso] = 1 THEN ''SI'' ELSE ''NO'' END AS [¿Impreso?]
        FROM ' + @tablaFrom + ' M
        LEFT JOIN [dbo].[tbAsociados] A 
            ON M.[NumeroAsociado] = A.[NumeroAsociado] 
        LEFT JOIN [dbo].[tbRubros] R 
            ON M.[CodigoRubro] = R.[CodigoRubro]
        LEFT JOIN [dbo].[tbCodigosTransaccion] T 
            ON M.[CodigoTransaccion] = T.[CodigoTransaccion] AND M.[CodigoRubro] = T.[CodigoRubro]
        LEFT JOIN [dbo].[tbUsuarios] UC 
            ON M.[UsuarioCrea] = UC.[Id] 
        LEFT JOIN [dbo].[tbUsuarios] UA 
            ON M.[UsuarioActualiza] = UA.[Id]'
    END
    ELSE
    BEGIN
        RAISERROR('Tabla no válida. Las opciones son: tbAsientos, tbAsociados, tbAuxiliares, tbMovimientos', 16, 1);
        RETURN;
    END

    -- Ejecutar el query dinámico
    BEGIN TRY
       EXEC sp_executesql @sqlQuery;
       --select @sqlQuery;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR('Error al ejecutar el reporte histórico: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END


GO
