USE [SegmaDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnAuditoria_ObtenerParentesco]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[fnAuditoria_ObtenerParentesco](@IDParentezco INT)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Descripcion NVARCHAR(200)
    
    SELECT @Descripcion = Parentezco + ' (' + CAST(IDParentezco AS NVARCHAR(10)) + ')'
    FROM tbParentezcos 
    WHERE IDParentezco = @IDParentezco
    
    RETURN ISNULL(@Descripcion, 'N/A (' + CAST(ISNULL(@IDParentezco, 0) AS NVARCHAR(10)) + ')')
END
GO
