USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spCuentas_Obtener]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author: Sistema SemgaWapp
-- Create date: 2024
-- Description: Obtener una cuenta por ID
-- =============================================
CREATE PROCEDURE [dbo].[spCuentas_Obtener]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            ID,
            Cuenta,
            Nombre,
            IDGrupo,
            Saldo
        FROM tbCuentas
        WHERE ID = @ID
            AND snEliminado = 0;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
