USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spReportes_Auxiliares]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spReportes_Auxiliares]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            A.[ID] AS [ID Auxiliar],
            A.[NumeroAsociado] AS [Número de Asociado],
            A.[CodigoRubro] AS [Código Rubro],
            R.[Descripcion] AS [Rubro],
            A.[TipoAuxiliar] AS [ID Tipo Auxiliar],
            TA.[Descripcion] AS [Tipo Auxiliar],
            FORMAT(A.[Cuota], 'C') AS [Cuota],
            FORMAT(A.[Saldo], 'C') AS [Saldo],

            CONVERT(VARCHAR(10), A.[FechaCreacion], 103) AS [Fecha de Creación],
            FORMAT(A.[FechaCreacion], 'hh:mm:ss tt') AS [Hora de Creación],
            CONVERT(VARCHAR(10), A.[FechaModificacion], 103) AS [Fecha de Modificación],
            FORMAT(A.[FechaModificacion], 'hh:mm:ss tt') AS [Hora de Modificación],

            A.[UsuarioCrea] AS [ID Usuario Crea],
            UC.[Usuario] AS [Usuario que Crea],
            A.[UsuarioModifica] AS [ID Usuario Modifica],
            UM.[Usuario] AS [Usuario que Modifica],

            FORMAT(A.[MontoOriginal], 'C') AS [Monto Original],
            CONVERT(VARCHAR(10), A.[FechaOtorgado], 103) AS [Fecha de Otorgamiento],
            FORMAT(A.[FechaOtorgado], 'hh:mm:ss tt') AS [Hora de Otorgamiento],

            FORMAT(A.[TasaInteres], 'N2') AS [Tasa de Interés],
            FORMAT(A.[PagoMes], 'C') AS [Pago Mensual],
            FORMAT(A.[InteresCalculado], 'C') AS [Interés Calculado],
            FORMAT(A.[InteresPagado], 'C') AS [Interés Pagado],

            CONVERT(VARCHAR(10), A.[FechaUltimoPago], 103) AS [Fecha Último Pago],
            FORMAT(A.[FechaUltimoPago], 'hh:mm:ss tt') AS [Hora Último Pago],
            CONVERT(VARCHAR(10), A.[FechaUltimoRetiro], 103) AS [Fecha Último Retiro],
            FORMAT(A.[FechaUltimoRetiro], 'hh:mm:ss tt') AS [Hora Último Retiro],

            CASE WHEN A.[snActivo] = 1 THEN 'SI' ELSE 'NO' END AS [¿Activo?],
            CASE WHEN A.[snEliminado] = 1 THEN 'SI' ELSE 'NO' END AS [¿Eliminado?],
            FORMAT(A.[MontoPignorado], 'C') AS [Monto Pignorado],

            A.[UsuarioElimina] AS [ID Usuario Elimina],
            UE.[Usuario] AS [Usuario que Elimina],
            CONVERT(VARCHAR(10), A.[FechaElimina], 103) AS [Fecha de Eliminación],
            FORMAT(A.[FechaElimina], 'hh:mm:ss tt') AS [Hora de Eliminación]
        FROM [dbo].[tbAuxiliares] A
        LEFT JOIN [dbo].[tbRubros] R ON A.[CodigoRubro] = R.[CodigoRubro] AND R.[snEliminado] = 0
        LEFT JOIN [dbo].[tbTiposAuxiliares] TA ON A.[TipoAuxiliar] = TA.[ID] AND TA.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UC ON A.[UsuarioCrea] = UC.[Id] AND UC.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UM ON A.[UsuarioModifica] = UM.[Id] AND UM.[snEliminado] = 0
        LEFT JOIN [dbo].[tbUsuarios] UE ON A.[UsuarioElimina] = UE.[Id] AND UE.[snEliminado] = 0
        WHERE A.[snEliminado] = 0
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
