USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spCorregimientos_Listar]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spCorregimientos_Listar]
    @Code INT = NULL,
    @CodePais NVARCHAR(3) = NULL,
    @CodeProvincia INT = NULL,
    @CodeDistrito INT = NULL,
    @Descripcion NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            c.ID,
            c.Code,
            c.CodePais,
            c.CodeProvincia,
            c.CodeDistrito,
            c.Descripcion,
            c.snEliminado,
            p.Descripcion AS PaisDescripcion,
            pr.Descripcion AS ProvinciaDescripcion,
            d.Descripcion AS DistritoDescripcion
        FROM tbCorregimientos c
        LEFT JOIN tbPaises p ON c.CodePais = p.Code AND p.snEliminado = 0
        LEFT JOIN tbProvincias pr ON c.CodeProvincia = pr.Code AND c.CodePais = pr.CodePais AND pr.snEliminado = 0
        LEFT JOIN tbDistritos d ON c.CodeDistrito = d.Code 
        --AND c.CodePais = d.CodePais AND c.CodeProvincia = d.CodeProvincia AND d.snEliminado = 0
        WHERE c.snEliminado = 0
            AND (@Code IS NULL OR c.Code = @Code)
            AND (@CodePais IS NULL OR c.CodePais = @CodePais)
            AND (@CodeProvincia IS NULL OR c.CodeProvincia = @CodeProvincia)
            AND (@CodeDistrito IS NULL OR c.CodeDistrito = @CodeDistrito)
            AND (@Descripcion IS NULL OR c.Descripcion LIKE '%' + @Descripcion + '%')
        ORDER BY c.CodePais, c.CodeProvincia, c.CodeDistrito, c.Code
    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END
GO
