USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spAuxiliares_CalcularIntereses]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spAuxiliares_CalcularIntereses]
    @NumeroAsociado INT = NULL,
    @IdAuxiliar INT = NULL,
    @UsuarioID INT=0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessages VARCHAR(MAX) = '';

    -- 1. Llenar tabla temporal con préstamos pendientes
    SELECT 
        a.ID,
        a.NumeroAsociado,
        a.Saldo,
        a.TasaInteres,
        a.FechaUltCalculoInteres,
        a.InteresCalculado,
        a.InteresPagado,
        ROW_NUMBER() OVER (ORDER BY a.ID) AS RowNumber
    INTO #Pendientes
    FROM dbo.tbAuxiliares AS a
    WHERE a.snEliminado = 0
      AND a.CodigoRubro = 'PR'
      AND (a.FechaUltCalculoInteres IS NULL 
           OR DATEDIFF(day, a.FechaUltCalculoInteres, GETDATE()) > 0)
      AND (@IdAuxiliar IS NULL OR a.ID = @IdAuxiliar)
      AND (@NumeroAsociado IS NULL OR a.NumeroAsociado = @NumeroAsociado);

    DECLARE @TotalRows INT = (SELECT COUNT(*) FROM #Pendientes);
    DECLARE @CurrentRowNumber INT = 1;

    -- 2. Recorrer con WHILE
    WHILE @CurrentRowNumber <= @TotalRows
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            DECLARE 
                @AuxiliarID INT, 
                @Saldo NUMERIC(19,6), 
                @Tasa NUMERIC(19,6), 
                @FechaUlt DATE,
                @InteresAcumulado NUMERIC(19,6),
                @InteresPagado NUMERIC(19,6);

            SELECT 
                @AuxiliarID = ID, 
                @Saldo = Saldo, 
                @Tasa = TasaInteres, 
                @FechaUlt = FechaUltCalculoInteres,
                @InteresAcumulado = InteresCalculado,
                @InteresPagado = InteresPagado
            FROM #Pendientes 
            WHERE RowNumber = @CurrentRowNumber;

            DECLARE @DiasTranscurridos INT = DATEDIFF(day, ISNULL(@FechaUlt, GETDATE()), GETDATE());
            DECLARE @InteresGenerado NUMERIC(19,6) = (@Saldo * @Tasa/100) * @DiasTranscurridos / 3000;

            -- 3. Actualizar auxiliar
            UPDATE dbo.tbAuxiliares
            SET InteresCalculado = ISNULL(InteresCalculado,0) + @InteresGenerado,
                FechaUltCalculoInteres = CAST(GETDATE() AS date),
                FechaModificacion = GETDATE(),
                UsuarioModifica = @UsuarioID
            WHERE ID = @AuxiliarID;

            -- 4. Insertar histórico con interés acumulado previo
            INSERT INTO dbo.tbAuxiliares_Intereses
                (IDAuxiliar, FechaCalculo, FechaUltCalculo, SaldoAFecha, 
                 InteresCalculadoAFecha, InteresPagadoAFecha, DiasIntereses, 
                 Tasa, InteresCalculado, Usuario)
            VALUES
                (@AuxiliarID, 
                 GETDATE(), 
                 @FechaUlt, 
                 @Saldo, 
                 ISNULL(@InteresAcumulado,0),   -- acumulado antes del nuevo cálculo
                 ISNULL(@InteresPagado,0), 
                 @DiasTranscurridos, 
                 @Tasa, 
                 @InteresGenerado, 
                 @UsuarioID);

            COMMIT TRANSACTION;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;

            SET @ErrorMessages += CONCAT('Error en auxiliar ', ISNULL(@AuxiliarID,'?'), ': ', ERROR_MESSAGE(), CHAR(13));
        END CATCH

        SET @CurrentRowNumber += 1;
    END

    DROP TABLE #Pendientes;

    -- 5. Resultado final: solo mostrar errores
    SET @ReturnMessage = @ErrorMessages;
END

GO
