USE [SegmaDB]
GO
/****** Object:  Table [dbo].[sys.HST.Historiales]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys.HST.Historiales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [nvarchar](100) NULL,
	[FechaHora] [datetime] NULL,
	[Mes] [int] NULL,
	[Año] [int] NULL,
	[TablaHistorial] [nvarchar](200) NULL,
	[Version] [int] NULL,
	[Registros] [int] NULL,
	[Resultado] [nvarchar](max) NULL,
	[UsuarioCrea] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
