USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spTiposAuxiliares_Eliminar]    Script Date: 24/dic/2025 03:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTiposAuxiliares_Eliminar]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Resultado VARCHAR(20) = 'ERROR';
    DECLARE @Mensaje VARCHAR(500) = '';
    
    BEGIN TRY
        -- Validar que existe
        IF NOT EXISTS (SELECT 1 FROM tbTiposAuxiliares WHERE ID = @ID AND snEliminado = 0)
        BEGIN
            SET @Mensaje = 'El tipo auxiliar no existe o ya fue eliminado';
            GOTO FINAL;
        END

         -- Validar que no esté en uso
        IF  EXISTS (SELECT 1 FROM tbAuxiliares WHERE TipoAuxiliar = @ID AND snEliminado = 0)
        BEGIN
            SET @Mensaje = 'El tipo auxiliar está en uso. No se puede eliminar';
            GOTO FINAL;
        END
        
        -- Soft delete
        UPDATE tbTiposAuxiliares 
        SET snEliminado = 1 
        WHERE ID = @ID;
        
        SET @Resultado = 'SUCCESS';
        SET @Mensaje = 'Tipo auxiliar eliminado exitosamente';
        
    END TRY
    BEGIN CATCH
        SET @Mensaje = 'Error en la base de datos: ' + ERROR_MESSAGE();
    END CATCH
    
    FINAL:
    SELECT @Resultado AS Resultado, @Mensaje AS Mensaje;
END
GO
