USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbMovimientos_backup_202501]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMovimientos_backup_202501](
	[IDMovimiento] [int] NOT NULL,
	[NumeroAsociado] [int] NULL,
	[CodigoRubro] [varchar](5) NULL,
	[IDAuxiliar] [int] NULL,
	[CodigoTransaccion] [varchar](10) NULL,
	[FechaMovimiento] [datetime] NULL,
	[Monto] [numeric](18, 2) NULL,
	[Saldo] [numeric](18, 2) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCrea] [int] NULL,
	[FechaActualizado] [datetime] NULL,
	[UsuarioActualiza] [int] NULL,
	[snEliminado] [bit] NULL,
	[snImpreso] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
