USE [SegmaDB]
GO
/****** Object:  Table [dbo].[tbLogsAuditoria]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLogsAuditoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TablaAfectada] [nvarchar](100) NOT NULL,
	[RegistroId] [nvarchar](50) NOT NULL,
	[Operacion] [char](1) NOT NULL,
	[UsuarioId] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[JsonPrevio] [nvarchar](max) NULL,
	[JsonPosterior] [nvarchar](max) NULL,
	[ServidorInfo] [nvarchar](max) NULL,
	[Comentarios] [nvarchar](500) NULL,
	[IDSesion] [varchar](50) NULL,
 CONSTRAINT [PK_tbLogsAuditoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
