USE [SegmaDB]
GO
/****** Object:  Table [dbo].[sys.HST.Tablas]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys.HST.Tablas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [nvarchar](100) NULL,
	[snActivo] [bit] NULL
) ON [PRIMARY]
GO
