USE [SegmaDB]
GO
/****** Object:  StoredProcedure [dbo].[spDistritos_ObtenerSiguienteCodigo]    Script Date: 24/dic/2025 03:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spDistritos_ObtenerSiguienteCodigo]
    @CodePais NVARCHAR(3),
    @CodeProvincia INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Obtener el máximo código de distritos de toda la tabla
        DECLARE @MaxCode INT = 0
        
        SELECT @MaxCode = ISNULL(MAX(Code), 0)
        FROM tbDistritos
        WHERE snEliminado = 0
        
        -- Retornar el siguiente código (máximo + 1, o 1 si no hay distritos)
        SELECT ISNULL(@MaxCode + 1, 1) AS SiguienteCodigo
        
    END TRY
    BEGIN CATCH
        SELECT 1 AS SiguienteCodigo
    END CATCH
END
GO
