CREATE OR ALTER PROCEDURE dbo.sp_sys_HST_GenerarHistorialMensual
    @FechaCierre DATE = NULL,
    @TablasFiltro NVARCHAR(MAX) = NULL,
    @Usuario INT = 0,
    @snBat BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    ---------------------------------------------------------
    -- VARIABLES
    ---------------------------------------------------------
    DECLARE
        @Hoy DATE = CAST(GETDATE() AS DATE),
        @EsUltimoDiaMes BIT,
        @MesObjetivo INT,
        @AnioObjetivo INT,
        @ResultadoUltimo CHAR(1),

        @LogH_ID INT,
        @FechaInicioProceso DATETIME2(0) = SYSDATETIME(),

        @TablaID INT,
        @TablaNombre NVARCHAR(100),
        @TablaHist NVARCHAR(200),
        @Version INT,
        @Regs INT,
        @ResultadoCore NVARCHAR(MAX),

        @FechaCierreProceso DATE;

    ---------------------------------------------------------
    -- FECHA BASE
    ---------------------------------------------------------
    IF @FechaCierre IS NULL
        SET @FechaCierre = @Hoy;

    ---------------------------------------------------------
    -- MODO MANUAL
    ---------------------------------------------------------
    IF @snBat = 0
    BEGIN
        DECLARE curManual CURSOR LOCAL FAST_FORWARD FOR
        SELECT Tabla
        FROM dbo.[sys.HST.Tablas]
        WHERE snActivo = 1
          AND (
                @TablasFiltro IS NULL
                OR EXISTS (SELECT 1 FROM OPENJSON(@TablasFiltro) WHERE value = Tabla)
              );

        OPEN curManual;
        FETCH NEXT FROM curManual INTO @TablaNombre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.sp_sys_HST_GenerarHistorial_CreaTabla
                @TablaNombre = @TablaNombre,
                @FechaCierre = @FechaCierre,
                @Usuario = @Usuario,
                @TablaHistorialCreada = @TablaHist OUTPUT,
                @VersionCreada = @Version OUTPUT,
                @RegistrosCopiados = @Regs OUTPUT,
                @Resultado = @ResultadoCore OUTPUT;

            FETCH NEXT FROM curManual INTO @TablaNombre;
        END

        CLOSE curManual;
        DEALLOCATE curManual;
        RETURN;
    END

    ---------------------------------------------------------
    -- REGLA DE CALENDARIO BAT
    ---------------------------------------------------------
    SET @EsUltimoDiaMes = CASE WHEN @Hoy = EOMONTH(@Hoy) THEN 1 ELSE 0 END;

    IF @EsUltimoDiaMes = 1
    BEGIN
        SET @MesObjetivo  = MONTH(@Hoy);
        SET @AnioObjetivo = YEAR(@Hoy);
    END
    ELSE
    BEGIN
        SET @MesObjetivo  = MONTH(DATEADD(MONTH, -1, @Hoy));
        SET @AnioObjetivo = YEAR(DATEADD(MONTH, -1, @Hoy));
    END

    ---------------------------------------------------------
    -- VALIDAR ÚLTIMA EJECUCIÓN
    ---------------------------------------------------------
    SELECT TOP 1
        @ResultadoUltimo = Resultado
    FROM dbo.tbLogProcesosAutomaticos_H
    WHERE ProcName = 'sp_sys_HST_GenerarHistorialMensual'
      AND Mes = @MesObjetivo
      AND Año = @AnioObjetivo
    ORDER BY FechaInicio DESC;

    IF (@EsUltimoDiaMes = 1 AND @ResultadoUltimo = 'S')
       OR (@EsUltimoDiaMes = 0 AND (@ResultadoUltimo IS NULL OR @ResultadoUltimo = 'S'))
        RETURN;

    ---------------------------------------------------------
    -- FECHA DE CIERRE DEL PROCESO (SIN EXPRESIONES)
    ---------------------------------------------------------
    SET @FechaCierreProceso = DATEFROMPARTS(@AnioObjetivo, @MesObjetivo, 1);

    ---------------------------------------------------------
    -- CABECERA LOG
    ---------------------------------------------------------
    INSERT INTO dbo.tbLogProcesosAutomaticos_H
        (ProcName, Mes, Año, FechaInicio)
    VALUES
        ('sp_sys_HST_GenerarHistorialMensual',
         @MesObjetivo,
         @AnioObjetivo,
         @FechaInicioProceso);

    SET @LogH_ID = SCOPE_IDENTITY();

    ---------------------------------------------------------
    -- CURSOR DE TABLAS
    ---------------------------------------------------------
    DECLARE curTablas CURSOR LOCAL FAST_FORWARD FOR
    SELECT ID, Tabla
    FROM dbo.[sys.HST.Tablas]
    WHERE snActivo = 1
      AND (
            @TablasFiltro IS NULL
            OR EXISTS (SELECT 1 FROM OPENJSON(@TablasFiltro) WHERE value = Tabla)
          );

    OPEN curTablas;
    FETCH NEXT FROM curTablas INTO @TablaID, @TablaNombre;

    ---------------------------------------------------------
    -- TRANSACCIÓN GLOBAL
    ---------------------------------------------------------
    BEGIN TRY
        BEGIN TRANSACTION;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.sp_sys_HST_GenerarHistorial_CreaTabla
                @TablaNombre = @TablaNombre,
                @FechaCierre = @FechaCierreProceso,
                @Usuario = @Usuario,
                @TablaHistorialCreada = @TablaHist OUTPUT,
                @VersionCreada = @Version OUTPUT,
                @RegistrosCopiados = @Regs OUTPUT,
                @Resultado = @ResultadoCore OUTPUT;

            FETCH NEXT FROM curTablas INTO @TablaID, @TablaNombre;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = SYSDATETIME(),
            Resultado = 'E',
            Mensaje = ERROR_MESSAGE()
        WHERE LogH_ID = @LogH_ID;

        CLOSE curTablas;
        DEALLOCATE curTablas;

        THROW;
    END CATCH

    ---------------------------------------------------------
    -- CERRAR CURSOR SIEMPRE
    ---------------------------------------------------------
    CLOSE curTablas;
    DEALLOCATE curTablas;

    ---------------------------------------------------------
    -- CERRAR CABECERA OK
    ---------------------------------------------------------
    UPDATE dbo.tbLogProcesosAutomaticos_H
    SET FechaFin = SYSDATETIME(),
        Resultado = 'S',
        Mensaje = 'Cierre mensual ejecutado correctamente'
    WHERE LogH_ID = @LogH_ID;

END
GO
