CREATE OR ALTER PROCEDURE [dbo].[spAuxiliares_CalcularIntereses]
    @NumeroAsociado INT = NULL,
    @IdAuxiliar INT = NULL,
    @UsuarioID INT = 0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaProceso DATE;
    SET @FechaProceso = CAST(GETDATE() AS DATE);

    ---------------------------------------------------------
    -- EJECUCIÓN DIRECTA DEL CORE (SIN BAT, SIN HISTÓRICO)
    ---------------------------------------------------------
    EXEC dbo.spInteresesPR_Calcular
        @NumeroAsociado = @NumeroAsociado,
        @IdAuxiliar     = @IdAuxiliar,
        @UsuarioID      = @UsuarioID,
        @FechaProceso   = @FechaProceso,
        @ReturnMessage  = @ReturnMessage OUTPUT;
END
GO
