DROP PROCEDURE IF EXISTS dbo.spSocios_CalcularSostenibilidad;
GO

CREATE OR ALTER PROCEDURE dbo.spBatSocios_CalcularSostenibilidad
    @UsuarioID INT = 0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @LogH_ID INT,
        @NumeroAsociado INT,
        @MesProceso INT,
        @AnioProceso INT,
        @MesObjetivo INT,
        @AnioObjetivo INT,
        @FechaCorrida DATE,
        @MensajeMov NVARCHAR(MAX),
        @FechaInicioProceso DATETIME2(0) = SYSDATETIME(),
        @FechaFinProceso DATETIME2(0),
        @JsonDetalle NVARCHAR(MAX) = N'[]',
        @CantAsociados INT;

    ---------------------------------------------------------
    -- MES OBJETIVO = MES PASADO
    ---------------------------------------------------------
    SET @MesObjetivo  = MONTH(DATEADD(MONTH, -1, GETDATE()));
    SET @AnioObjetivo = YEAR(DATEADD(MONTH, -1, GETDATE()));

    ---------------------------------------------------------
    -- ÚLTIMA CABECERA EXITOSA
    ---------------------------------------------------------
    SELECT TOP 1
        @MesProceso  = Mes,
        @AnioProceso = Año
    FROM dbo.tbLogProcesosAutomaticos_H
    WHERE ProcName = 'spBatSocios_CalcularSostenibilidad'
      AND Resultado = 'S'
    ORDER BY Año DESC, Mes DESC;

    IF @MesProceso = @MesObjetivo
       AND @AnioProceso = @AnioObjetivo
    BEGIN
        SET @ReturnMessage = 'Proceso ya se encuentra al día';
        RETURN;
    END

    IF @MesProceso IS NULL
    BEGIN
        SET @MesProceso  = @MesObjetivo;
        SET @AnioProceso = @AnioObjetivo;
    END
    ELSE
    BEGIN
        SET @MesProceso += 1;
        IF @MesProceso = 13
        BEGIN
            SET @MesProceso = 1;
            SET @AnioProceso += 1;
        END
    END

    ---------------------------------------------------------
    -- CABECERA NUEVA
    ---------------------------------------------------------
    INSERT INTO dbo.tbLogProcesosAutomaticos_H
        (ProcName, Mes, Año, FechaInicio)
    VALUES
        ('spBatSocios_CalcularSostenibilidad',
         @MesObjetivo,
         @AnioObjetivo,
         @FechaInicioProceso);

    SET @LogH_ID = SCOPE_IDENTITY();

    BEGIN TRY
        BEGIN TRANSACTION;

        ---------------------------------------------------------
        -- ASOCIADOS ACTIVOS
        ---------------------------------------------------------
        SELECT
            NumeroAsociado,
            ROW_NUMBER() OVER (ORDER BY NumeroAsociado) AS RowNumber
        INTO #Asociados
        FROM dbo.tbAsociados
        WHERE snEliminado = 0
          AND Estatus = 'A';

        DECLARE
            @TotalRows INT = (SELECT COUNT(*) FROM #Asociados),
            @Row INT = 1;

        ---------------------------------------------------------
        -- LOOP POR MESES
        ---------------------------------------------------------
        WHILE (@AnioProceso < @AnioObjetivo)
           OR (@AnioProceso = @AnioObjetivo AND @MesProceso <= @MesObjetivo)
        BEGIN
            SET @FechaCorrida =
                EOMONTH(DATEFROMPARTS(@AnioProceso, @MesProceso, 1));

            SET @Row = 1;

            WHILE @Row <= @TotalRows
            BEGIN
                SELECT
                    @NumeroAsociado = NumeroAsociado
                FROM #Asociados
                WHERE RowNumber = @Row;

                SET @MensajeMov = NULL;

                EXEC dbo.spGestionSocios_CrearCxCSostenibilidad
                    @NumeroAsociado = @NumeroAsociado,
                    @UsuarioID      = @UsuarioID,
                    @IdSession      = NULL,
                    @FechaCorrida   = @FechaCorrida,
                    @Mensaje        = @MensajeMov OUTPUT;

                IF ISNULL(@MensajeMov,'') <> ''
                    THROW 50000, @MensajeMov, 1;

                -------------------------------------------------
                -- LOG DETALLE (JSON)  ✅ CORREGIDO
                -------------------------------------------------
                SET @JsonDetalle =
                    JSON_MODIFY(
                        @JsonDetalle,
                        'append $',
                        JSON_QUERY(
                            (
                                SELECT
                                    @LogH_ID        AS LogH_ID,
                                    @NumeroAsociado AS RefID,
                                    'ASOCIADO'      AS RefTipo,
                                    @MesProceso     AS Mes,
                                    @AnioProceso    AS Año,
                                    CAST(SYSDATETIME() AS DATETIME2(0)) AS FechaInicio,
                                    CAST(SYSDATETIME() AS DATETIME2(0)) AS FechaFin,
                                    'S'             AS Resultado,
                                    'Sostenibilidad calculada correctamente' AS Mensaje
                                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                            )
                        )
                    );

                SET @Row += 1;
            END

            SET @MesProceso += 1;
            IF @MesProceso = 13
            BEGIN
                SET @MesProceso = 1;
                SET @AnioProceso += 1;
            END
        END

        COMMIT TRANSACTION;

        ---------------------------------------------------------
        -- MATERIALIZAR DETALLE
        ---------------------------------------------------------
        INSERT INTO dbo.tbLogProcesosAutomaticos_D
            (LogH_ID, RefID, RefTipo, Mes, Año, FechaInicio, FechaFin, Resultado, Mensaje)
        SELECT
            LogH_ID, RefID, RefTipo, Mes, Año,
            FechaInicio, FechaFin, Resultado, Mensaje
        FROM OPENJSON(@JsonDetalle)
        WITH (
            LogH_ID INT,
            RefID INT,
            RefTipo NVARCHAR(50),
            Mes INT,
            Año INT,
            FechaInicio DATETIME2(0),
            FechaFin DATETIME2(0),
            Resultado CHAR(1),
            Mensaje NVARCHAR(MAX)
        );

        ---------------------------------------------------------
        -- RESUMEN CABECERA
        ---------------------------------------------------------
        SELECT @CantAsociados = COUNT(DISTINCT RefID)
        FROM dbo.tbLogProcesosAutomaticos_D
        WHERE LogH_ID = @LogH_ID
          AND Resultado = 'S';

        SET @FechaFinProceso = SYSDATETIME();

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = @FechaFinProceso,
            Resultado = 'S',
            Mensaje = CONCAT(
                'Proceso BAT ejecutado correctamente. ',
                @CantAsociados,
                ' asociados trabajados con éxito.'
            )
        WHERE LogH_ID = @LogH_ID;

        SET @ReturnMessage = NULL;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @FechaFinProceso = SYSDATETIME();

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = @FechaFinProceso,
            Resultado = 'E',
            Mensaje = ERROR_MESSAGE()
        WHERE LogH_ID = @LogH_ID;

        SET @ReturnMessage = ERROR_MESSAGE();
    END CATCH
END
GO
