DROP PROCEDURE IF EXISTS dbo.spAuxiliares_CalcularInteresesAhorro;
GO

CREATE OR ALTER PROCEDURE dbo.spBatAuxiliares_CalcularInteresesAhorro
    @NumeroAsociado INT = NULL,
    @IdAuxiliar INT = NULL,
    @UsuarioID INT = 0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @LogH_ID INT,
        @AuxiliarID INT,
        @RowNumeroAsociado INT,
        @Saldo NUMERIC(19,6),
        @Tasa NUMERIC(19,6),
        @FechaUlt DATE,
        @InteresAcumulado NUMERIC(19,6),
        @CodRubro NVARCHAR(10),
        @CodTran NVARCHAR(10),
        @MesProceso INT,
        @AnioProceso INT,
        @MesObjetivo INT,
        @AnioObjetivo INT,
        @FechaProceso DATE,
        @InteresGenerado NUMERIC(19,6),
        @DiasTranscurridos INT,
        @MensajeMov NVARCHAR(MAX),
        @MovimientoID_Capital INT,
        @MovimientoID_Interes INT,
        @FechaInicioProceso DATETIME2(0) = SYSDATETIME(),
        @FechaFinProceso DATETIME2(0),
        @JsonDetalle NVARCHAR(MAX) = N'[]',
        @CantAuxiliares INT,
        @TablaHist NVARCHAR(200),
        @SQL NVARCHAR(MAX);

    ---------------------------------------------------------
    -- MES OBJETIVO = MES PASADO
    ---------------------------------------------------------
    SET @MesObjetivo  = MONTH(DATEADD(MONTH, -1, GETDATE()));
    SET @AnioObjetivo = YEAR(DATEADD(MONTH, -1, GETDATE()));

    ---------------------------------------------------------
    -- ÚLTIMA CABECERA EXITOSA
    ---------------------------------------------------------
    SELECT TOP 1
        @MesProceso  = Mes,
        @AnioProceso = Año
    FROM dbo.tbLogProcesosAutomaticos_H
    WHERE ProcName = 'spBatAuxiliares_CalcularInteresesAhorro'
      AND Resultado = 'S'
    ORDER BY Año DESC, Mes DESC;

    IF @MesProceso = @MesObjetivo
       AND @AnioProceso = @AnioObjetivo
    BEGIN
        SET @ReturnMessage = 'Proceso ya se encuentra al día';
        RETURN;
    END

    IF @MesProceso IS NULL
    BEGIN
        SET @MesProceso  = @MesObjetivo;
        SET @AnioProceso = @AnioObjetivo;
    END
    ELSE
    BEGIN
        SET @MesProceso += 1;
        IF @MesProceso = 13
        BEGIN
            SET @MesProceso = 1;
            SET @AnioProceso += 1;
        END
    END

    ---------------------------------------------------------
    -- CABECERA NUEVA
    ---------------------------------------------------------
    INSERT INTO dbo.tbLogProcesosAutomaticos_H
        (ProcName, Mes, Año, FechaInicio)
    VALUES
        ('spBatAuxiliares_CalcularInteresesAhorro',
         @MesObjetivo,
         @AnioObjetivo,
         @FechaInicioProceso);

    SET @LogH_ID = SCOPE_IDENTITY();

    BEGIN TRY
        ---------------------------------------------------------
        -- TRANSACCIÓN GLOBAL
        ---------------------------------------------------------
        BEGIN TRANSACTION;

        ---------------------------------------------------------
        -- AUXILIARES AHORRO
        ---------------------------------------------------------
        SELECT
            a.ID,
            a.NumeroAsociado,
            a.TasaInteres,
            ISNULL(a.FechaUltCalculoInteres, a.FechaOtorgado) AS FechaUltCalculoInteres,
            a.InteresCalculado,
            a.CodigoRubro,
            ROW_NUMBER() OVER (ORDER BY a.ID) AS RowNumber
        INTO #Pendientes
        FROM dbo.tbAuxiliares a
        WHERE ISNULL(a.snEliminado,0) = 0
          AND a.CodigoRubro = 'AH'
          AND ISNULL(a.snActivo,1) = 1
          AND (@IdAuxiliar IS NULL OR a.ID = @IdAuxiliar)
          AND (@NumeroAsociado IS NULL OR a.NumeroAsociado = @NumeroAsociado);

        DECLARE
            @TotalRows INT = (SELECT COUNT(*) FROM #Pendientes),
            @Row INT;

        ---------------------------------------------------------
        -- LOOP POR MESES
        ---------------------------------------------------------
        WHILE (@AnioProceso < @AnioObjetivo)
           OR (@AnioProceso = @AnioObjetivo AND @MesProceso <= @MesObjetivo)
        BEGIN
            SET @FechaProceso =
                EOMONTH(DATEFROMPARTS(@AnioProceso, @MesProceso, 1));

            -----------------------------------------------------
            -- TABLA HISTÓRICA (ÚLTIMA VERSIÓN)
            -----------------------------------------------------
            SELECT TOP 1
                @TablaHist = TablaHistorial
            FROM dbo.[sys.HST.Historiales]
            WHERE Tabla = 'tbAuxiliares'
              AND Mes = @MesProceso
              AND Año = @AnioProceso
            ORDER BY Version DESC;

            SET @Row = 1;

            -----------------------------------------------------
            -- LOOP AUXILIARES
            -----------------------------------------------------
            WHILE @Row <= @TotalRows
            BEGIN
                SELECT
                    @AuxiliarID       = ID,
                    @RowNumeroAsociado = NumeroAsociado,
                    @Tasa             = TasaInteres,
                    @FechaUlt         = FechaUltCalculoInteres,
                    @InteresAcumulado = InteresCalculado,
                    @CodRubro         = CodigoRubro
                FROM #Pendientes
                WHERE RowNumber = @Row;

                -------------------------------------------------
                -- SALDO: HISTÓRICO O ACTUAL
                -------------------------------------------------
                IF @TablaHist IS NOT NULL
                BEGIN
                    SET @SQL = N'
                        SELECT @SaldoOUT = Saldo
                        FROM ' + QUOTENAME(@TablaHist) + '
                        WHERE ID = @AuxID';

                    EXEC sp_executesql
                        @SQL,
                        N'@AuxID INT, @SaldoOUT NUMERIC(19,6) OUTPUT',
                        @AuxID = @AuxiliarID,
                        @SaldoOUT = @Saldo OUTPUT;
                END
                ELSE
                BEGIN
                    SELECT @Saldo = Saldo
                    FROM dbo.tbAuxiliares
                    WHERE ID = @AuxiliarID;
                END

                SET @CodTran = @CodRubro + 'PIN';
                SET @MensajeMov = NULL;

                -------------------------------------------------
                -- PROCESAR SOLO SI APLICA
                -------------------------------------------------
                IF @FechaUlt < @FechaProceso
                BEGIN
                    SET @DiasTranscurridos =
                        DATEDIFF(day, @FechaUlt, @FechaProceso);

                    SET @InteresGenerado =
                        (@Saldo * (@Tasa / 100.0)) / 12;

                    DECLARE @Observaciones NVARCHAR(MAX) =
                        CONCAT(
                            'Cálculo de intereses ahorro ',
                            DATENAME(MONTH, @FechaProceso),
                            ' ',
                            YEAR(@FechaProceso)
                        );

                    EXEC dbo.spMovimientos_GuardarMovimiento
                        @NumeroAsociado    = @RowNumeroAsociado,
                        @CodigoRubro       = @CodRubro,
                        @IDAuxiliar        = @AuxiliarID,
                        @CodigoTransaccion = @CodTran,
                        @Monto             = @InteresGenerado,
                        @UsuarioID         = @UsuarioID,
                        @Observaciones     = @Observaciones,
                        @MensajeVal        = @MensajeMov OUTPUT,
                        @MovimientoID_Capital = @MovimientoID_Capital OUTPUT,
                        @MovimientoID_Interes = @MovimientoID_Interes OUTPUT;

                    IF ISNULL(@MensajeMov,'') <> ''
                        THROW 50000, @MensajeMov, 1;

                    UPDATE dbo.tbAuxiliares
                    SET InteresCalculado       = ISNULL(InteresCalculado,0) + @InteresGenerado,
                        FechaUltCalculoInteres = @FechaProceso,
                        FechaModificacion      = GETDATE(),
                        UsuarioModifica        = @UsuarioID
                    WHERE ID = @AuxiliarID;

                    INSERT INTO dbo.tbAuxiliares_Intereses
                        (IDAuxiliar, FechaCalculo, FechaUltCalculo, SaldoAFecha,
                         InteresCalculadoAFecha, DiasIntereses,
                         Tasa, InteresCalculado, Usuario)
                    VALUES
                        (@AuxiliarID, GETDATE(), @FechaUlt, @Saldo,
                         ISNULL(@InteresAcumulado,0), @DiasTranscurridos,
                         @Tasa, @InteresGenerado, @UsuarioID);
                END

                -------------------------------------------------
                -- LOG DETALLE
                -------------------------------------------------
                SET @JsonDetalle =
                    JSON_MODIFY(
                        @JsonDetalle,
                        'append $',
                        JSON_QUERY(
                            (
                                SELECT
                                    @LogH_ID     AS LogH_ID,
                                    @AuxiliarID  AS RefID,
                                    'AUXILIAR'   AS RefTipo,
                                    @MesProceso  AS Mes,
                                    @AnioProceso AS Año,
                                    SYSDATETIME() AS FechaInicio,
                                    SYSDATETIME() AS FechaFin,
                                    'S' AS Resultado,
                                    CASE
                                        WHEN @FechaUlt < @FechaProceso
                                        THEN 'Intereses ahorro calculados correctamente'
                                        ELSE 'No se procesó: intereses ya calculados fuera del cierre mensual'
                                    END AS Mensaje
                                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                            )
                        )
                    );

                SET @Row += 1;
            END

            SET @MesProceso += 1;
            IF @MesProceso = 13
            BEGIN
                SET @MesProceso = 1;
                SET @AnioProceso += 1;
            END
        END

        COMMIT TRANSACTION;

        ---------------------------------------------------------
        -- MATERIALIZAR DETALLE
        ---------------------------------------------------------
        INSERT INTO dbo.tbLogProcesosAutomaticos_D
            (LogH_ID, RefID, RefTipo, Mes, Año, FechaInicio, FechaFin, Resultado, Mensaje)
        SELECT
            LogH_ID, RefID, RefTipo, Mes, Año,
            FechaInicio, FechaFin, Resultado, Mensaje
        FROM OPENJSON(@JsonDetalle)
        WITH (
            LogH_ID INT,
            RefID INT,
            RefTipo NVARCHAR(50),
            Mes INT,
            Año INT,
            FechaInicio DATETIME2(0),
            FechaFin DATETIME2(0),
            Resultado CHAR(1),
            Mensaje NVARCHAR(MAX)
        );

        ---------------------------------------------------------
        -- RESUMEN CABECERA
        ---------------------------------------------------------
        SELECT @CantAuxiliares = COUNT(DISTINCT RefID)
        FROM dbo.tbLogProcesosAutomaticos_D
        WHERE LogH_ID = @LogH_ID
          AND Resultado = 'S';

        SET @FechaFinProceso = SYSDATETIME();

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = @FechaFinProceso,
            Resultado = 'S',
            Mensaje = CONCAT(
                'Proceso BAT ejecutado correctamente. ',
                @CantAuxiliares,
                ' auxiliares trabajados con éxito.'
            )
        WHERE LogH_ID = @LogH_ID;

        SET @ReturnMessage = NULL;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @FechaFinProceso = SYSDATETIME();

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = @FechaFinProceso,
            Resultado = 'E',
            Mensaje = ERROR_MESSAGE()
        WHERE LogH_ID = @LogH_ID;

        SET @ReturnMessage = ERROR_MESSAGE();
    END CATCH
END
GO
