CREATE OR ALTER PROCEDURE dbo.spBatAuxiliares_CalcularInteresesPR
    @NumeroAsociado INT = NULL,
    @IdAuxiliar INT = NULL,
    @UsuarioID INT = 0,
    @ReturnMessage VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @LogH_ID INT,
        @LogHPrevioID INT,
        @AuxiliarID INT,
        @NumAsociado INT,
        @FechaUltCalculo DATE,
        @MesProceso INT,
        @AnioProceso INT,
        @MesObjetivo INT,
        @AnioObjetivo INT,
        @FechaProceso DATE,
        @MensajeCore VARCHAR(MAX),
        @FechaInicioProceso DATETIME2(0) = SYSDATETIME(),
        @FechaFinProceso DATETIME2(0),
        @JsonDetalle NVARCHAR(MAX) = N'[]',
        @CantAuxiliares INT;

    ---------------------------------------------------------
    -- MES OBJETIVO = MES PASADO
    ---------------------------------------------------------
    SET @MesObjetivo  = MONTH(DATEADD(MONTH, -1, GETDATE()));
    SET @AnioObjetivo = YEAR(DATEADD(MONTH, -1, GETDATE()));

    ---------------------------------------------------------
    -- ÚLTIMA CABECERA EXITOSA
    ---------------------------------------------------------
    SELECT TOP 1
        @LogHPrevioID = LogH_ID,
        @MesProceso  = Mes,
        @AnioProceso = Año
    FROM dbo.tbLogProcesosAutomaticos_H
    WHERE ProcName = 'spBatAuxiliares_CalcularInteresesPR'
      AND Resultado = 'S'
    ORDER BY Año DESC, Mes DESC;

    ---------------------------------------------------------
    -- SI YA ESTÁ AL DÍA → SALIR
    ---------------------------------------------------------
    IF @MesProceso = @MesObjetivo
       AND @AnioProceso = @AnioObjetivo
    BEGIN
        SET @ReturnMessage = 'Proceso ya se encuentra al día';
        RETURN;
    END

    ---------------------------------------------------------
    -- MES INICIAL A PROCESAR
    ---------------------------------------------------------
    IF @MesProceso IS NULL
    BEGIN
        SET @MesProceso  = @MesObjetivo;
        SET @AnioProceso = @AnioObjetivo;
    END
    ELSE
    BEGIN
        SET @MesProceso += 1;
        IF @MesProceso = 13
        BEGIN
            SET @MesProceso = 1;
            SET @AnioProceso += 1;
        END
    END

    ---------------------------------------------------------
    -- CABECERA NUEVA
    ---------------------------------------------------------
    INSERT INTO dbo.tbLogProcesosAutomaticos_H
        (ProcName, Mes, Año, FechaInicio)
    VALUES
        ('spBatAuxiliares_CalcularInteresesPR',
         @MesObjetivo,
         @AnioObjetivo,
         @FechaInicioProceso);

    SET @LogH_ID = SCOPE_IDENTITY();

    BEGIN TRY
        ---------------------------------------------------------
        -- TRANSACCIÓN GLOBAL
        ---------------------------------------------------------
        BEGIN TRANSACTION;

        ---------------------------------------------------------
        -- AUXILIARES PR
        ---------------------------------------------------------
        SELECT
            a.ID,
            a.NumeroAsociado,
            ROW_NUMBER() OVER (ORDER BY a.ID) AS RowNumber
        INTO #Pendientes
        FROM dbo.tbAuxiliares a
        WHERE IsNull(a.snEliminado,0) = 0
          AND IsNull(a.snActivo,1) = 1
          AND a.CodigoRubro = 'PR'
          AND (@IdAuxiliar IS NULL OR a.ID = @IdAuxiliar)
          AND (@NumeroAsociado IS NULL OR a.NumeroAsociado = @NumeroAsociado);

        DECLARE
            @TotalRows INT = (SELECT COUNT(*) FROM #Pendientes),
            @Row INT;

        ---------------------------------------------------------
        -- LOOP POR MESES PENDIENTES
        ---------------------------------------------------------
        WHILE (@AnioProceso < @AnioObjetivo)
           OR (@AnioProceso = @AnioObjetivo AND @MesProceso <= @MesObjetivo)
        BEGIN
            SET @FechaProceso =
                EOMONTH(DATEFROMPARTS(@AnioProceso, @MesProceso, 1));

            SET @Row = 1;

            -----------------------------------------------------
            -- LOOP AUXILIARES
            -----------------------------------------------------
            WHILE @Row <= @TotalRows
            BEGIN
                SELECT
                    @AuxiliarID  = ID,
                    @NumAsociado = NumeroAsociado
                FROM #Pendientes
                WHERE RowNumber = @Row;

                SELECT
                    @FechaUltCalculo = FechaUltCalculoInteres
                FROM dbo.tbAuxiliares
                WHERE ID = @AuxiliarID;

                SET @MensajeCore = NULL;

                -------------------------------------------------
                -- EJECUTAR CORE SOLO SI APLICA
                -------------------------------------------------
                IF @FechaUltCalculo IS NULL
                   OR @FechaUltCalculo < @FechaProceso
                BEGIN
                    EXEC dbo.spInteresesPR_Calcular
                        @NumeroAsociado = @NumAsociado,
                        @IdAuxiliar     = @AuxiliarID,
                        @UsuarioID      = @UsuarioID,
                        @FechaProceso   = @FechaProceso,
                        @snBat          = 1,
                        @ReturnMessage  = @MensajeCore OUTPUT;

                    IF ISNULL(@MensajeCore,'') <> ''
                        THROW 50000, @MensajeCore, 1;
                END

                -------------------------------------------------
                -- ACUMULAR DETALLE EN JSON
                -------------------------------------------------
                SET @JsonDetalle =
                    JSON_MODIFY(
                        @JsonDetalle,
                        'append $',
                        JSON_QUERY(
                            (
                                SELECT
                                    @LogH_ID      AS LogH_ID,
                                    @AuxiliarID   AS RefID,
                                    'AUXILIAR'    AS RefTipo,
                                    @MesProceso   AS Mes,
                                    @AnioProceso  AS Año,
                                    SYSDATETIME() AS FechaInicio,
                                    SYSDATETIME() AS FechaFin,
                                    'S' AS Resultado,
                                    CASE
                                        WHEN @FechaUltCalculo IS NULL
                                          OR @FechaUltCalculo < @FechaProceso
                                        THEN 'Intereses calculados correctamente'
                                        ELSE 'No se procesó: intereses ya calculados fuera del cierre mensual'
                                    END AS Mensaje
                                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                            )
                        )
                    );

                SET @Row += 1;
            END

            -------------------------------------------------
            -- AVANZAR MES
            -------------------------------------------------
            SET @MesProceso += 1;
            IF @MesProceso = 13
            BEGIN
                SET @MesProceso = 1;
                SET @AnioProceso += 1;
            END
        END

        COMMIT TRANSACTION;

        ---------------------------------------------------------
        -- MATERIALIZAR DETALLE (FUERA DE TRANSACCIÓN)
        ---------------------------------------------------------
        INSERT INTO dbo.tbLogProcesosAutomaticos_D
            (LogH_ID, RefID, RefTipo, Mes, Año, FechaInicio, FechaFin, Resultado, Mensaje)
        SELECT
            LogH_ID,
            RefID,
            RefTipo,
            Mes,
            Año,
            FechaInicio,
            FechaFin,
            Resultado,
            Mensaje
        FROM OPENJSON(@JsonDetalle)
        WITH (
            LogH_ID     INT,
            RefID       INT,
            RefTipo     NVARCHAR(50),
            Mes         INT,
            Año         INT,
            FechaInicio DATETIME2(0),
            FechaFin    DATETIME2(0),
            Resultado   CHAR(1),
            Mensaje     NVARCHAR(MAX)
        );

        ---------------------------------------------------------
        -- CONTAR AUXILIARES EXITOSOS
        ---------------------------------------------------------
        SELECT
            @CantAuxiliares = COUNT(DISTINCT RefID)
        FROM dbo.tbLogProcesosAutomaticos_D
        WHERE LogH_ID = @LogH_ID
          AND Resultado = 'S';

        ---------------------------------------------------------
        -- CABECERA OK (CON RESUMEN)
        ---------------------------------------------------------
        SET @FechaFinProceso = SYSDATETIME();

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = @FechaFinProceso,
            Resultado = 'S',
            Mensaje = CONCAT(
                'Proceso BAT ejecutado correctamente. ',
                @CantAuxiliares,
                ' auxiliares trabajados con éxito.'
            )
        WHERE LogH_ID = @LogH_ID;

        SET @ReturnMessage = NULL;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @FechaFinProceso = SYSDATETIME();

        UPDATE dbo.tbLogProcesosAutomaticos_H
        SET FechaFin = @FechaFinProceso,
            Resultado = 'E',
            Mensaje = ERROR_MESSAGE()
        WHERE LogH_ID = @LogH_ID;

        SET @ReturnMessage = ERROR_MESSAGE();
    END CATCH
END
GO
