create or ALTER PROCEDURE [dbo].[spAuxiliares_GuardarAuxiliar]
    @ID INT = 0,
    @NumeroAsociado INT,
    @CodigoRubro VARCHAR(5),
    @TipoAuxiliar INT,
    @Cuota NUMERIC(18,2) = 0,
    @Saldo NUMERIC(18,2) = 0,
    @MontoOriginal NUMERIC(18,2) = 0,
    @MontoPignorado NUMERIC(18,2) = 0,
    @FechaOtorgado DATETIME = NULL,
    @FechaUltimoPago DATETIME = NULL,           -- NUEVO
    @FechaUltCalculoInteres DATETIME = NULL,    -- NUEVO
    @FechaVencimiento DATETIME = NULL,          -- NUEVO
    @TasaInteres NUMERIC(18,2) = 0,
    @PagoMes NUMERIC(18,2) = 0,
    @UsuarioID INT,
    @PorcManejo numeric(18,2) = 0,
    @PorcCap numeric(18,2) = 0,
    @MontoManejo numeric(18,2) = 0,
    @MontoCap numeric(18,2) = 0,
    @IdSession NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    ---------------------------------------------------------
    -- VALIDACIONES (SIN TRANSACCIÓN)
    ---------------------------------------------------------
    IF @NumeroAsociado IS NULL OR @NumeroAsociado = 0
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El número de asociado es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF @CodigoRubro IS NULL OR @CodigoRubro = ''
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El código de rubro es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF @TipoAuxiliar IS NULL OR @TipoAuxiliar = 0
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El tipo de auxiliar es requerido' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (SELECT 1 FROM tbAsociados WHERE NumeroAsociado=@NumeroAsociado AND snEliminado=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El asociado no existe o está eliminado' AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    IF NOT EXISTS (SELECT 1 FROM tbRubros WHERE CodigoRubro=@CodigoRubro AND snEliminado=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 'El rubro no existe o está eliminado: ' + @CodigoRubro AS Mensaje, NULL AS NuevoID; 
        RETURN; 
    END

    ---------------------------------------------------------
    -- VALIDAR CANTIDAD DE AUXILIARES
    ---------------------------------------------------------
    DECLARE @MaxAuxiliares int;
    DECLARE @CantAuxiliares int;

    SELECT  @MaxAuxiliares = TRY_CAST(ParamValue AS INT)
    FROM    tbParamsKeys
    WHERE   ParamKey = ('MAX_CANT_AUXILIARES_SOCIO_' + @CodigoRubro);

    SET @MaxAuxiliares = ISNULL(@MaxAuxiliares, 5);

    SELECT @CantAuxiliares = COUNT(DISTINCT ID)
    FROM tbAuxiliares
    WHERE NumeroAsociado=@NumeroAsociado 
      AND snEliminado=0 
      AND snActivo=1
      AND CodigoRubro=@CodigoRubro;

    SET @CantAuxiliares = ISNULL(@CantAuxiliares, 0);

    IF (@CantAuxiliares>=@MaxAuxiliares AND @ID=0)
    BEGIN 
        SELECT 'ERROR' AS Resultado, 
               'El socio ya alcanzó el límite de auxiliares para este rubro <b>(' 
               + CAST(@MaxAuxiliares AS NVARCHAR(MAX)) 
               + ')</b>. No se generó el nuevo auxiliar.' AS Mensaje, 
               NULL AS NuevoID; 
        RETURN; 
    END

    ---------------------------------------------------------
    -- TRANSACCIÓN
    ---------------------------------------------------------
    DECLARE @TransaccionPropia BIT = 0;

    IF @@TRANCOUNT = 0
    BEGIN
        SET @TransaccionPropia = 1;
        BEGIN TRANSACTION;
    END

    DECLARE @Resultado VARCHAR(20) = 'SUCCESS';
    DECLARE @Mensaje NVARCHAR(300) = '';
    DECLARE @NuevoID INT = NULL;

    BEGIN TRY

        ---------------------------------------------------------
        -- CREAR
        ---------------------------------------------------------
        IF @ID = 0
        BEGIN
            UPDATE tbControlConsecutivos WITH (UPDLOCK, HOLDLOCK)
            SET @NuevoID = UltimoConsecutivo + 1,
                UltimoConsecutivo = UltimoConsecutivo + 1
            WHERE Tabla='tbAuxiliares';

            IF @@ROWCOUNT = 0 OR @NuevoID IS NULL
            BEGIN
                SET @Resultado='ERROR';
                SET @Mensaje='No se pudo generar el nuevo ID';
                IF @TransaccionPropia=1 ROLLBACK;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                RETURN;
            END

            SET @Saldo = 0;

            DECLARE @TipoAux int;
            SELECT @TipoAux = TipoAuxiliar 
            FROM tbTiposAuxiliares 
            WHERE ID=@TipoAuxiliar;

            INSERT INTO tbAuxiliares (
                ID,NumeroAsociado,CodigoRubro,TipoAuxiliar,
                Cuota,Saldo,MontoOriginal,MontoPignorado,
                FechaOtorgado,
                FechaUltimoPago,
                FechaUltCalculoInteres,
                FechaVencimiento,
                TasaInteres,PagoMes,
                FechaCreacion,UsuarioCrea,snEliminado,
                SysLastSessionID,InteresCalculado,InteresPagado,
                PorcManejo,PorcCapitalizacion,
                MontoManejo,MontoCapitalizacion,snActivo
            )
            VALUES (
                @NuevoID,@NumeroAsociado,@CodigoRubro,@TipoAux,
                @Cuota,@Saldo,@MontoOriginal,@MontoPignorado,
                @FechaOtorgado,
                @FechaUltimoPago,
                @FechaUltCalculoInteres,
                @FechaVencimiento,
                @TasaInteres,@PagoMes,
                GETDATE(),@UsuarioID,0,
                @IdSession,0,0,
                @PorcManejo,@PorcCap,
                @MontoManejo,@MontoCap,1
            );

            SET @Mensaje='Auxiliar creado exitosamente';
        END

        ---------------------------------------------------------
        -- ACTUALIZAR
        ---------------------------------------------------------
        ELSE
        BEGIN
            UPDATE tbAuxiliares
            SET CodigoRubro=@CodigoRubro,
                TipoAuxiliar=@TipoAuxiliar,
                Cuota=@Cuota,
                Saldo=@Saldo,
                MontoOriginal=@MontoOriginal,
                MontoPignorado=@MontoPignorado,
                FechaOtorgado=@FechaOtorgado,
                FechaUltimoPago=@FechaUltimoPago,
                FechaUltCalculoInteres=@FechaUltCalculoInteres,
                FechaVencimiento=@FechaVencimiento,
                TasaInteres=@TasaInteres,
                PagoMes=@PagoMes,
                FechaModificacion=GETDATE(),
                UsuarioModifica=@UsuarioID,
                MontoManejo=@MontoManejo,
                MontoCapitalizacion=@MontoCap,
                SysLastSessionID=@IdSession
            WHERE ID=@ID ;

            IF @@ROWCOUNT = 0
            BEGIN
                SET @Resultado='ERROR';
                SET @Mensaje='No se encontró el auxiliar a actualizar';
                IF @TransaccionPropia=1 ROLLBACK;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, NULL AS NuevoID;
                RETURN;
            END

            SET @Mensaje='Auxiliar actualizado exitosamente';
        END

        IF @TransaccionPropia = 1 COMMIT;

    END TRY
    BEGIN CATCH
        IF @TransaccionPropia = 1 AND @@TRANCOUNT > 0 ROLLBACK;

        SELECT 
            'ERROR' AS Resultado,
            'Error al guardar auxiliar: ' + ERROR_MESSAGE() AS Mensaje,
            NULL AS NuevoID;
        RETURN;
    END CATCH

    SELECT @Resultado AS Resultado,
           @Mensaje AS Mensaje,
           @NuevoID AS NuevoID;
END