
ALTER PROCEDURE [dbo].[spCuentas_Obtener]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
            ID,
            Cuenta,
            Nombre,
            IDGrupo,
            Saldo,
            snImputable
        FROM tbCuentas
        WHERE ID = @ID
            AND snEliminado = 0;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

