
create or alter PROCEDURE [dbo].[spCuentas_GuardarImputable]
    @ID INT = NULL,
    @snImputable BIT,
    @UsuarioID INT,
    @IdSession NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        DECLARE @NuevoID INT = 0
        
        -- ACTUALIZAR
        UPDATE tbCuentas SET
            snImputable = @snImputable,
            FechaModificacion = GETDATE(),
            UsuarioModifica = @UsuarioID,
            SysLastSessionID = @IdSession
        WHERE ID = @ID AND snEliminado = 0;
            
        IF @@ROWCOUNT = 0
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'No se encontrÃ³ la cuenta para actualizar';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
            
        SET @NuevoID = @ID;
        SET @Resultado = 'SUCCESS';
        SET @Mensaje = 'Cuenta actualizada correctamente';
        
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje, 0 AS NuevoID;
    END CATCH
END

