
ALTER PROCEDURE [dbo].[spCuentas_Guardar]
    @ID INT = NULL,
    @Cuenta VARCHAR(50),
    @Nombre NVARCHAR(255),
    @IDGrupo INT,
    @snImputable BIT = 0,
    @UsuarioID INT,
    @IdSession NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Variables para resultado
        DECLARE @Resultado VARCHAR(20) = 'SUCCESS'
        DECLARE @Mensaje VARCHAR(500) = ''
        DECLARE @NuevoID INT = 0
        
        -- Validaciones
        IF @Cuenta IS NULL OR LTRIM(RTRIM(@Cuenta)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El número de cuenta es requerido';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El nombre de la cuenta es requerido';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        IF @IDGrupo IS NULL OR @IDGrupo = 0
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El grupo de cuenta es requerido';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Verificar que el grupo existe
        IF NOT EXISTS (SELECT 1 FROM tbGrupoCuenta WHERE IDGrupo = @IDGrupo)
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'El grupo de cuenta especificado no existe';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Verificar duplicados (Cuenta único)
        IF EXISTS (
            SELECT 1 FROM tbCuentas 
            WHERE Cuenta = @Cuenta 
                AND snEliminado = 0
                AND (@ID IS NULL OR ID != @ID)
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'Ya existe una cuenta con el mismo nÃºmero de cuenta';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Verificar duplicados (Nombre Ãºnico)
        IF EXISTS (
            SELECT 1 FROM tbCuentas 
            WHERE Nombre = @Nombre 
                AND snEliminado = 0
                AND (@ID IS NULL OR ID != @ID)
        )
        BEGIN
            SET @Resultado = 'ERROR';
            SET @Mensaje = 'Ya existe una cuenta con el mismo nombre';
            ROLLBACK TRANSACTION;
            SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
            RETURN;
        END
        
        -- Insertar o actualizar
        IF @ID IS NULL OR @ID = 0
        BEGIN
            -- INSERTAR
            INSERT INTO tbCuentas (
                Cuenta,
                Nombre,
                IDGrupo,
                Saldo,
                snImputable,
                FechaCreacion,
                UsuarioCrea,
                snEliminado,
                SysLastSessionID
            )
            VALUES (
                @Cuenta,
                @Nombre,
                @IDGrupo,
                0, -- Saldo inicial en 0
                @snImputable,
                GETDATE(),
                @UsuarioID, 
                0,
                @IdSession
            );
            
            SET @NuevoID = SCOPE_IDENTITY();
            SET @Resultado = 'SUCCESS';
            SET @Mensaje = 'Cuenta guardada correctamente';
        END
        ELSE
        BEGIN
            -- ACTUALIZAR
            UPDATE tbCuentas SET
                Cuenta = @Cuenta,
                Nombre = @Nombre,
                IDGrupo = @IDGrupo,
                snImputable = @snImputable,
                FechaModificacion = GETDATE(),
                UsuarioModifica = @UsuarioID,
                SysLastSessionID = @IdSession
            WHERE ID = @ID AND snEliminado = 0;
            
            IF @@ROWCOUNT = 0
            BEGIN
                SET @Resultado = 'ERROR';
                SET @Mensaje = 'No se encontrÃ³ la cuenta para actualizar';
                ROLLBACK TRANSACTION;
                SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
                RETURN;
            END
            
            SET @NuevoID = @ID;
            SET @Resultado = 'SUCCESS';
            SET @Mensaje = 'Cuenta actualizada correctamente';
        END
        
        COMMIT TRANSACTION;
        
        -- Devolver resultado
        SELECT @Resultado AS Resultado, @Mensaje AS Mensaje, @NuevoID AS NuevoID;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Resultado, 'Error: ' + ERROR_MESSAGE() AS Mensaje, 0 AS NuevoID;
    END CATCH
END

