
CREATE OR ALTER PROCEDURE [dbo].[spTransacciones_Listar]
    @NumeroAsociado INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT tr.[IDTransaccion]
              ,[FechaHora]
              ,usr.Usuario Cajero
              ,IsNull(movs.CantTran,0) as CantTran
          FROM [tbTransacciones] tr
                INNER JOIN tbUsuarios usr on tr.Usuario = usr.Id
                Left Join (Select IDTransaccion, Count(*) CantTran 
                            from tbMovimientos Group by IDTransaccion) as movs 
                                on movs.IDTransaccion = tr.IDTransaccion
          Where tr.NumeroAsociado=@NumeroAsociado
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
EXEC [spTransacciones_Listar] 258